/*

Darko Bunic
http://www.redips.net/
Apr, 2011.

*/



/* make drag container visible */
/*
#redips-drag {
	border: 2px dashed LightBlue; 
	width: 580px;
	padding: 10px;
	margin: 0px auto;
}

*/

/* styles for first two tables */
#lib_questions_table, #batch_questions{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 17px;
border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);

}

/* set table row height */
div#redips-drag table tr {
	height: 32px;
}

/* table cells */
div#redips-drag td {
	/* IE8 BUG - applying alpha filter on TD will overwrite TD border - thank you MicroSoft for tearing my hair :P */
	/* I also tried with outline and that was fine, but Opera11 place high zIndex to outline grid and that looks wierd */
	/* so, I paint TR to white with JavaScript and applying aplha filter to table content (DIV elements) */
	border: 1px solid #eee;
}

/* table titles */
div#redips-drag th {
	font-size: 14pt;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 10pt;
	width: 70px;
	height: 20px;
	line-height: 20px;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}

/* blue DIV elements */
.blue {
	border-color: SteelBlue;
}

/* orange DIV elements */
.orange {
	border-color: #FF8A58;
}

/* DIV row handlers (blue left column) */
.redips-row {
	width: 20px;
	margin: 2px;
	padding:1px;

}

/* row handler TD background color */
.redips-rowhandler {
	/*background-color: #76ACDA;*/

}

/* marked cells (forbidden access for header and message line) */
.redips-mark {
	color: white;
	background-color: #33CCFF;opacity: 0.9; filter: alpha(opacity=90);box-shadow: 1px 1px 1px 1px;
	text-align: center;

}

/* row dark */
.rd {
	background-color: #ddd;
}

/* row light */
.rl {
	background-color: #eee;
}

/* cell dark */
.cdark {
	background-color: #C6C8CB;
}

/* trash cell */
.redips-trash {
	color: white;
	background-color: steelBlue;
	text-align: center;
}

/* instructions */
.inst {
	color: grey;
	width: 580px;
	padding: 10px;
	margin: 0px auto;
}

/* message cell */
.messageLine {
	padding-left: 10px;
	margin-bottom: 3px;
	font-size: 12pt;
	color: #888;
}
