{% extends "form.html" %}
{% block title %} {{ title }} {% endblock %}
{% block display_form_fields %}
  {% include "naked_form.html" with a_form=groups_form %}
  <div class="control-group">
    <div class="controls">
      <a href="#new_condition" class="btn btn-primary pull-right" data-toggle="modal" onclick="clear_fields()"><i class="icon-plus icon-white"></i>Add condition </a>
    </div>
  </div>
{% endblock %}

{% block non_form_content %}
  <div class="modal fade" id="new_condition" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Condition</h4>
      </div>
      <div class="modal-body">
        {% include "household_member_groups/conditions/new_condition.html" with title="" action="/conditions/new/"  %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

