label.error{
  color: red;
  display: inline;
  padding-left: 5px;
}

label{
display: inline;
}
.controls ul li{
  display: inline;
  list-style-type: none;
}

.table th, .table td {
     border-top: none;
     border-bottom: none;
 }

#location-widget{
  margin: 0;
  & > li{
    list-style: none;
    float: left;
    margin-right: 10px;
    label{
      display: block;
      font-weight: bold;
    }
  }
}