label.error{
  color: red;
  display: inline;
  padding-left: 5px;
}

label{
display: inline;
}
.controls ul li{
  display: inline;
  list-style-type: none;
}

#location-widget{
  margin: 0;
  & > li{
    list-style: none;
    float: left;
    margin-right: 10px;
    label{
      display: block;
      font-weight: bold;
    }
  }
}

#aggregates-form{
  button{
    margin-top: 10px;
  }
}

#download-csv-form{
  margin-top: 20px;
  button{
    margin-left: 10px;
    position: relative;
    top: -5px;
  }
}