


/* global resets */

.f-left {float:left;}
.f-right{float:right;}
img a {border:none;	}
.content-pad {padding:12px 19px;}
/* article assumeables */
#section-icon
	 {position:relative;top:0;right:-5px;padding-bottom:15px;}

/* 
   styles for breadcrumb in header section 
-----------------------------------------  */
#breadcrumbs {position:relative; margin-top:-3px!important;float:left; }
#breadcrumbs, #breadcrumbs li 
	{margin:0; padding:0; font-size:11px;text-align: left; color:#999!important}
#breadcrumbs a 
	{font-size:11px; color:#000;}
#breadcrumbs a:hover 
	{color:#990033;} /* standard bbandt  link hover color */
#breadcrumbs li 
	{display:inline;}
	
	
#learn-plan-landing #breadcrumbs {position:relative;top:0;left:0;margin:0;padding:0; float:left;width:320px;}
	
	ol li, ul li {margin:6px 0;}
	
/* typography */
.centre-hold h1 
	{
		color:#000; font-size:14px; font-weight:bold;
		background-position:bottom left!important;
		background-repeat:no-repeat!important;
		padding: 0  0 13px 0;
		margin:6px 0 12px 0 ;
		text-align:left;
	}	
	
	
#learn-plan-landing .centre-hold h1  {margin:35px 0 15px 5px;font-size:18px;}
	
.article-hold h2, .article-hold h3 {color:#000; margin:0 0 -6px 0;;padding:0;}	

.article-hold h3 {font-size:12.5px;}
.article-hold h2 {font-size:14px;}

.article-hold p, .article-hold li  {padding:4px 0; margin:3px auto;line-height:18px;}


/* basic elements  */

.centre-hold  
	{  /*width:545px; */width:100%;
		text-align:center;
		background: url(../images/education-images/paper-front_face.jpg) no-repeat top ; 
	}

.article-hold  

	{ 	text-align:left;

		padding-bottom:15px;
	
		/*height:100%; needed to get the bottom element for ie6 to show up */	
	}
.ending-element 
	{
		background-repeat:no-repeat!important;
		background-position:bottom center!important;
		padding-top:20px;clear:both;
	}
	
.phto-right {float:right;margin-top:15px;margin-right:-5;padding-left:12px;}
.phto-left {float:left;margin-top:15px;margin-left:-5px;padding-right:12px;}


.article-divider {text-align:center;margin:9px 5px 3px 5px;height:20px;clear:both;}
.article2-division {/*background: url(../images/education-images/section-element-division1.gif) no-repeat bottom center ;*/padding-bottom:10px;margin-bottom:5px;}
#article-ending {background:none!important;}

/* landing pages */

#learn-plan-landing .article-division {padding-top:15px}


#learn-plan-landing  .centre-hold {width:548px;}
#learn-plan-landing .article-division ul {list-style:none; margin:12px 0 2px 5px; padding:0;}
#learn-plan-landing .article-division li {margin:0px 0; padding:0px 0 5px 2px;}
#learn-plan-landing .article-division li  span{ background: url(../images/education-images/icon-article.gif)  top left no-repeat; padding-left:35px;}
#learn-plan-landing .article-division span.video {background: url(../images/education-images/icon-video.gif) top left no-repeat;}
 .row-accent a{background: url(../images/education-images/art-list-row-rpt.gif) repeat-y; } 

#learn-plan-landing .article-division ul li span {display:block!important;} 

#learn-plan-landing .article-division ul a {margin:4px 0;display:block; padding:3px 0; height:1%;}

#learn-plan-landing .article-division ul a:link, #learn-plan-landing .article-division ul a:visited  {text-decoration:none;color:#1313a3;  }
#learn-plan-landing .article-division ul a:hover {color:#bd0d0d}

#article-listing  
	{  			
		background: url(../images/education-images/learnplan-rpt.gif) repeat-y top ; 
	}

#learn-plan-landing .article-hold  

	{ 	padding-bottom:1px;
	
		/*height:100%; needed to get the bottom element for ie6 to show up */	
	}



/*Rounded Corner Callout Box*/

.box { 	
		text-align:left;
		width: 526px;
		background-repeat: repeat-y;		
		margin: 0px 0 16px 0;
}

.box h2, .box .last {background-repeat:no-repeat!important;} 
.box h2 { background-position: left top;
		margin: 0; height: 40px; padding-top: 17px; 
		text-align: center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:16px; color: #000;
}
.box .last { background-position: left bottom;
		margin: 0; height: 33px;
}
.box p ul li {padding: 0 20px 0 20px;
}
.contentpad {padding: 0 35px 5px 35px;
}



/* photo designs */

.frame-large-left img, .frame-large-right img, .frame-large-right-white img, .frame-large-left-white img {position:relative; top:26px; left:16px;}

.frame-large-left , .frame-large-right 
					{
					width:225px; height:198px; 
					background: url(../images/education-images/large-frame-photo.jpg) no-repeat center; 
					} 

.frame-large-left-white, .frame-large-right-white 
					{
					width:225px; height:198px; 
					background: url(../images/education-images/large-frame-photo-white.jpg) no-repeat center; 
					} 

.frame-large-left, .frame-large-left-white {	
					
					float:left;
					margin:8px 8px 12px 0px;				
				}
				
.frame-large-right, .frame-large-right-white
				 {	
					float:right;
					margin:8px 0px 12px 12px;				
				}
/* small frame image styles */ 

/* right */ 

.frame-small-right, .frame-small-right-white 
				{
				width:158px; height:124px; 
				float:right;
				margin:0;				
				}
.frame-small-right				
				{
 				background: url(../images/education-images/frame-small.jpg) no-repeat center; 
				}
.frame-small-right-white				
				{
 				background: url(../images/education-images/frame-small-white.jpg) no-repeat center; 
				}


/* left */ 
.frame-small-left, .frame-small-left-white  
				{	
				width:158px; height:124px; 					
				float:left;
				margin:5px 8px 3px 0;				
				}
				
.frame-small-left
			 	{
				 background: url(../images/education-images/frame-small.jpg) no-repeat center; 
				}

.frame-small-left-white 
				{	
				background: url(../images/education-images/frame-small-white.jpg) no-repeat center;			
				}
.frame-small-left img, .frame-small-right img, .frame-small-left-white img, .frame-small-right-white img 
				{
				position:relative; top:17px; left:12px;
				}


/*End Rounded Corner Callout Box*/

/* calculators */ 
.extra-content {width:486px; margin:24px auto;}
.extra-padding { padding:14px 12px 0px 18px;
						background:url(../images/education-images/calc-rpt.jpg) repeat-y center;
						margin:0;
						}
.extra-padding  a {line-height:19px;}
.extra-content h5 
							{	
							margin:0 0 -5px 0; padding:0; 
							background:url(../images/education-images/calc-top.jpg) no-repeat center;
							height:39px;
							font-family:Verdana, Arial, Helvetica, sans-serif;
							font-size:14px; 
							font-weight:bold;
							color:#000; 			

							}
							
.extra-content h5 span {display:block;position:relative;top:15px; left:20px;}			

/*
General
Credit
Home&Residence
Income Tax & Estate Planning
Retirement
Insurance
Investing
Issues Facing Parents
Young Adults
Small Business
Security
*/

/* sets the colors for article title headings */


/* general (blue)  */ 
#general .article-hold .ending-element {background: url(../images/education-images/ending-accent-general.gif); }
#general h1 {	background: url(../images/education-images/hdr_rule-general.jpg);}

/* borrowing */ 
#borrowing .article-hold .ending-element {background: url(../images/education-images/ending-accent-borrowing.gif); }
#borrowing h1 {	background: url(../images/education-images/hdr_rule-borrowing.jpg);}

/* debt */ 
#Debt .article-hold .ending-element {background: url(../images/education-images/ending-accent-debt.gif); }
#Debt h1 {	background: url(../images/education-images/hdr_rule-debt.jpg);}

/* savings */ 
#borrowing .article-hold .ending-element {background: url(../images/education-images/ending-accent-savings.gif); }
#borrowing h1 {	background: url(../images/education-images/hdr_rule-savings.jpg);}

/* planning */ 
#borrowing .article-hold .ending-element {background: url(../images/education-images/ending-accentborrowing.gif); }
#borrowing h1 {	background: url(../images/education-images/hdr_rule-borrowing.jpg);}

/* color overrides for optional call out box */
#general .box {background: url(../images/education-images/rounded-tile-general.gif); }
#general .box h2 {background: url(../images/education-images/rounded-top-general.gif);}
#general .box .last { background: url(../images/education-images/rounded-bottom-general.gif);}

/* Young Adults -med blue */ 
#youngadults .article-hold .ending-element{background: url(../images/education-images/ending-accent-youngadults.gif); }
#youngadults h1 {	background: url(../images/education-images/hdr_rule-youngadults.jpg);}

/* security (red deep) */ 
#security .article-hold .ending-element{background: url(../images/education-images/ending-accent-security.gif); }
#security h1{	background: url(../images/education-images/hdr_rule-security.jpg);}
/* #security .box {background: url(../images/education-images/rounded-tile-security.gif); }
#security .box h2 {background: url(../images/education-images/rounded-top-security.gif);}
#security  .box .last { background: url(../images/education-images/rounded-bottom-security.gif);} */

/* credit  - green */ 
#credit .article-hold .ending-element {background: url(../images/education-images/ending-accent-credit.gif); }
#credit h1, #credit-landing h1 {	background: url(../images/education-images/hdr_rule-credit.jpg);}


/* proposed neutral call out box  - */ 
.box {background: url(../images/education-images/rounded-tile-general.gif); }
.box h2 {background: url(../images/education-images/rounded-top-general.gif);}
.box .last { background: url(../images/education-images/rounded-bottom-general.gif);}


/* insurance  - light cyan */ 
#insurance .article-hold .ending-element {background: url(../images/education-images/ending-accent-insurance.gif); }
#insurance h1 {	background: url(../images/education-images/hdr_rule-insurance.jpg);}
#insurance .article-hold .ending-element {background: url(../images/education-images/ending-accent-insurance.gif); }

/* incometax  - light cyan */ 
#incometax .article-hold .ending-element {background: url(../images/education-images/ending-accent-incometax.gif); }
#incometax h1 {	background: url(../images/education-images/hdr_rule-incometax.jpg);}
#incometax .article-hold .ending-element {background: url(../images/education-images/ending-accent-incometax.gif); }

/* issuesparents  - light cyan */ 
#issuesparents.article-hold .ending-element {background: url(../images/education-images/ending-accent-issuesparents.gif); }
#issuesparents h1 {	background: url(../images/education-images/hdr_rule-issuesparents.jpg);}
#issuesparents .article-hold .ending-element {background: url(../images/education-images/ending-accent-issuesparents.gif); }

/* investing  - light cyan */ 
#investing .article-hold .ending-element {background: url(../images/education-images/ending-accent-investing.gif); }
#investing h1 {	background: url(../images/education-images/hdr_rule-investing.jpg);}
#investing .article-hold .ending-element {background: url(../images/education-images/ending-accent-investing.gif); }

/* homeresidence  - light cyan */ 
#homeresidence .article-hold .ending-element {background: url(../images/education-images/ending-accent-homeresidence.gif); }
#homeresidence h1 {	background: url(../images/education-images/hdr_rule-homeresidence.jpg);}
#homeresidence .article-hold .ending-element {background: url(../images/education-images/ending-accent-homeresidence.gif); }

/* homeresidence  - light cyan */ 
#retirement .article-hold .ending-element {background: url(../images/education-images/ending-accent-retirement.gif); }
#retirement h1 {	background: url(../images/education-images/hdr_rule-retirement.jpg);}
#retirement .article-hold .ending-element {background: url(../images/education-images/ending-accent-retirement.gif); }

/* smallbusiness  - light cyan */ 
#smallbusiness .article-hold .ending-element {background: url(../images/education-images/ending-accent-smallbusiness.gif); }
#smallbusiness h1 {	background: url(../images/education-images/hdr_rule-smallbusiness.jpg);}
#smallbusiness .article-hold .ending-element {background: url(../images/education-images/ending-accent-smallbusiness.gif); }

/* smallbusiness  - light cyan */ 
#smallbusiness .article-hold .ending-element {background: url(../images/education-images/ending-accent-smallbusiness.gif); }
#smallbusiness h1 {	background: url(../images/education-images/hdr_rule-smallbusiness.jpg);}
#smallbusiness .article-hold .ending-element {background: url(../images/education-images/ending-accent-smallbusiness.gif); }/* smallbusiness  - light cyan */ 


#savings .article-hold .ending-element {background: url(../images/education-images/ending-accent-savings.gif); }
#savings h1 {	background: url(../images/education-images/hdr_rule-savings.jpg);}

#planning .article-hold .ending-element {background: url(../images/education-images/ending-accent-planning.gif); }
#planning h1 {	background: url(../images/education-images/hdr_rule-planning.jpg);}


#protection .article-hold .ending-element {background: url(../images/education-images/ending-accent-protection.gif); }
#protection h1 {	background: url(../images/education-images/hdr_rule-protection.jpg);}


/* 

general
debt  - not in "education centre" template yet
borrowing - not in "education centre" template yet
savings - not in "education centre" template yet
planning - not in "education centre" template yet
youngadults
security
credit
insurance
incometax
issuesparents
investing
homeresidence
retirement
smallbusiness


*/ 


/* general article copy formats */

#security .content-pad ul {margin:2px 0 8px 8px;padding:4px 2px 4px 24px ;list-style:square} 
#security .content-pad ul li {margin:4px 0; padding:2px 4px 2px 4px;} 

#security .content-pad ul ul {margin:5px 0; padding:2px 4px 2px 12px;list-style:circle ;} 

/* copy table styles */ 


.table-skin 
				{
				margin:12px auto;
				text-align:center;
				width:510px;
				
				}
body .table-skin td {font-size:11px;}
		
.table-skin h3 
				{				
				/* background: url(../images/education-images/textured-table_top.jpg) no-repeat top;*/
				 background: url(../images/education-images/table-gradient-th.jpg) repeat-x top;
				 height:37px; 
				margin:0; padding:0; font-size:13px;overflow:hidden;				
				}				
.table-skin span 
				{
				display:block; padding-top:10px;
				background: url(../images/education-images/table-corner-lft.jpg) no-repeat 0 0;height:37px;
				}				
.table-pad 
				{
				border-style:solid; border-width:0 2px 0 2px; 
				border-color:#dfdddd;				
				margin:0 auto;
				}
.textured-table 
				{
				cellpadding:0; border:0;margin:0;
			
				
				border-style:solid; border-width:0 2px 0 2px; border-color:#fff;
				bacground:#fafafa;
				text-align:left;
				
				}
.textured-table td
					{
					vertical-align:top;
					padding:6px 8px;
					/* border-bottom:dashed 1px #d1d1d1; */
					background: url(../images/education-images/dotted-lines.gif) repeat-x bottom;
					}
.textured-table #last td  
					{
					border-bottom:none!important;					}
.textured-table .alt td  {	background: #f8f8f8 url(../images/education-images/dotted-lines.gif) repeat-x bottom;;} 

 .textured-table .primary  {	background:none;} 
body .leader { font-weight:bold; vertical-align:top;font-size:1.1em!important;}

.textured-table th 
					{
					font-size:1.1em; text-align:center;					
					height:37px;
					}
.centre {text-align:center;}					
.textured-table .third {font-style:italic!important; text-align:center;} 
.bottom-bar 
				{
				background: url(../images/education-images/bottom-bar-rpt.jpg) repeat-x ; height:18px;
				 }

/* landing page*/


 #landing-hold 
					{
						width:770px;
						position:relative;
						margin:0px auto 0px auto;
						background: url(../images/education-images/bg-main.jpg) no-repeat top;
						position:relative; top:3px;					
				
						}    
						
.landing-intro  {
				padding: 0px 0px 15px 20px;
				 width:230px;
				 margin:0 0 0 0 ;
				position:relative;top:15px;
				 line-height:14px;
				 height:66px;
				 color:#484545;
				 line-height:16px;
				

				}
				
/* calculator */ 	

.calc-hold 		{
				width:241px;
				position:relative;
				top:22px;
				left:3px;
				
			
				margin-bottom:22px;
				}
#calculator 
				{
				width:100%;
				background: url(../images/education-images/calc-rpt2.jpg) repeat-y; 
				float:left;
				}
				
#calculator p 	{
					font-size:11px;
					margin:0 0 8px 0 ;padding:0 ;
					}
			
.c-pad 			{
					padding:0px 15px;
					margin-top:-15px;
					}	

#calculator ul {
					margin:2px 0!important;
					padding:0!important ;
					background:#ededed;
					list-style:none;
					float:left;

					width:100%;
					}
#calculator  li 
				{
				float:left;
				width:105px;
				height:30px;	
				padding:3px 0 0 0px!important;
				line-height:13px;
				margin:0!important
				
				}					

#calculator a {
					color:#717171;
					position:relative;
					top:3px;
					left:5px;
					display:block;		
					font-size:11px;
					}
#calculator a:hover {
							color:#990033;
							}
									
	#flash-holder {
						position:absolute;
						top:6px;
						right:11px;
						width:407px;

						}
	.float-left: {float:left; }
	
	#categories {width:425px; position:absolute; right:-2px; top:185px;}
#categories .category-box {float:left;margin:1px 1px 4px 1px;;}	

.category-box 		{
						width:139px;
						height:101px;						
						backgrround-repeat: no-repeat;
						background-position: top left;
						text-align:center;
						position:relative;
						display:inline; /* needed for ie 6 */
						}
						
						
.category-box h3 
							{
							margin:0;
							padding:8px 0 0 0 ;							
							font-size:14px;
							position:relative;
							top:3px;
							right:4px;
			
							}
body .category-box p {
						text-align:left;
						font-size:11px!important;
						line-height:11px!important;
						padding: 0 10px 0 12px!important;
						margin:13px 0 0 0 ;
						color:#3b3b3b;
						font-family:Arial, Helvetica, sans-serif!important;
						}						
							
						
#borrowing.category-box  		{
					background: url(../images/education-images/bg-category-borrowing.gif);
					 }				
					 
	
					 			 		
#borrowing.category-box h3 {color:#4b3e8b;}					 
#credit.category-box   			{
					background: url(../images/education-images/bg-category-credit.gif);
					 }					 
#credit.category-box h3 {color:#185315;}					 					 
#debt.category-box   			{
					background: url(../images/education-images/bg-category-debt.gif);
				 	}						 
#debt.category-box h3 {color:#592c54;}					 					 					
#savings.category-box 			{
					background: url(../images/education-images/bg-category-savings.gif);
					 }		
#savings.category-box h3 {color:#4b4c4b;}					 					 					 				 
#planning.category-box  		{
					background: url(../images/education-images/bg-category-planning.gif);
					 }	
#planning.category-box h3 {color:#161a43;}					 					 					 
#security.category-box 		{
					background: url(../images/education-images/bg-category-security.gif);
					 }	
#security.category-box h3 {color:#4c1010;}


#homeresidence.category-box 		{
					background: url(../images/education-images/bg-category-homeres.gif);
					 }	

#homeresidence.category-box h3 {color:#302c2c;line-height:12px!important;margin-top:2px;}		
#homeresidence.category-box p{color:#302c2c!important;}
				
				
#taxestate.category-box h3 {color:#8b612d;line-height:12px!important;font-size:13px;position:relative; top:1px;}					 					 					 
#taxestate.category-box 		{
					background: url(../images/education-images/bg-category-estatetax.jpg);
					 }					
					 
					 
#protection.category-box 		{
					background: url(../images/education-images/bg-category-protection.jpg);
					 }	
					 
#protection.category-box  h3 {line-height:16px;margin-bottom:11px;position:relative;left:-6px;}
#protection.category-box h3 {color:#525614;}

#youngadults.category-box {background: url(../images/education-images/bg-category-youngadults.gif);}		 
#youngadults.category-box  h3 {color:#006699;line-height:12px!important;margin-bottom:11px;position:relative;top:1px;}

					 					 					 
.absolute-link 	{
					position:absolute;
					width:139px;
					height:101px;
					left:0;
					top:0;
					z-index:300;
					}
borrowing a:hover	{
					background: url(../images/education-images/bg-category-credit.gif);
					 }		
			 	