/*
dairyqueen.com authored by James Sample 

 global settings ************************************************************/

/*
changed all bold to NORMAL
*/

body 		        {
					color:#1d1503;
					font-family:verdana,helvetica,geneva,swiss,sunsans-regular;
					font-size:12px;
					margin:0;
					padding:0;
					text-align:center;
					background: #fff;
					}

Right 	{float:right;	}
					
.block {display:block;}					

a img 			{ 	border:none;	}
.right 			{	float:right;		}
.left 				{	float:left;		}
.clear 			{   clear:left;		}
table 				{	border:0;		}
table td 			{	padding:0;		}
					
.feature-center {text-align:center; font-size:1.1em;}

.left				{	float:left;	} 
.right 	{float:right;	}
/* form  resetting */ 
fieldset 
					{	
						margin:0  ;
						padding:0;
						border:none;
					}
					
form 				{
						margin:0px;
						padding:0px;
					}
ul.reset {margin:20px 0!important; padding:0; list-style:none;}
.reset li {margin:2px 0 0px 0; padding:0;} 	

/* link and typorgraphy */					
					
body a, #secondary-column a 		{
				color:#433d32
					}
.reset a:link {color:#990033!important;}

body a:hover, #secondary-column a:hover 		{
				color:#990033;
				text-decoration:none;
				
					}
									

/* interface layout **************************************************** */					

				
.root		{
				background: url(../images/root-bg.jpg) repeat-y center;
				margin:0 auto 1px auto;
				text-align:left;
				width:959px;
				
				z-index:1;			
				
				}

#header	 	
            {
		background: #fff;
			height:87px;
			position:relative;
			z-index:0;
			}
				


/* menu */				
#menu 			{
					background: url(../images/bg-menu.gif) repeat-x;
					float:left;
					width:300px;
					margin-top:10px;
					
					}
					
#menu ul , #menu li {float:left; margin:0 0 0 0;padding:0;list-style:none;}						
#menu ul {position:relative; left:10px;}
#menu li {padding:0 0 0 8px;}
#menu li  a {margin-right:5px;}

#menu li a:hover, #menu li a:hover {text-decoration:none; color:#990033}


#menu li  a:hover{text-decoration:underline;}

#primary-column 
				{
				float:right;
				width:700px;
				
				}
		
#secondary-column 
							{
							float:left;
							position:relative;
							width:250px;
    						padding-bottom:24px;				
							}


#secondary-column ul strong {display:block;margin:4px 0;} 							
#secondary-column ul {margin:10px; }							
#secondary-column  .content-pad {padding:12px;}
#primary-column  .content-pad {padding:0  35px 0 0}
.logo {float:right; margin-right:25px;}
					
#footer {
text-align:center;
background: url(../images/bg-footer.gif)  no-repeat top;
height:49px;
margin:0 auto;
width:100%;
clear:both;


}


/* typography */ 
#header h1 {color:#958770; position:absolute; top:45px; left:15px;z-index:10px; height:50px;}
h1, h2, h3, h4, h5 {color:#1d1503;margin:4px 0 0px 0; padding:1px 2px;line-height:14px; }				

h1 {font-size:19px;}
h2 {font-size:18px;}
h3 {font-size:17px; color:#484848;}
h4 {font-size:17px;font-weight:NORMAL;}
h5{font-size:14px;font-weight:NORMAL!important;margin:5px 0 -8px 0;padding:0;}

 /* forms */
#primary-column .general-forms p {padding:5px 20px 5px 10px;}
#primary-column input, #primary-column textarea {/*border:solid 1px #958770;*/background:#ccc; color:#000;}
#primary-column label {color:#000!important;font-weight:NORMAL;font-family:Arial;}
#application-form-table h5 {font-size:14px;margin:15px 0 5px 0;clear:left;}
#application-form-table h3 {margin:20px 0 10px 0;}

.dimmed  { color:#8e8e8e!important;} 
#application-form-table input.radio {margin:0  3px 0 25px;border:none!important;padding:0!important; display:inline; position:relative;top:3px; }
#application-form-table {text-align:left; width:99%; background:#fff!important; border:none!important;}
#application-form-table .primary-color { background:transparent; }
#application-form-table .alt-color { 
									/*background:#f3fff8;*/
									/*border-style:solid;
									border-width: 1px 0 1px 0;border-color: #ecf9f1;*/
									height:1%; /* so ie 6 will show background row color */


									}
/*.section {padding:6px 8px 6px 21px;height:1%;}*/

#application-form-table .primary-color, #application-form-table .alt-color  
											{padding:6px 0px;}
											


#application-form-table label
								{	
								color:#1b1464;
								font-size:12px;
								font-weight:normal;
								margin:0 8px 0 1px;
								padding:2px 2px 2px 0!important;
								text-align:right;
								font-size:13px;
							
								}
								
							
line-up {width:auto!important;}										
.block-gfx {margin:18px 0;}										
label{display:block; float:left; width:175px;text-align:left!important;margin:10px 9px 10px 5px;}
label.block-up {display:block; float:left; width:150px;}
table label  {width:auto!important;margin:0;float:none!important;display:inline;}
span.error {color:red;display:block; margin:2px 0px; background:#f7f49a; padding:2px;text-indent:4px;}
/* input and select lengths */
.venti {width:275px;}
.grande {width:200px}
.regular {width:130px}
.short {width:40px;}
.tall {width:80px;}
select.short  {width:60px;}

.btn-box {margin:20px auto 12px auto;text-align:center;}
.btn-box input
                {
                margin:0 auto!important;
                font-weight:NORMAL!important;padding:2px 4px!important;
                background:#ccc!important;
                color:#000!important;
                cursor:pointer;
                font-size:14px;
                text-transform:uppercase;
                }
                
.no-back input {background:none!important;border:none!important}
#application-form-table h3 {font-size:11px;}

#disclaimers {width:939px; margin:15px auto; text-align:left; font-size:11px;padding-bottom:15px;}
#disclaimers p {margin:8px 0;padding:0;}
.section-box {
background:#958770 none repeat scroll 0%;
margin:20px 0pt 35px;
padding:2px;
}
.section-box h2 {margin:10px 15px;color:#fdf8ea; }
 .req {color:#fdf8ea;padding:0 15px;} 

table input {/*order:solid 1px #000000!important;*/ background:#fff!important}

table label {font-weight:normal; font-size:12px!important;position:relative; top:-3px;}
#application-form-table table {margin:12px 0;} 
#row1 label.line-up  {width:400px;}
#row1 table {margin:0!important;}
 
label.block {display:block!important; float:none;}

label.auto {width:auto!important;}

#franchise label {width:200px!important;border:sold 1px red}
#application-form-table .strong {position:relative;left:-9px!important;font-weight:NORMAL;color:#6f6553!important;}

#Div3 label {width:150px;}


span.note, .primary-color span, .alt-color span  {font-size:11px;color:#6f6553;} 

table {margin:-0px 0 0 0!important; }

#sec1row5 img, .cal {margin:-5px 3px 0 3px;position:relative;top:5px;}

h3 {margin:5px 0!important;}

.section p {margin:5px 0 2px 0;padding:3px 0;}
/*#ctl00_ContentPlaceHolder1_ContactMethod_0 {border:none!important;}*/