fieldset .add-row {
      float:: right;
      display:block;
      background:url(/static/img/add.png) no-repeat left center;
      width:16px;
      height:16px;
  }
fieldset  .delete-row {
      display:block;
      background:url(/static/img/delete.png) no-repeat left center;
      margin-top: -30px;
      width:16px;
      height:16px;
  }

fieldset span.add-on {
       margin-top: 5px;
  }

fieldset td.horizontal-formset {
    background-color: #fff;
  }

fieldset .horititle {
      text-align: center;
  }


 .radio_field {
    margin-top: -10px;
  }