body, p, table, tr, td, ul, li, ol, .regulartext {font-family: verdana; font-size: 9pt; color: #000;}
sup {font-family: verdana; font-size: 8pt}
body {background-color: #FFF}

.bg_burgundy  {background-color: #903}

/*   #### styles that code for background color to be printed*/
@media Screen    
{
#navlayer {z-index: 15; visibility: visible; position: relative; width:5px;}
#searchlayer {z-index: 20; visibility: visible; position: absolute; left:0px; top:0px;}
#leftnavlayer {z-index: 21; visibility: visible; position: relative}
#leftgray {width: 210px}
.bg_eee {background-color: #EEEEEE}
a.mainlinks {font-family: verdana; font-size: 11pt; color: #fff; text-decoration: none;}
}

@media Print    
{
#searchlayer {z-index: 20; left: 5px; visibility: visible; color: #FFFFFF; position: absolute}
#leftnavlayer {z-index: 21; left: 19px; visibility: visible; color: #FFFFFF; position: absolute}
#leftgray {width: 216px; height: 100%}
a.mainlinks {font-family: verdana; font-size: 11pt; color: #fff; text-decoration: none;}
div.page {writing-mode: tb-rl;height: 80%;margin: 10% 0%;}
div.page table {margin-right: 80pt; filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);}
}

a {font-family: verdana; color: #1313A3; text-decoration: underline}
a:visited {font-family: verdana; color: #666666; text-decoration: underline}
a:hover {font-family: verdana; color: #903; text-decoration: none}


a.mainlinks:hover {font-family: verdana; font-size: 11pt; color: #FFFFFF; text-decoration: underline;}
a.mainlinks:visited {font-family: verdana; font-size: 11pt; color: #FFFFFF; text-decoration: none;}

a.linkssmall, a.ccprotection {font-family: verdana, arial, sans-serif; font-size: 7.5pt; color: #1313A3; text-decoration: underline}
a.linkssmall:visited, a.ccprotection:visited {font-family: verdana, arial, sans-serif; font-size: 7.5pt; color: #666666; text-decoration: underline}
a.linkssmall:hover, a.ccprotection:hover  {font-family: verdana, arial, sans-serif; font-size: 7.5pt; color: #903; text-decoration: none}
a.ccprotection  {
color:#666;
}



.copyright, .copyright p, .copyright li, .copyright ul {font-family: verdana, arial, sans-serif; font-size: 7.5pt; color: #999}
.copysmall {font-family: verdana, arial, sans-serif; font-size: 7.5pt; color: #000}
.notFDIC {border:2px solid #D3D3D3;color:#999999;font-family:verdana,arial,sans-serif;font-size:7.5pt;margin-right:12px;padding:3px;}
.no-text {clear:both; height:0px; font-size:0pt;} /*This is an IE hack that causes the clearboth height to be almost 0*/


.segmentname {font-family: verdana, arial, sans-serif; font-size: 11pt; color: #903; font-weight: bold}

.subheader11 {font-family: verdana, arial, sans-serif; font-size: 11pt; color: #903; font-weight: bold}

.subheader11black {font-family: verdana, arial, sans-serif; font-size: 11pt; color: #000000; font-weight: bold}

.subheader10  {font-family: verdana, arial, sans-serif; font-size: 10pt; color: #903; font-weight: bold}
.subheader10black  {font-family: verdana, arial, sans-serif; font-size: 10pt; color: #000; font-weight: bold} 

.blackbig {font-family: verdana, arial, sans-serif; font-size: 15pt; color: #000; font-weight: bold} 

.header {font-family: verdana, arial, sans-serif; font-size: 12pt; color: #903; font-weight: bold}

.landing  {font-family: verdana, arial, sans-serif; font-size: 9pt; color: #000000; font-weight: bold; text-decoration: none}

.small, .small li, .small ul, .small table, .small td, .small tr, .small p {font-family: verdana, arial, helvetica; font-size: 8pt; color: #000000}
a.small {font-family: verdana, arial, helvetica; font-size: 8pt; color: #1313A3; text-decoration: underline}
a.small:visited {font-family: verdana, arial, helvetica; font-size: 8pt; color: #666666; text-decoration: underline}
a.small:hover {font-family: verdana, arial, helvetica; font-size: 8pt; color: #903; text-decoration: none}


.small75 {font-family: verdana, arial, helvetica; font-size: 6pt; color: #000000}


.borderyellow {border: solid #E6DE9D; border-width: thin}
.bordermedgray {border: solid #CCCCCC; border-width: thin}
.borderltgray {border: solid #D8D8D8; border-width: thin}
.black-border {border: 1px solid #000; padding:5px;}
table.black-border  {border-bottom:none; border-left:none; padding:0}
.black-border th, .black-border td {border-bottom:1px solid #000; border-left:1px solid #000}


.print {display:none}

#bodycontent {width:544px;}

.clearright {clear:right;}
.clearleft {clear:left;}
.clearboth {clear:both;}
.right {float:right;}
.left {float:left;}
.center{text-align:center}
#content {width:546px;}
.container {width: 770px; margin:0 auto; text-align:left;}
.left-align-text {text-align:left;}
img {border:0px;}
.inline, .inline li {display:inline}
.nomargin {margin:0;}
.nopadding {padding:0;}
.margintop5 {margin-top:5px;}
.margintop10 {margin-top:10px;}
.margintop15 {margin-top:15px;}
.margintop30 {margin-top:30px;}
.marginbottom15 {margin-bottom:15px;}
.marginleft15 {margin-left:15px;}
.marginright10 {margin-right:10px}
.no-style-list {margin:0;padding:0;list-style-type:none;}
.prescreen-notice  {border:1px solid #000; font-size:12pt; padding:10px; margin:15px;}

#oao-content {background:url(../images/online-account-opening/background_sidenav.gif) repeat-y;height:100%;padding: 15px 0 10px 0px;}
#oao-sidenav {width:216px;background-color:#eee;height:100%;}
#oao-body {width:533px;}
#oao-graybar {background:url(../images/mainnav_bkground.gif) repeat-x #9d9d9d;height:28px;}
#oao-footer {margin:15px 0; width:100%;}
#oao-footer, #oao-footer p, #oao-footer li {font-size:7pt; color:#999}
#oao-footer p {margin:5px 0}
.oao-survey-footer {border-top:3px solid #990033; padding-top:5px}

p.stacked {margin:0; padding:0;} 

.errormessage { /*Controls the format of the error message text*/
	background:url(../images/icons/exclamation.gif) 5px 6px no-repeat #f6e4e1; 	
	border:1px solid #c7553e; 
	padding:5px 5px 5px 25px;
	margin:5px 0;
}

.hide {display:none}

/*Styles for product tables*/ 
.product-table, .product-table caption {border:1px solid #ccc; border-bottom:none; border-right:none;}
.product-table caption {background-color:#eee; font-weight:bold; border-right:1px solid #ccc;}
.product-table td, .product-table th {border-bottom:1px solid #ccc;  border-right:1px solid #ccc; margin:0;}
.product-table caption, .product-table td, .product-table th {padding:5px;}
.small td, .small th, .small li {font-size:8pt;}
.product-table td, .product-table th {text-align:left; vertical-align:top}
.product-table .gray td, .product-table .gray th {background:#eee;}
.product-table .sub-table-header {background: url(../images/sub-table-gray-bckgrnd.jpg)#ccc; padding:10px; text-align:center; margin:3px;}

/**********************************/


/*Below styles added for W3C Solutions top nav test page in prototypes folder

#container {width: 770px;}

*/

/*Below styles are added for W3C Solutions test page in prototypes folder

#content {
	width: 550px;
	}
*/

.printversion {
	float: right;
	}

/*Below styles added for W3C Solutions left nav test page in prototypes folder*/

#navcontainer {
	width: 200px;
	padding: 12px 0 12px 12px;
	line-height: .2em;
}

.navlist {
	text-indent: 9px;
}

/*ONLINE BANKING LOGOUT PAGE STYLES BEGIN HERE*/
#logoutproductslast {
width:170px; 
float:left; 
}

.logoutproducts {
width:170px; 
float:left; 
padding-right:12px;
}

.logoutservicebox {
border:1px solid #ccc; 
padding:5px 5px 5px 5px; 
background:url(../images/bckgrnd_logoutservicebox.jpg) repeat-x;
}

.logoutlifeevent {
height:100%; 
border:1px solid #ccc; 
padding: 5px 5px 5px 5px; 
margin:10px 0px 10px 0px;
}

.logoutproducts_container {
margin-bottom:30px;
}

html>body .logoutproducts_container {
margin-bottom:85px;
}
/*ONLINE BANKING LOGOUT PAGE STYLES END HERE*/

/*CHECKING AND SAVINGS LANDING PAGE STYLES START HERE*/
.account, .accountbenefits, .twoaccounts {
	border:1px solid #ccc;
	border-bottom:none;
	width:33%;
	vertical-align:text-top;
}

.twoaccounts {
	width:50%;
}


.accountapplybutton {
	border:1px solid #ccc;
	border-top:none;
	border-collapse: collapse;
	border-spacing:0px;
	padding:5px;
	padding-top:-55px;
}

.accountbenefits {
	border-top:none;
}

.accountbenefits ul {
	margin:0px 0px 0px 25px; 
	padding:5px 5px 5px 0px; 
}

.accountbenefits ul li {
	margin:0px;
	padding:0px; 
}

.accountdescription {
	height:60px;
	padding:5px 0px 5px 0px; 	
}

.accountdivider {
	background:#fff;
	padding:3px;
}
.accountname {
	width:70%;
	padding-top:10px;
}

.accountpic {	
	margin-bottom:5px;
	text-align:center;
	border: 1px solid #ccc;
	
}

#banner {
	background:#eee;
	height:auto;
	padding:7px;
}

#banner #quotes {
	border:1px solid #B4B4B4;
}

#businessdescription {
	width:200px;
}

#businessdescription2 {
	width:230px;
	border-right:1px solid #000; 
	padding-right:10px; 
	margin-right:10px; 
}

#calculatordescription {
	width:320px;
}

#contentDiv {
	border:3px solid #ccc;
	height:auto;
	margin:2px 0px 7px 0px;
	padding:7px;
}

#esavingsrate {

	font-size:20px; 
	color: #990033;
	list-style-type:none;
}


#esavingsrate sup {
	font-size:12px; 
	color: #990033;
}

#graycontentDiv {
	background:#eee;
	height:auto;
	margin:2px 0px 7px 0px;
	padding:7px;
}

#links, #links-no-background {
	background:#eee;
	border:5px solid #eee;
	border-left:none;
	border-right:none;
	font-weight:bold;
	margin-bottom:7px;
	overflow:hidden;
	height:1%;

}

#links a, #links-no-background a {
	text-decoration:none;
	color:#000;
	letter-spacing:-1px;
	font-size:9pt;
	padding-left:5px;

	}


#links a:hover, #links-no-background a:hover {
	text-decoration:none;
	color:#903;
}

#links img, #links-no-background img {
	vertical-align:bottom;
}

#links span, #links-no-background span {
	padding-right:10px;
	float:left;
}

#credit-card-offer a {background:url(../images/icons/credit-card-offer.gif) 5px 0px no-repeat; padding-left:30px; color:#000}
#travel-insurance a {background:url(../images/icons/Travel_Insurance_icon.gif) 5px 0px no-repeat; padding-left:30px; color:#000}


#links-no-background {background:none; padding:5px 0; border:none}

#mostpopular {
	color:#903;
	margin-top:3px;
}

#premiumaccounts{
	background:#eee;
	padding:15px;
	margin-bottom:7px;
}

#premiumborderright {
	border-left:1px solid #000; 
	padding-left:10px; 
	margin-left:10px; 
}

#premiumdescription {
	border-right:1px solid #000; 
	padding-right:10px; 
	margin-right:10px; 
	width:320px;
}


.top {
	background: url(../images/bckgrnd_accounts.jpg) repeat-x #e9e9e9; 
	height:100%;
	padding:5px;	
}

#visaplatinumimage {height:70px; width:100%; margin-bottom:8px; background: url(../images/creditcards/visaplatinum-landing.gif) no-repeat right}
#studentvisaplatinumimage {height:70px; width:100%; margin-bottom:10px; background: url(../images/creditcards/studentvisaplatinum-landing.gif) no-repeat right}
.open-an-account {background:url(../images/open-account-background.gif) no-repeat; margin:7px 0; margin-top:15px; margin-bottom:4px; text-align:center; padding-top:5px;  height:35px}
.open-an-account #header {font-size:10pt; font-weight:bold; margin-right:5px; letter-spacing:0pt}


/*CHECKING AND SAVINGS LANDING PAGE STYLES ENDS HERE*/

/*Business account matrix starts here*/
#BusinessCheckingNav {Z-INDEX: 1; display:block; margin-top:35px; }
#BusinessSavingsNav {Z-INDEX: 2; display:none; margin-top:35px;}
#BusinessChecking {Z-INDEX: 3; display:block; }
#BusinessSavings {Z-INDEX: 4; display:none; }
#CivicMatrix {Z-INDEX: 5; display:none; }
#NotProfitMatrix {Z-INDEX: 6; display:none; }
#PublicEntities {Z-INDEX: 7; display:none; }
#PublicEntitiesSavings {Z-INDEX: 8; display:none; }
#TrustAccounts {Z-INDEX: 9; display:none; }
#BusinessSavingsHeader {Z-INDEX: 10; display:none;}
#BusinessCheckingHeader {Z-INDEX: 11; display:block;}
#BusinessSubNav {z-index:12}
.business-account-tabs li {z-index:13;}

a.off, a.on:visited {text-decoration: underline; color:#666;}
a.off:hover {text-decoration: none; color:#000;}
a.on, a.on:hover, a.on:visited {color: #000; text-decoration: none; cursor:text}

.business-account-tabs li{border-left:1px solid #ccc; margin-right:6px;font-size:10pt;font-weight:bold;float:left; list-style-type:none;}
.business-account-tabs {margin:0;padding:0;}
#accountmatrix tr {padding:3px;}
#accountmatrix td, #accountmatrix th {border:1px solid #ccc;padding:3px;vertical-align:text-top;font-weight:normal;font-size:8pt;}
#accountmatrix th {background-color:#f2f0eb}
#accountmatrix  {width:100%;border-collapse:collapse;border:1px solid #ccc;text-align:center;margin-bottom:10px;}
.call-to-action li {display:block;list-style-type:none;}
.call-to-action {border:1px solid #E6DE9D; background:#FFFFCC; padding:3px;}
#disclaimer {border:1px solid #ccc; width:760px;background:#fff;line-height:40px;padding:0 5px 0px 5px;margin-bottom:10px;}
li.on {
	background:url(../images/business/matrix/tab-on.gif) top right  no-repeat #E0E7ED;	
	border-bottom:1px solid #E0E7ED;
	padding:5px 12px 6px 12px;
	position:relative;
	bottom:-1px;
}

li.off {
	background:url(../images/business/matrix/tab-off.gif) top right  no-repeat #E8E8E8; 
	border-bottom:1px solid #ccc; 
	padding:5px 12px 4px 12px;
	position:relative;
	bottom:-1px;
}



#business-sub-nav {
	border:1px solid #ccc; 
	background:url(../images/business/matrix/bckgrnd-subnav.jpg) top no-repeat #C1CDD9;
	margin:0px 0 10px 0;
	clear:left;
}

#business-sub-nav-small {
	border:1px solid #ccc;
	border-bottom:none; 
	background:url(../images/business/matrix/bckgrnd-subnav.jpg) top no-repeat #C1CDD9;
	clear:left;
	height:15px;
}

#business-sub-nav ul {margin:0px; padding:0 10px 0 10px;}
#business-sub-nav li {list-style-type:none;display:inline;padding-right:10px;font-weight:bold;line-height:45px;}	
/*Business account matrix ends here*/

#logoutrightsidenav {
	background-image: url(../online/images/rightsidebkground.jpg);
	float: right;
	width: 210px;
	background-repeat: repeat-x;
}
.bannerarea {
	background-color: #FFFFFF;
	float: left;
	width: 548px;
}

.rightsidenavtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7175B4;
	padding-left: 40px;
	padding-top: 10px;
	text-align: left;
	line-height: 17px;
}
html>body .rightsidenavtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7175B4;
	padding-left: 40px;
	padding-top: 10px;
	text-align: left;
	line-height: 17px;
	list-style-position: inside;
}
.rightsidenavtext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7175B4;
	padding-right: 10px;
	padding-left: 40px;
	text-align: left;
	line-height: 17px;
}

.rightsidenavtext a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1313A3;
	text-decoration: none;
}
.rightsidenavtext a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.rightsidenavtext a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #756CC5;
	text-decoration: none;
}

.rightsidenavtext2 a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1313A3;
	text-decoration: none;
}
.rightsidenavtext2 a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.rightsidenavtext2 a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #756CC5;
	text-decoration: none;
}

/*........................*/

/* ---- Elements ------------------------------------------------------------------------*/


form {
	margin: 0;
	padding: 0;
}



/* ---- IDs ------------------------------------------------------------------------*/

#logo {padding:0 10px 15px 15px; width:90px;}
#oao-graybar-large {background:url(../images/mainnav_bkground.gif) repeat-x #9d9d9d;}
#top-nav {background:url(../images/topnav/top_nav_background.gif) bottom repeat-x #fff;}

#topnavContainer { 
	width: 770px;
	background: #fff;
	margin: 0 auto; /* the auto margins (in conjunction with width) center the page */
	padding: 0;
	text-align: left; /* this overrides the text-align: center on the body element. */
}

#topnavContainer body {
	margin: 0;
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to left-aligned default in the #container selector */
}

#topnavMain { 
	margin: 0 0 0 216px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidenav div contains, the column space will remain. */
	padding: 0;
}

#topnavMain2 {
	margin: 0;
	padding: 0;
}


#topnavLeft {
	float: left; 
	width: 216px;
	margin: 0;
	padding: 0;
	background: url(../images/mainnav_bkground.gif) repeat-x;
}



/* --------- the styles below control OLB login slide down and Logon/Close links -------------------------*/


#olbui {
	background-color: #e6e6e6;
	height: 155px; 
	overflow: hidden;
}

#olblogon {
	margin-top:15px;
	display: inline;
	float:left;
}

#olblogon img {
	border: 0;
}


#olblogon a:link {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olblogon a:visited {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olblogon a:hover {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}

#olblogon a:active {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}


#olbclose {
	margin-top:15px;
	display: none;
	float:left;
}	

#olbclose img {
	border: 0;
}

#olbclose a:link {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olbclose a:visited {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olbclose a:hover {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}

#olbclose a:active {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}

#utilitylinks a {padding:0 3px}
#utilitylinks {margin-top:40px;}

/* ---- Classes ------------------------------------------------------------------------*/


.clear {
	clear: left;
}


.imgNowrap {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	border: 0;
}

.imgLeftSpace {
	margin: 0;
	white-space: nowrap;
	display: block;
	float: left;
	border: 0;
}

.no-text{font-size:1pt; height:0}

.searchbox {color:#666; width:100px;margin-left:8px; vertical-align:middle}
.searchbutton {vertical-align:middle; margin-right:10px;}

.spaceright {
	margin: 0 3px 0 0;
	padding: 0 3px 0 0;
}
.copysmalldropdown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	margin-left: 38px;
}
.copysmalldropdownretail {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	margin-left: 40px;
}


/*Accecpt Your Offer - Search Page and General Layout*/
body#accept-your-offer  {margin:0; text-align:center; margin-bottom:15px;}
#accept-your-offer h1#appheader {font-family: verdana, arial, sans-serif; font-size:19pt; color: #990033;font-weight: normal; margin-top:55px;}
#accept-your-offer #container-content {
	border:1px solid #ccc; 
	width:100%; 
	height:100%; 
	margin:-7px 0 15px 0;
	}


#accept-your-offer #container-content #padding {padding:15px;}
#accept-your-offer .left #form-container {width:310px}
#accept-your-offer .right #form-container {width:365px}
#accept-your-offer #form-container #padding {padding:10px;}
#accept-your-offer #full-SSN-container {float:right; width:550px; margin-bottom:15px;}
#accept-your-offer #full-SSN-container #padding {padding:10px; background:url(../images/web-acceptance/full-background.jpg) #C0C0C0; }

#accept-your-offer #container-content h2 {font-size:11pt; font-family: verdana, arial, sans-serif;}
#accept-your-offer #or {width:51px; height:153px; position:relative; top:-2px;}
#accept-your-offer #main-image {background:url(../images/web-acceptance/main-image.jpg) bottom left no-repeat;}
#accept-your-offer #main-form-container {background:url(../images/web-acceptance/form-boxes.png) repeat-y; height:100%}
#accept-your-offer #main-form-container, #accept-your-offer #main-form-container li, #accept-your-offer #main-form-container p, #full-SSN-container, #full-SSN-container li  {font-size:8pt;}
#accept-your-offer p#introduction {margin:35px 0 25px 190px; line-height:20px; height:1%; padding-bottom:10px;}
#accept-your-offer h2 {margin:0; padding: 0 0 5px 0; background-color:#fff;}
#accept-your-offer #client-protection, #accept-your-offer #visa-platinum-client-protection{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11pt; float:right; height:1%; font-weight:bold; letter-spacing:-1px; padding-left:15px; cursor:pointer; text-decoration:none}
#accept-your-offer input {margin-top:2px}
#accept-your-offer #client-protection {background:url(../images/icons/security-lock-white-green.gif) no-repeat 0px 2px; color:#fff; position:relative; top:5px;}



/*Accecpt Your Offer - Visa Platinum*/

#accept-your-offer #visa-platinum-client-protection {background:url(../images/icons/security-lock-black.gif) no-repeat 0px 2px; color:#666666; position:relative; top:7px; float:right}
#accept-your-offer #visa-platinum #container-content {background:url(../images/web-acceptance/visa-platinum/main-background.jpg) no-repeat #A6A6A6; border:1px solid #fff;}
#accept-your-offer #visa-platinum #main-image {background:url(../images/web-acceptance/visa-platinum/main-image.gif) no-repeat right bottom; position:relative; bottom:-15px; padding-top:60px; padding-bottom:25px;}
#accept-your-offer #visa-platinum #offer-information {height:1%; background:url(../images/web-acceptance/visa-platinum/content-bottom.gif) #fff no-repeat bottom; width:577px;}
#accept-your-offer #visa-platinum #offer-information #padding-no-top {padding:10px 18px 18px 18px; line-height:15px;}
#accept-your-offer #visa-platinum #bar {background:url(../images/web-acceptance/visa-platinum/bar-background.jpg) repeat-x top #000; width:577px; color:#fff;  padding:5px 0}
#accept-your-offer #visa-platinum #bar #credit, #accept-your-offer #visa-platinum #bar #apr, #accept-your-offer #visa-platinum #bar #intro {color:#fff; float:left; font-size:22pt; text-align:center; border-right:1px solid #fff; height:1%; font-family:Georgia, "Times New Roman", Times, serif}
#accept-your-offer #visa-platinum #bar #credit {width:28%;}
#accept-your-offer #visa-platinum #bar #apr {width:43%;}
#accept-your-offer #visa-platinum #bar #intro {width:28%; border-right:none;}
#accept-your-offer #visa-platinum #bar #asterik {font-size:15pt}
#accept-your-offer #visa-platinum #bottom {background:url(../images/web-acceptance/visa-platinum/bottom.jpg) no-repeat top; height:17px; margin-top:-2px}

#accept-your-offer #visa-platinum #bar ul div {padding:3px 5px; color:#fff; font-size:11pt;margin-bottom:2px; font-family:verdana}
#accept-your-offer #visa-platinum h2 {margin:0; background:none}
#accept-your-offer #visa-platinum h3 {margin:0 0 5px 0; background:none; font-size:11pt}
#accept-your-offer #visa-platinum #benefits {margin:10px 0}
#accept-your-offer #visa-platinum #benefits ul {margin:0; padding:0}
#accept-your-offer #visa-platinum #benefits li {margin:0 0 0 0; float:left; font-size:8pt; padding:0; list-style-type:none; padding:0 15px 0 40px;}
#accept-your-offer #visa-platinum #benefits #points {background: url(../images/web-acceptance/visa-platinum/travel-points.gif) no-repeat left top; width:105px;}
#accept-your-offer #visa-platinum #benefits #annual-fee {background: url(../images/web-acceptance/visa-platinum/annual-fee.gif) no-repeat left;  width:50px;}
#accept-your-offer #visa-platinum #benefits #apr {background: url(../images/web-acceptance/visa-platinum/apr.gif) no-repeat left top;  width:80px;}
#accept-your-offer #visa-platinum #benefits #zero-liability {background: url(../images/web-acceptance/visa-platinum/zero-liability.gif) no-repeat left top; width:80px;}
#accept-your-offer #visa-platinum-buttons {margin:15px 0px 25px 0;}
#accept-your-offer #visa-platinum-buttons img {margin-right:15px}
#accept-your-offer #visa-platinum #main-content {margin:0px 170px 0px 24px;}
#accept-your-offer #visa-platinum #content-top {background:url(../images/web-acceptance/visa-platinum/content-top.gif) no-repeat; height:8px; font-size:0;}
#accept-your-offer #add-accounts {background:#eee; padding:5px; position:relative}

.divFloat {height:1%;} /*This is used for the Peek-a-book IE 6 and earlier bug, which causes text to dissapear.*/
.errormessage { /*Controls the format of the error message text*/
		background:url(../images/icons/exclamation.gif) 5px 4px no-repeat #f6e4e1; 	
		border:1px solid #c7553e; 
		padding:5px 5px 5px 25px;
		margin:5px 0;
	}

/*Forms*/
	.forms input, .forms select {font-size:8pt;vertical-align:middle;margin:5px 0 0 0;padding:0;position:relative;bottom:3px;}
	.forms label.left   {float:left; position:relative; top:4px;}
	.forms label {margin:0;padding:0;margin-right:6px;}
	.forms input[type=text]{margin-right:3px;}
	.forms input[type=radio]{margin-right:2px;}
	.forms input[type=checkbox]{margin:5px 2px 0 0;}	