/* ---- Elements ------------------------------------------------------------------------*/


form {
	margin: 0;
	padding: 0;
}



/* ---- IDs ------------------------------------------------------------------------*/

#logo {padding:0 10px 15px 15px; width:90px;}
#oao-graybar-large {background:url(../images/mainnav_bkground.gif) repeat-x #9d9d9d;}
#top-nav {background:url(../images/topnav/top_nav_background.gif) bottom repeat-x #fff;}

#topnavContainer { 
	width: 770px;
	background: #fff;
	margin: 0 auto; /* the auto margins (in conjunction with width) center the page */
	padding: 0;
	text-align: left; /* this overrides the text-align: center on the body element. */
}

#topnavContainer body {
	margin: 0;
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to left-aligned default in the #container selector */
}

#topnavMain { 
	margin: 0 0 0 216px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidenav div contains, the column space will remain. */
	padding: 0;
}

#topnavMain2 {
	margin: 0;
	padding: 0;
}


#topnavLeft {
	float: left; 
	width: 216px;
	margin: 0;
	padding: 0;
	background: url(../images/mainnav_bkground.gif) repeat-x;
}



/* --------- the styles below control OLB login slide down and Logon/Close links -------------------------*/


#olbui {
	background-color: #e6e6e6;
	height: 155px; 
	overflow: hidden;
}

#olblogon {
	margin-top:15px;
	display: inline;
	float:left;
}

#olblogon img {
	border: 0;
}


#olblogon a:link {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olblogon a:visited {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olblogon a:hover {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}

#olblogon a:active {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}


#olbclose {
	margin-top:15px;
	display: none;
	float:left;
}	

#olbclose img {
	border: 0;
}

#olbclose a:link {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olbclose a:visited {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #333;
	font-variant: small-caps;
}

#olbclose a:hover {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}

#olbclose a:active {
	font: bold 7.5pt Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #666;
	font-variant: small-caps;
}

#utilitylinks a {padding:0 3px}
#utilitylinks {margin-top:40px;}

/* ---- Classes ------------------------------------------------------------------------*/


.clear {
	clear: left;
}


.imgNowrap {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	border: 0;
}

.imgLeftSpace {
	margin: 0;
	white-space: nowrap;
	display: block;
	float: left;
	border: 0;
}

.no-text{font-size:1pt; height:0}

.searchbox {color:#666; width:100px;margin-left:8px; vertical-align:middle}
.searchbutton {vertical-align:middle; margin-right:10px;}

.spaceright {
	margin: 0 3px 0 0;
	padding: 0 3px 0 0;
}


