Country,DistrictName,CountyName,SubCountyName,ParishName,VillageName,EAName
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUJUMBA,BUJUMBA-BUYOGA,BUJUMBA-BUYOGA A
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUJUMBA,BUJUMBA-BUYOGA,BUJUMBA-BUYOGA B
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUJUMBA,BUJUMBA-BUYOGA,BUJUMBA-BUYOGA C
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUJUMBA,BUSWA,BUSWA
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUJUMBA,KIBANGA-BULIGO,KIBANGA-BULIGO
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUJUMBA,KULUGULU,KULUGULU
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUNYAMA,BUBEMBE,BUBEMBE
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUNYAMA,BUYIGI,BUYIGI
UGANDA,KALANGALA,BUJUMBA,BUJUMBA,BUNYAMA,KAGONYA,KAGONYA
