Country,State,District,Mandal,Village
INDIA,ANDHRAPRADESH,PRAKASAM,MARKAPURAM,MARKAPURAM
INDIA,ANDHRAPRADESH,PRAKASAM,YERRRAGONDAPALEM,YERRAGONDAPALEM
INDIA,ANDHRAPRADESH,GUNTUR,GUNTUR,MACHERLA
INDIA,ANDHRAPRADESH,PRAKASAM,MARKAPURAM,DEVARAJUGATTU
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,KUKATPALLY
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,NIJAMPET
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,BACHEPALLY
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,LINGAMPALLY
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,MADHEENAGOODA
