{% extends "layout.html" %}
{% block extra_css %}
    <style type="text/css">

        div.row-fluid {
            display: none;
        }
    </style>
{% endblock %}
{% block title %}
    {{ model_class.verbose_name }}
{% endblock %}
{% block search %}
 {% include "horizontal_filter_form.html" with a_form=question_filter_form no_button=True filter_id='question_filter_form' %}
<br />
<br />
{% include "search_form.html" %}
{% endblock %}
{% block page_actions %}
        {% with 'export_'|add:model_class.resolve_tag as export_template_url %}
        <!-- <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url export_template_url %}" class="">Export Questions</a>
											</button> -->

        <a class="btn btn-white btn-warning btn-bold" href="{% url export_template_url %}" >
                        <i class="ace-icon fa fa-plus bigger-120 orange"></i>
                         Export Questions</a>
        {% endwith %}
        {% with 'new_'|add:model_class.resolve_tag as new_template_url %}
        <!-- <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url new_template_url %}" class="">Create New Question</a>
											</button> -->

        <a class="btn btn-white btn-warning btn-bold" href="{% url new_template_url %}" >
                        <i class="ace-icon fa fa-plus bigger-120 orange"></i>
                         Create New Question</a>
        {% endwith %}
{% endblock %}

{% block content %}
    {% load pagination_tags %}
    {% autopaginate questions 50 %}
    {% load template_tags %}
<br>
<table class="table table-striped table-bordered table-hover dataTable no-footer" id="questions_table">
    <thead>
    <tr>
        <th class="sorting">
            Code
        </th>
        <th class="span8 sorting">
            Question
        </th>
        <th class="sorting">
            Type
        </th>
        {% if 'module' in model_class.field_names %}
        <th class="sorting">
            Module
        </th>
        {% endif %}
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    {% for question in questions %}
        <tr>
            <td>{{ question.identifier }}</td>
            <td class="span8">
                {{ question.text }}
            </td>
            <td>
                {{ question.answer_type.upper }}
            </td>
            {% if 'module' in model_class.field_names %}
            <td>
                {{ question.module.name }}
            </td>
            {% endif %}
            <td>
                <div class="">
                    <div class="inline pos-rel">
                       <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                           <i class="usur-icon fa fa-caret-down icon-only bigger-120"></i>
                       </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            {% with 'edit_'|add:model_class.resolve_tag as edit_url %}
                            <li>
                                <a href="{% url edit_url question.pk %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Edit</span></a>
                            </li>
                            {% endwith %}
                            
                            <li><a href="{% url 'delete_question_template_page' question.pk %}" data-toggle="modal" class="tooltip-success" data-rel="tooltip" title=""><span class="green"><i class="usur-icon fa fa-trash bigger-120"></i>Delete</span></a></li>
                            {% if question.options.all %}
                            <li>
                                <a href="#view_options_{{ question.id }}" data-toggle="modal" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>View Options</span></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% if question.options.all %}
                    <div class="modal fade hide" id="view_options_{{ question.id }}" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{ question.text }}</h4>
                                </div>
                                <div class="modal-body">
                                    {% include 'questions/_view_question_options.html' %}
                                    <a href="#" class="btn btn-primary pull-right"
                                       id="close_view_options_{{ question.id }}" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </td>

        </tr>
        {% include "base/delete_modal.html" with object_name=question.text id=question.id name="Question" url=question.id|get_url_with_ids:"delete_question_template_page" %}
    {% endfor %}
    </tbody>
</table>

    {% paginate %}
{% endblock %}

{% block javascripts %}
    {% if batch %}
        <script src="{{ STATIC_URL }}js/jquery.tablednd.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/batch_questions.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}js/questions.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
