{% extends "form.html" %}

{% block title %}
  {% if questionform.instance.pk %} Edit {% else %} New {% endif %}{{ model_class.verbose_name }}
{% endblock %}
{% block pre_form_content %}
<p>Please note that the following special characters will be removed on USSD [* ! # ' ; &]</p>
{% endblock%}
{% block display_form_fields %}
<style type="text/css">
#id_identifier{
    width: 262px !important;
    height: 25px !important;
    margin-left: -1px !important;
  }
  .dataTables_wrapper select {    margin-bottom: 0 !important;    margin-left: 4px!important;    margin-right: 4px!important;    margin-top: 0px !important;    padding: 3px !important;    width: 261px!important;}
</style>
<!-- <div class="control-group">
        <label class="control-label" for="text_counter"></label>
        <div class="controls">
            <span id="text-counter"></span>
        </div>
  </div> -->

{% include "naked_form.html" with a_form=questionform %}
{% if options %}
  {% for option in options %}
   {% if option %}
   {{option}}
    <div class="control-group options question-option">
        <label style="margin-top:10px;" class="control-label col-md-4">Option <span class="number"> {{ option.order }}</span></label>
        <div class="controls">
                <input type="text" maxlength="100" name="options">
            <a href="javascript:;" class="btn btn-white btn-warning btn-bold add-option"><i class="ace-icon fa fa-plus bigger-120 orange"></i></i></a>
            <a href="javascript:;" class="btn btn-white btn-warning btn-bold remove-option"><i class="ace-icon fa fa-minus bigger-120 orange"></i></i></a>
            </div>
    </div>
    {% endif %}
  {% endfor %}

{% endif %}

{% include "_multiple_options.html" with option_label='Option' id="question-option-template" name='options'%}
{% endblock %}

    {% block buttons %}
  <div class="form-actions">
    <button id="button" type="submit" class="btn btn-primary submit" name="save_button" data-disabled-text="{{ loading_text }}">Save</button>
    <button id="button" type="submit" class="btn btn-primary submit" name="add_more_button" data-disabled-text="{{ loading_text }}">Save and Add More</button>

    {% if cancel_url %}
      <a href="{{ cancel_url }}" class="btn btn-primary" name="cancel_button" class="cancel" style=" padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;">Cancel</a>
    {% else %}
      <a href="../" class="btn btn-primary" name="cancel_button" id="cancel_{{ id }}" class="cancel">Cancel</a>
    {% endif %}
  </div>
    {% endblock %}

{% block javascripts %}
    <script src="{{ STATIC_URL }}js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/questions.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/question_options.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    channel_map = {
        {% for answer_type, channels in questionform.answer_map.items %}
            '{{answer_type}}' : [{% for channel in channels %}'{{channel}}',{% endfor %}],
        {% endfor %}
    };
    /*$("#id_answer_type").append($('<option value="val"/>').text('--Select Answer Type--'));
    $("#id_answer_type").val("val");
    $("#id_module").append($('<option value="val"/>').text('--Select Module--'));
    $("#id_module").val("val");*/
    
</script>
<script type="text/javascript">
$(document).ready(function(){

$("#id_module option[value='']").text("--Select Module--");
        $("select#id_module").val("");


  
</script>

<script type="text/javascript">
var newOptions = {
    "Select Option" : "",
    "Date Answer": "Date Answer",
    "Text Answer": "Text Answer",
    "Numerical Answer": "Numerical Answer",
    "Multi Choice Answer":"Multi Choice Answer"
};
var $el = $("#id_answer_type");
$el.empty(); // remove old options
$.each(newOptions, function(key,value) {
  $el.append($("<option></option>")
     .attr("value", value).text(key));
});

{% if questionform.answer_type.value %}
  $("#id_answer_type").val('{{questionform.answer_type.value}}').attr("selected", "selected");
  //$(".controls>a").hide();
{%endif%}
</script>
{% endblock %}