{% load template_tags %}
{% if access.choice_name == 'Ussd Access' and display_format == 'text' %}
    {% build_question_text interview.last_question.text existing_answers as text %}
    {% if text %}
         {{text}} ({{interview.last_question.answer_type}})
         {{ answer_form.render_extra_ussd }}
    {% endif %}
{% else %}
<div class="previewstyle">
    <h2>{{interview.question_set.name}}</h2>
    {% if answer_form.errors %}
        <div id="non_field_errors" class="alert alert-error">{{ answer_form.non_field_errors }}</div>
    {%  endif %}
    <br />
    <div id="form-section">
        {% if answer_form.is_multipart %}
        <form enctype="multipart/form-data" id="interview_form" method="post" action="{{action}}" class="form-horizontal {{ class }}">
        {% else %}
        <form id="interview_form" method="post" action="{{action}}" class="form-horizontal {{ class }}">
        {% endif %}
        <br />
        {% if interview.last_question.loops and access.choice_name != 'Ussd Access' %}
            <div class="loops">
                {% for loop in interview.last_question.loops %}
                    {% get_answer loop.loop_starter interview as loop_count %}
                     &raquo; {{ loop.loop_starter.identifier }} ({{loop_count}})
                {% endfor %}
            </div>
        {%  endif %}
            {% csrf_token %}
            {% if 'prompt_user_loop' in loops %}
                <div class="subh">{% if loops.prompt_user_loop %}{{loops.prompt_user_loop}}{% else %}Do you want to add another Loop?{% endif %}</div>
            {% else %}
                {% build_question_text interview.last_question.text existing_answers as text %}
               {% if text %}
                 <div class="subh">{{text}} ({{interview.last_question.answer_type}})</div>
               {% endif %}
            {% endif %}

            {% if access.choice_name == 'Ussd Access' %}
                {{ answer_form.render_extra_ussd_html }}
            {% endif %}
            {% include "naked_form.html" with a_form=answer_form %}
            <div class="form-actions">
                <input type="submit" name="submit" value="send" class="submit btn btn-primary "/>
            </div>
        </form>
    </div>
</div>

{% endif %}