{% extends "interviews/answer.html" %}
{% block plain_text_content %}
Survey Completed.
Enter any key to return to main.
{% endblock %}
{% block preview_title %}
    <h2 class="page_title">Survey {{interview.question_set.name}} completed.</h2>
{% endblock %}
{% block form_fields %}
    <div class="form_row">
        <br />
        <a style="padding-left: 4px;padding-right: 3px;" class="btn btn-white btn-warning btn-bold" href="." >
                    <i class="ace-icon fa fa-plus bigger-120"></i>
                     Done</a>
    </div>
{% endblock %}
