{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
    Question Module Lists
{% endblock %}
{% block search %}

{% endblock %}
{% block page_actions %}

        <!-- <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'new_question_module_page' %}" class="">Add Module</a>
											</button> -->
                      <style type="text/css">
                        .dataTables_scrollBody{
                          height: 330px !important;
                        }
                        .dataTables_wrapper .row {
    margin: 0!important;
    display: none !important;
  }
                      </style>
                      </style>
                      <div class="col-lg-16">
      <a style="padding-left: 4px;padding-right: 3px;" class="btn btn-white btn-warning btn-bold" href="{% url 'new_question_module_page' %}" >
                        <i class="ace-icon fa fa-plus bigger-120"></i>
                         Add Module</a>
                         </div>
{% endblock %}

{% block content %}
{% load pagination_tags %}
{% include "search_form.html" %}
<br>
    <table id="datatables" class="table table-striped table-bordered table-hover dataTable no-footer display">
        <thead>
          <tr>
            <th>
              Number
            </th>
            <th>
              Module Name
            </th>
              <th>
              Description
            </th>
              <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
        {% for question_module in question_modules %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ question_module.name }}</td>
                {% if question_module.description %}
                    <td>{{ question_module.description }}</td>
                {% else %}
                    <td> -- </td>
                {% endif %}
                <td>
                <div class="">
                    <div class="inline pos-rel">
                       <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                           <i class="usur-icon fa fa-caret-down icon-only bigger-120"></i>
                       </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                             <li>
                                <a href="{% url 'edit_question_module_page' question_module.id %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Edit</span></a>
                            </li>

                            <!-- <li><a href="{% url 'delete_question_module_page' question_module.id %}" data-toggle="modal" class="tooltip-success" data-rel="tooltip" title=""><span class="red"><i class="usur-icon fa fa-trash bigger-120"></i>Delete</span></a></li> -->

                            <li>
                                <a href="#delete_module_{{question_module.id}}" data-toggle="modal" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Delete"><span class="red"><i class="usur-icon fa fa-trash bigger-120"></i>Delete</span></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                {% include "base/delete_modal.html" with object_name=question_module.name id=question_module.id name="Module" url=question_module.id|get_url_with_ids:"delete_question_module_page" %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
    {% autopaginate question_modules max_display_per_page %}
    {% paginate %}
{% endblock %}

{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
        $(document).ready(function() {
          
    $('#datatables').DataTable( {
        "scrollY":        "250px",
        "scrollX":        '100%',
        "scrollCollapse": true,
        "paging":         true,
        'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': [-1] /* 1st one, start by the right */
    }]
    } );
} );
</script>      
{% include 'max_display_per_page_form.html' %}      
        {% endblock %}