{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
    Question Module Lists
{% endblock %}

{% block content %}
    <h3>Question Module Lists</h3>
    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Number
            </th>
            <th>
              Module Name
            </th>
              <th>
              Description
            </th>
              <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
        {% for question_module in question_modules %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ question_module.name }}</td>
                {% if question_module.description %}
                    <td>{{ question_module.description }}</td>
                {% else %}
                    <td> -- </td>
                {% endif %}
                <td>
                <div class="btn-group">
                    <a href="#delete_module_{{question_module.id}}" class="btn btn-small" data-toggle="modal" id="delete-question-module_{{question_module.id}}"><i class="icon-trash"></i> Delete</a>
                    <a href="{% url 'edit_question_module_page' question_module.id %}" class="btn btn-small" id="edit-module_{{ question_module.id }}"><i class="icon-pencil"></i> Edit</a>
                </div>
                {% include "base/delete_modal.html" with object_name=question_module.name id=question_module.id name="Module" url=question_module.id|get_url_with_ids:"delete_question_module_page" %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}