<style type="text/css">
.dataTables_wrapper .row:first-child {
     padding-top: 0px !important; 
     padding-bottom: 0px !important; 
     background-color: #FFF !important; 
}
	#id_name{
		width: 231px;
		/*margin-left: -2px;*/
	}
</style>
<form action="{{ action }}" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
  {% csrf_token %}
  {% include "naked_form.html" with a_form=question_module_form %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="save_button"  data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
    <a href="/modules/" class="btn btn-primary" name="cancel_button" style=" padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;">Cancel</a>
  </div>
</form>