<h3>
  {% block title %} {{ title }} {% endblock %}
</h3>
<form action="/modules/new/" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
  {% csrf_token %}
  {% include "naked_form.html" with a_form=question_module_form %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="save_button"  data-disabled-text="{{ loading_text }}">Create</button>
    <a href="/modules/" class="btn btn-primary" name="cancel_button">Cancel</a>
  </div>
</form>