{% extends "layout.html" %}
{% block title %}
  ODK Submissions
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate submissions 50 %}
{% load template_tags %}
    <h3>ODK Submission List</h3>
    <br class="clear"/>
    <br/>
    {% include "search_form.html" %}

	
        <table class="table table-striped table-bordered table-hover table-sort">
            <thead>
            <tr>
                <th>Enumeration Area</th>
                <th>Household Number</th>
				<th>Household Member</th>
				<th>Investigator</th>
                <th>Survey</th>
                <th>Form Id</th>
                <th>Submission Instance</th>
		<th>Submission Date</th>
                <th> Attachments </th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        {{ submission.investigator.ea }}
                    </td>
                    <td>
                        {{ submission.household_member.household.random_sample_number }}
                    </td>
					<td>
                        {{ submission.household_member.first_name}}, {{submission.household_member.surname }}
                    </td>
                    <td>
                        {{ submission.investigator.name }}
                    </td>
                    <td>
						{{ submission.survey.name }}
                    </td>
                    <td>
                        {{ submission.form_id }}
                    </td>
                    <td>
                        {{ submission.instance_id }}
                    </td>
                    <td>
                        {{ submission.created }}
                    </td>
                    <td class="attachments">
           		
			{% if submission.has_attachments %}
                            <a href="{% url 'download_submission_attachment' submission.pk %}">
			     <br /><span>Download({{submission.attachments.count}})</span>
			    </a>
			{% else %}
			    <span>None</span>
                        {% endif %}
                     </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% paginate %}
{% endblock %}
