{% extends "layout.html" %}
{% block title %}
  ODK Submissions
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate submissions 50 %}
{% load template_tags %}
    <h3>ODK Submission List</h3>
    <br class="clear"/>
    <br/>
    {% include "search_form.html" %}

	
        <table class="table table-striped table-bordered table-hover table-sort">
            <thead>
            <tr>
                <th>Investigator</th>
                <th>Survey</th>
                <th>Household</th>
				<th>Household Member</th>
                <th>Form Id</th>
                <th>Submission Instance</th>
				<th>Submission Date</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        {{ submission.investigator.name }}
                    </td>
                    <td>
						{{ submission.survey.name }}
                    </td>
                    <td>
                        {{ submission.household_member.household.uid }}
                    </td>
					<td>
                        {{ submission.household_member.first_name}}, {{submission.household_member.surname }}
                    </td>
                    <td>
                        {{ submission.form_id }}
                    </td>
                    <td>
                        {{ submission.instance_id }}
                    </td>
                    <td>
                        {{ submission.created }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% paginate %}
{% endblock %}
