LEVEL_OF_EDUCATION = (  ("Did not attend school", "Did not attend school"),
                        ("Nursery", "Nursery"),
                        ("Primary", "Primary"),
                        ("'O' Level", "'O' Level"),
                        ("'A' Level", "'A' Level"),
                        ("Tertiary", "Tertiary"),
                        ("University", "University"),
                    )

LANGUAGES = (   ("English", "English"),
                ("Luganda", "Luganda"),
                ("Runyankore-Rukiga", "Runyankore-Rukiga"),
                ("Runyoro-Rutoro", "Runyoro-Rutoro"),
                ("Swahili", "Swahili"),
                ("Ateso-Karimojong", "Ateso-Karimojong"),
                ("Luo", "Luo"),
                ("Lugbara", "Lugbara"),
            )
TIME_MEASURE =( ("Days", "Days"),
                ("Months", "Months"),
                ("Years", "Years"),
              )
COUNTRY_PHONE_CODE = "256"
USSD_PROVIDER = "YO"