{% extends "layout.html" %}

{% load template_tags %}
{% block title %}
  Enumeration Area Lists
{% endblock %}
{% block search %}
{% include "horizontal_filter_form.html" with a_form=locations_filter no_button=True filter_id='location_filter' %}
<br />
{% include "search_form.html" %}
{% endblock %}
{% block page_actions %}
    <!-- <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'new_enumeration_area_page' %}" class="" id="add-module"><i class="icon-plus"></i> Add Enumeration Area</a>
											</button> -->
	<a class="btn btn-white btn-warning btn-bold" href="{% url 'new_enumeration_area_page' %}" id="add-module">
                        <i class="ace-icon fa fa-plus bigger-120 orange"></i>
                         Add Enumeration Area</a>

{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate enumeration_areas max_display_per_page %}
{% load template_tags %}
    <br class="clear"/>
    <br/>
    <!-- <table id="" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info"> -->
    <table id="datatables" class="table table-striped table-bordered table-hover table-sort ">
		<thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending">Name</th>
            {% for loc_type in location_filter_types %}
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Update	: activate to sort column ascending">
                    {{ loc_type.name }}
                </th>
            {% endfor %}
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Update	: activate to sort column ascending">Locations</th>
            <th class="hidden-466" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="">Actions</th>
         </tr>
    </thead>
        <tbody>
        
        {% for ea in enumeration_areas %}
            <tr id="ea-{{ea.pk}}" class="eas">
                <td>{{ ea.name }}</td>
				{% for loc in ea.parent_locations %}
				  <td>
					{{ loc.name }}
				  </td>
				{% endfor %}
                <td>
                	<a href="#ea_{{ea.pk}}" data-toggle="modal" class="add_batch">view ({{ea.locations.count}})</a>
                	  <div class="modal fade hide" id="ea_{{ea.pk}}" tabindex="-1" role="dialog"  aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					          <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <h4 class="modal-title">{{ea.name}} Locations</h4>
					          </div>
					          <div class="modal-body">
					            <table id="ea_{{ea.pk}}" class="ea_locations">
		                			{% for location in ea.locations.all %} 
			                			<tr>
			                				<td>{{ location.name }}<td>
			                			</tr>
			                		{% endfor %}
			                	</table>
					          </div>
					        </div><!-- /.modal-content -->
					    </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
                
                </td>
                <td>

                <div class="">
                    <div class="inline pos-rel">
                       <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                           <i class="usur-icon fa fa-caret-down icon-only bigger-120"></i>
                       </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
							 <li>
                                <a href="{% url 'edit_enumeration_area_page' ea.pk %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Edit</span></a>
                            </li>
                            <li><a href="{% url 'delete_enumeration_area' ea.id %}" data-toggle="modal" class="tooltip-success" data-rel="tooltip" title=""><span class="green"><i class="usur-icon fa fa-trash bigger-120"></i>Delete</span></a></li>
                        </ul>
                    </div>
                </div>
                </td>
            </tr>
            {% include "base/delete_modal.html" with object_name=ea.name id=ea.id name="Enumeration_Area" url=ea.id|get_url_with_ids:"delete_enumeration_area" %}
        {% endfor %}
        </tbody>
    </table>
{% paginate %}
{% endblock %}

{% block javascripts %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
	    <!--$("#a-ea-list").hide();-->
	    <!-- -->
	    <!--$('.location_filter').on('change', function () {-->
	    	<!--{% for location_type in location_filter_types %}-->
	    	   <!--var {{ location_type }}_selected = $('#id_{{ location_type }}').val();-->
	    	<!--{% endfor %}-->
	    	<!--url = "{% url 'enumeration_area_filter' %}";-->
	        <!--params = { -->
	        		<!--{% for location_type in location_filter_types %}-->
	        			<!--{{ location_type }} : {{ location_type }}_selected,-->
	 	    		<!--{% endfor %}	-->
	        <!--}-->
	        <!--$.getJSON(url, params, function (data) {-->
	        	<!--$('.eas').hide();-->
	            <!--$.each(data, function () {-->
	            	<!--$('#ea-'+this.id).show();-->
	            <!--});-->
	        <!--});-->
	    <!--});-->
	    
	$(document).ready(function() {
    $('#datatables').DataTable();
} );
	    
	    {% for location_type in location_filter_types %}
	    $('#id_{{ location_type }}').on('change', function () {
	    	params = { 'parent_loc' : $('#id_{{ location_type }}').val(), 'type' : '{{ location_type.pk }}'};
	    	url = "{% url 'location_sub_types' %}";
	        $.getJSON(url, params, function (data) {
	        	$('#id_' + data.sub_type +' option').hide();
	        	$('#id_' + data.sub_type +' option[value=""]').show();
        		$.each(data.locations, function () {
	                $('#id_' + data.sub_type +' option[value='+this.id+']').show();
	            });
        		$(' .chzn-select').trigger("liszt:updated");  
	        });
 	  		 
	    });
 		{% endfor %}
    </script>
{% endblock %}
