{% extends "form.html" %}

{% block title %}
 {% if enumeration_area_form.instance %}
 	Change Enumeration Area
 {% else %}
  New Enumeration Area
 {% endif %}
{% endblock %}
{% block search %}
{% include "locations_filter_form.html" with a_form=locations_filter no_button=True filter_id='loc_filter' no_auto_refresh=True %}
{% endblock %}
{% block pre_form_content %}
    <div class="control-group" style="width: 40%">
        <label class="control-label"><span id="text-counter" style="float: right;"></span></label>
    </div>
{% endblock%}
{% block display_form_fields %}
<style type="text/css">
	.control-label{
		margin-left: 90px !important;
	}	
#ea_name{
	margin-left: 55px !important;
}
</style>

{% include "naked_form.html" with a_form=enumeration_area_form %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="utf-8">
	    $('.location_filter').on('change', function () {
	    	{% for location_type in location_filter_types %}
	    	   var {{ location_type }}_selected = $('#id_{{ location_type }}').val();
	    	{% endfor %}
	    	url = "{% url 'location_filter' %}";
	        params = {
	        		{% for location_type in location_filter_types %}
	        			{{ location_type }} : {{ location_type }}_selected,
	 	    		{% endfor %}
	        }
	        $.getJSON(url, params, function (data) {
	        	$('#ea-locations').empty();
        		$(data).each(function () {
					$("<option />", {
						val: this.id,
						text: this.name
					}).appendTo($('#ea-locations'));
				});
				$('#ea-locations').multiSelect("destroy").multiSelect();
	        });
	    });
  	{% for location_type in location_filter_types %}
	$('#id_{{ location_type }}').on('change', function () {
	    	params = { 'parent_loc' : $('#id_{{ location_type }}').val(), 'type' : '{{ location_type.pk }}'};
	    	url = "{% url 'location_sub_types' %}";
	        $.getJSON(url, params, function (data) {
	        	$('#id_' + data.sub_type).find('option').remove().end()
	        	.append('<option value="">-------</option>').val('');
        		$.each(data.locations, function () {
        			$('#id_' + data.sub_type).append('<option value='+this.id+'>'+this.name+'</option>');
	            });
        		$(' .chzn-select').trigger("liszt:updated");
	        });
	    });
  	{% endfor %}
    </script>
    <style type="text/css">
    .form-inline .control-label { 
     margin-top: 18px;
}
    	#ea_name {
    		margin-left: 10px !important;
    	}
    	.controls > label {
    		padding-bottom: 25px !important;
    	}
    	.ms-container {    
    margin-top: -25px !important;
    width: 1070px !important;    
}  
.controls {
    margin-bottom: 20px;
    margin-top: -18px;
}  	
    </style>
{% endblock %}