{% extends 'layout.html' %}
{% block title %}
    Indicator List
{% endblock %}

{% block content %}
    <h3>Indicator List</h3>
    <form id="question-filter-form" action="{{ action }}" method="post" class="pull-left padded-bottom">
    {% csrf_token %}
        {% include "horizontal_filter_form.html" with a_form=indicator_filter_form%}
            <button class="btn btn-primary" id="a-indicator-list"> Get List</button>
    </form>
    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Indicator
            </th>
            <th>
              Description
            </th>
             <th>
              Module
            </th>
             <th>
              Measure
            </th>
              <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
        {% for indicator in indicators %}
            <tr>
                <td>{{ indicator.name }}</td>
                <td>{{ indicator.description }}</td>
                <td>{{ indicator.module.name }}</td>
                <td>{{ indicator.measure }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}