{% extends 'layout.html' %}
{% block title %}
    Indicator List
{% endblock %}
{% block extra_head %}
<style type="text/css">
    .status {
        width: 15px !important;
        background-image: None !important;
    }
    th.status::after {
        background-image: None !important;
        content: None !important;
    }
#red_circle  {
    /*background: #d12a09 none repeat scroll 0 0;
    border-radius: 70px;
    height: 10px;
    margin-top: 5px;
    width: 10px;*/
    background: #a3a3a3 none repeat scroll 0 0;
    border: 1px solid #000;
    margin-top: 5px;
    border-radius: 70px;
    height: 10px;
    width: 10px;
}
#green_circle {
    background: #009948 none repeat scroll 0 0;
    border-radius: 70px;
    height: 10px;
    margin-top: 5px;
    text-align: center;
    width: 10px;
}
#amber_circle {
    background: #ffcc00 none repeat scroll 0 0;
    border-radius: 70px;
    height: 10px;
    margin-top: 5px;
    width: 10px;
}
.dataTables_scrollBody{
                          height: 300px !important;
                        }                        
</style>
{% endblock %}

{% block search %}
 {% include "horizontal_filter_form.html" with a_form=indicator_filter_form no_button=True filter_id='indicator_filter_form' %}
<!-- <br /> -->

{% endblock %}
{% block page_actions %}
    <!-- <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'new_indicator_page' %}" class="">Add Indicator</a>
											</button> -->
                      <div class="col-lg-16">
  <a style="padding-left: 4px;padding-right: 3px;" class="btn btn-white btn-warning btn-bold" href="{% url 'new_indicator_page' %}" >
                        <i class="ace-icon fa fa-plus bigger-120"></i>
                         Add Indicator</a>
                         </div>
{% endblock %}
{% load template_tags %}
{% block content %}
{% load pagination_tags %}
{% include "search_form.html" %}
    <br/>
    <table id="datatables" class="table table-striped table-bordered table-hover dataTable">
        <thead>
          <tr>
            <th class="sorting">
                Sts.
            </th>
            <th class="sorting">
              Indicator
            </th>
            <th class="sorting">
              Description
            </th>
             <th class="sorting">
              Survey
            </th>
            <th class="sorting">
              Batch
            </th>
              <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
        {% for indicator in indicators %}
            <tr>
              <td>
                  {% if indicator.display_on_dashboard %}<div id="green_circle" title="Displayed"><span class="hide">D</span></div>{% else %}<div id="red_circle" title="Not Displayed"><span class="hide">N</span></div>{% endif %}
              </td>
                <td>{{ indicator.name }}</td>
                <td>{{ indicator.description }}</td>
                <td>{{ indicator.survey.name }}</td>
                <td>{{ indicator.question_set.name }}</td>
                <td>                                
                <div class="">
                <div class="inline pos-rel">
                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                           <i class="usur-icon fa fa-caret-down icon-only bigger-120"></i>
                       </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                <li>
                                <a href="{% url 'edit_indicator_page'  indicator.id %}" class="tooltip-info" data-rel="tooltip" data-toggle="modal" id="edit-indicator_{{ indicator.id }}" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Edit</span></a>
                            </li>
                    <!-- <li>
                    <a href="{% url 'edit_indicator_page'  indicator.id %}" class="btn btn-small" data-toggle="modal" class="tooltip-success" data-rel="tooltip" title="" id="edit-indicator_{{ indicator.id }}"><i class="icon-pencil"></i> Edit</a></li>-->
                    <!-- <li>
                    <a href="#delete_indicator_{{indicator.id}}" class="btn btn-small" data-toggle="modal" id="delete-indicator_{{indicator.id}}"><i class="icon-trash"></i> Delete</a></li>
                    <li> -->

                     <li>
                                <a href="#delete_indicator_{{indicator.id}}" class="tooltip-info" data-toggle="modal" data-rel="tooltip" id="edit-indicator_{{ indicator.id }}" title="" data-original-title="Edit"><span class="red"><i class="usur-icon fa fa-trash"></i>Delete</span></a>
                            </li>
                     <li><a href="{% url 'view_indicator_variables' indicator.pk %}" class="tooltip-error" data-rel="tooltip" title=""><span class="green"><i class="usur-icon fa fa-eye bigger-120"></i>View Variables</span></a></li>


<!-- 
                    <a href="{% url 'add_formula_page' indicator.id %}" class="btn btn-small" id="add-formula-indicator_{{ indicator.id }}"><i class="icon-wrench"></i> Formula</a></li>
                    <li> -->
                    <li>
                                <a href="{% url 'add_formula_page' indicator.id %}" class="tooltip-info" data-toggle="modal" data-rel="tooltip" id="add-formula-indicator_{{ indicator.id }}" title="" data-original-title="Edit"><span class="black"><i class="usur-icon fa fa-braille"></i>Formula</span></a>
                            </li>
                    <!-- <a href="{% url 'simple_indicator_chart_page' indicator.id %}" class="btn btn-small" id="analyse-indicator_{{ indicator.id }}"><i class="icon-eye-open"></i> Analysis</a></li> -->

                    <li>
                                <a href="{% url 'simple_indicator_chart_page' indicator.id %}" class="tooltip-info" data-toggle="modal" data-rel="tooltip" id="analyse-indicator_{{ indicator.id }}" title="" data-original-title="Edit"><span class="green"><i class="usur-icon fa fa-pie-chart"></i>Analysis</span></a>
                            </li>
                            </ul>
                    </div>
                </div>
                {% include "base/delete_modal.html" with object_name=indicator.name id=indicator.id name="Indicator" url=indicator.id|get_url_with_ids:"delete_indicator_page" %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
    {% autopaginate indicators max_display_per_page %}
    {% paginate %}
    <div class="paginate_msg">Total {{ page_obj.paginator.count }} entries. Showing {{ page_obj}}</div>
{% endblock %}
{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/indicator.js" type="text/javascript" charset="utf-8"></script>
{% include 'max_display_per_page_form.html' %}
{% endblock %}