{% extends 'form.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block extra_head %}
<link href="{{STATIC_URL}}css/select2.css" rel="stylesheet"/>
<script src="{{STATIC_URL}}js/select2.full.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/awesomplete.css" />
<script src="{{ STATIC_URL }}js/awesomplete.min.js" async></script>
<style type="text/css">
    #id_test_question {
        width: 90%;
    }
    .form-horizontal {
        margin-top: 5px;
    }
    .form-horizontal .control-label {
    padding-top: 7px !important;
    margin-bottom: 0;
    text-align: right;
    }
    .commonst {
        margin: 0 auto;
        text-align: left;
        width: 150px;
    }
    .text-danger{color: red;}
</style>
{% endblock %}
{% block display_form_fields %}
    {% include "naked_form.html" with a_form=indicator_form %}
    
{% endblock %}
    {% block non_form_content %}
       <div class="modal fade" id="add_variable" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #3498DB;border-top: 1px solid #70B6E5;border-bottom: 5px solid #2372A7;" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color: #fff">New Variable</h4>
              </div>
              <div class="modal-body">
                {% include "indicator/indicator_variable_modal.html" %}
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
   <div class="modal fade" id="remove-selected-variable" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Clear Variable</h4>
                  </div>
                  <div class="modal-body">
                    <span class="alert_confirm">Confirm:</span> Are you sure you want to remove the selected Variables?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary remove-selected-variable clear-button" href="#>" >Yes</a>
                  </div>
                </div>
              </div>
            </div>
    {% endblock %}
{% block javascripts %}
<style type="text/css">
    #id_description{
        width: 250px !important;
        height: 50px !important;
        padding: 3px;
    }

    .dataTables_wrapper input[type="search"],
    .dataTables_wrapper input[type="text"],
    .dataTables_wrapper select {
        margin-bottom: 0 !important;
        margin-left: 4px!important;
        margin-right: 4px!important;
        margin-top: 0px !important;
        padding: 3px !important;
        width: 245px!important;
        line-height: 22px;
    }
</style>



<script type="text/javascript">
   
$('#math_validate').on('click', function() {
  var indicator_id = $('#id_formulae').val();
  $("#formule_msg").empty();
  try{
    eval(indicator_id);
    $("#formule_msg").append("Valid Formulae Expression");
    $("#formule_msg").attr("class","text-success");
  } catch (e) {
    $("#formule_msg").append("Invalid Formulae Expression");
    $("#formule_msg").attr("class","text-danger");
  }
  
});

</script>

<script type="text/javascript">
   $(document).ready(function() {
     reload_test_questions();
     {% if indicator_form.instance.pk %}
        $("#id_survey").prop("disabled", true);
        $("#id_question_set").prop("disabled", true);
     {% endif %}
     $("#id_survey").change(function(){
        $("#id_question_set option:gt(0)").remove();
        var url = '{% url "view_qsets" %}' + '?survey_id='+ $("#id_survey").val();
        $.getJSON(url, function (data) {
            $.each(data, function () {
                $("#id_question_set").append($('<option />').val(this.id).text(this.name));
            });
        });
     });
     $('.remove-selected-variable').click(function(){
          $('#id_variables :selected').each(function(){
                $(this).remove();       //just remove it first
                var url = "{% url 'ajax_delete_indicator_variable' %}?id="+$(this).val();
                $.ajax({
                    url : url,
                    type: "GET",
                    dataType : "html",
                });

            });
            $('#remove-selected-variable').modal('hide');
            $('#id_variables option').prop('selected', true);
            return true;
        });
     $('#edit_variable').click(function() {
        var url = "{% url 'ajax_edit_indicator_variable' %}?id="+$('#id_variables :selected').first().val();
        $.ajax({
                url : url,
                type: "GET",
                dataType : "html",
                success: function( data ){
                    $('#variable-form-body').html(data);
                    $('#add_variable').modal('show');
                    resetAll();
                }
            });
        return true;
     });
     $('#validate').click(validate_formulae);
     $('#id_formulae').change(validate_formulae);
     $('#button').click(function() {
        $('#id_variables option').prop('selected', true);
        {% if indicator_form.instance.pk %}
            $("#id_survey").prop("disabled", false);
            $("#id_question_set").prop("disabled", false);
        {% endif %}
        return true;
     });
     $("#id_question_set").change(function(){
        reload_test_questions();
     });

    } );
    function reload_test_questions() {
        $("#id_var_qset").val($("#id_question_set").val());
        $("#id_test_question option").remove();
        var url = '{% url "list_questions" %}' + '?id='+ $("#id_question_set").val();
        $.getJSON(url, function (data) {
            update_test_question_dropdown(data);
        });
        if($("#id_question_set").val())
            $('#add_new_variable').show();
        else
            $('#add_new_variable').hide();
     }
    function validate_formulae() {
        var url = "{% url 'validate_formulae' %}";
        var validation_data = {'variables': $('#id_variables').val(), 'formulae': $('#id_formulae').val() };
        $.ajax({
                url : url,
                type: "GET",
                'data': validation_data,
                dataType : "json",
                success: function( data ){
                    if(data.valid){
                        $('#validate').html('<span style="color:green">\
                                <i class="fa fa-check"></i>\
                            </span>');
                    }
                    else {
                        $('#validate').html('<span style="color:red">\
                                <i class="fa fa-times"></i>\
                            </span>');
                    }
                }
            });
        $('#validate').html('<span style="color:orange">\
                                <i class="fa fa-exclamation-triangle"></i><span class="checking" />\
                            </span>');
        i = 0;
        setInterval(function() {
          i = ++i % 4;
          $("#validate .checking").text("Checking" + Array(i+1).join("."));
        }, 1000);
        return true;
     }
    function update_test_question_dropdown(data) {
        $('#id_test_question').append('<option value="">Question-Code'+id_text_delim+'Text</option>');
        $.each(data, function (i, item) {
            $('#id_test_question').append('<option value="' + item['id'] + '">' + item['identifier'] + id_text_delim + item['text'] + "</option>");
        });
        change_to_select2($('#id_test_question'));
    }
</script>

<script src="{{STATIC_URL}}js/logic.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}js/type-auto-suggest.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
                $(function(){
                    $('#id_formulae').on('keyup', function(){
                        var vars = [];
                        $('#id_variables option').each(function(i, selected){
                          vars[i] = $(selected).val();
                        });
                       make_suggestions('#id_formulae', "{% url 'indicator_variables' %}?" + $.param({'var_id[]': vars}));
                       this.focus();
                    });
                });
            </script>

{% endblock %}

