{% extends 'layout.html' %}
{% load template_tags %}
{% block title %} Simple Indicator {% endblock %}
{% block page_title %}Simple Indicator{% endblock %}
{% block search %}
{% include "indicator/indicator_metrics_filter.html" with a_form=locations_filter filter_button_name='Show results' filter_id='location_filter' method='post' %}
<br />
{% include "search_form.html" %}
{% endblock %}
{% block extra_head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block page_actions %}

{% endblock %}
{% block content %}
<div style="overflow-x:auto; width: 100%;">
{{ graph }}
</div>
<br /><br />

<div style="overflow-x:auto; width: 100%;">
    <h4>{{indicator.REPORT_FIELD_NAME}} = {{indicator.formulae_string}}</h4>
    {{ report }}
</div>

{% endblock %}