{% extends "page_with_table.html" %}
{% load template_tags %}
{% load pagination_tags %}
{% autopaginate groups 50 %}
{% block title %}
  Group List
{% endblock %}
{% block search %}
{% include "search_form.html" %}
{% endblock %}
{% block page_actions %}

        <a style="padding-left: 4px;padding-right: 3px;" class="btn btn-white btn-warning btn-bold" href="{% url 'new_respondent_groups_page' %}" >
                        <i class="ace-icon fa fa-plus bigger-120"></i>
                         Add Group</a>
        <!-- <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'new_respondent_groups_page' %}" class="">Add Group</a>
											</button> -->
        <a style="padding-left: 4px;padding-right: 3px;" class="btn btn-white btn-warning btn-bold" href="{% url 'show_parameter_template' %}" >
                        <i class="ace-icon fa fa-eye bigger-120"></i>
                         Available Parameters</a>
        <!-- <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-eye bigger-120 orange"></i>
												<a href="{% url 'show_parameter_template' %}" class="" >Available Parameters</a>
											</button> -->

{% endblock %}

    {% block table_head %}
    <br>
      <tr>
        <th class="sorting">
          Group name
        </th>
        <th class="sorting">
          Description
        </th>
        <th  style="background-image: None;">
          Actions
        </th>
      </tr>
    {% endblock %}
    {% block table_body %}
    {% for group in groups %}
        <tr>
          <td>
            <a href="{% url 'respondent_groups_details' group.id %}">{{ group.name }}</a>
          </td>
          <td>
            {{ group.description }}
          </td>
          <td>
            <div class="">
                <div class="inline pos-rel">
                       <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                           <i class="usur-icon fa fa-caret-down icon-only bigger-120"></i>
                       </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a href="{% url 'respondent_groups_edit' group.id %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Edit</span></a>
                            </li>
                            {% if not group.has_interviews %}
                            <li>
                                <a href="{% url 'respondent_groups_delete' group.id %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Delete"><span class="red"><i class="usur-icon fa fa-trash bigger-120"></i>Delete</span></a>
                            </li>
                            {% endif %}
                        </ul>
                </div>
            </div>
          {% include "base/delete_modal.html" with object_name=group.name id=group.id name="Group" url=group.id|get_url_with_ids:"respondent_groups_delete" %}
          </td>
        </tr>
      {% endfor %}
    {% endblock %}

