{% extends "horizontal_filter_form.html" %}
{% block prefilter %}
    <br />
    <br />    
{% endblock %}
{% block submit_button %}
<td valign="middle" class="downbutton">
    <input type="submit" name="action" value="Email Spreadsheet" class="btn btn-primary" id="email_excel" style="    border-left: 0px solid #0577e0 !important;" />
     <input type="submit" name="action"  value="Download Spreadsheet" class="btn btn-primary" id="download_excel" style="border-left: 0px solid #0577e0 !important;" />
</td>
{% endblock %}


