{% extends "horizontal_filter_form.html" %}
{% block prefilter %}
    <br />
    <br />    
{% endblock %}
{% block submit_button %}
<style type="text/css">
	.dataTables_wrapper select {    margin-bottom: 0 !important;    margin-left: 4px!important;    margin-right: 4px!important;    margin-top: 0px !important;    padding: 3px !important;    width: 200px!important;}
</style>
<td valign="middle" class="downbutton">
    <input type="submit" name="action" value="Email Spreadsheet" class="btn btn-primary" id="email_excel" style="    border-left: 0px solid #0577e0 !important;     padding: 4px;" />
     <input type="submit" name="action"  value="Download Spreadsheet" class="btn btn-primary" id="download_excel" style="border-left: 0px solid #0577e0 !important;     padding: 4px;" />
</td>
<div class="modal fade" id="progress_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="download-status" class="modal-title">...</h4>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
   $(document).ready(function(){
        updateProgress = function(text) {
            var i = 0;
            var interval = setInterval(function() {
                  i = ++i % 5;
                  $("#download-status").text(text + Array(i+1).join("."));
                }, 1000);
            return interval;
        }
        $('#download_excel').click(function(event){
            event.preventDefault();
            var form = $(this).closest('form');
            arr = form.serializeArray();
            arr.push({'name': this.name, 'value': this.value});
            $('#progress_modal').modal('show');
            var interval = updateProgress("Report is being generated. Please wait");
            $.ajax({
                url  : form.action,
                data: arr,
                method: 'GET',
                success: function(data, status, response){
                    var filename = response.getResponseHeader('Content-Disposition').split('=')[1];
                    var content_type = response.getResponseHeader('Content-Type');
                    clearInterval(interval);
                    interval = updateProgress("Retrieving file");
                    download(data, filename, content_type);
                    clearInterval(interval);
                    $('#progress_modal').modal('hide');
                },
                error: function(){
                    clearInterval(interval);
                    $("#download-status").text('Error while generating the report. please try again');
                }
            });
            return false;
        });
   } );
</script>

{% endblock %}


