<table width="75%" height="20px" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="right" valign="top">{% extends "horizontal_filter_form.html" %}</td>
<td align="left" valign="bottom">{% block submit_button %}
    <input type="submit" name="action" value="Email Spreadsheet" class="accesbutton2" id="email_excel" />
     <input type="submit" name="action"  value="Download Spreadsheet" class="accesbutton2" id="download_excel" />
{% endblock %}</td>
</tr></table>
