{% extends "layout.html" %}
{% block title %}
    Completion Rates
{% endblock %}
{% block content %}
   {% load pagination_tags %}

    <h3>Survey Completion by Region/District</h3>

  <form id="aggregates-form" action="{% url action %}" method="post">
    {% csrf_token %}
    <div>
        {% include "horizontal_naked_form.html" with a_form=filter %}
    </div>
     <div>
        {% include "horizontal_location_widget.html" with location_data=locations default_text="All" %}
     </div>
    <button class="btnforall">Refresh status</button>
  </form>
  {% if completion_rates %}
    {% autopaginate completion_rates.attributes 50 %}

    <table class="table table-striped table-bordered table-sort">
      <thead>
        <tr>
          <th>Location</th>
          <th>Total Household</th>
          <th>% Completed</th>
        </tr>
      </thead>
      <tbody>
      {% for completion_attributes in completion_rates.attributes %}
          <tr>
            <td><a href="{% url 'survey_completion_rates' %}?location={{ completion_attributes.location.id }}&batch={{ selected_batch.id }}">{{ completion_attributes.location.name }}</a></td>
            <td>{{ completion_attributes.total_households }}</td>
            <td>{% if completion_attributes.total_households %}
                    {{ completion_attributes.completed_households_percent}}
                {% else %}--{% endif %}
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% paginate %}
{% endif %}
{% endblock %}
{% block javascripts %}
  <script src="{{STATIC_URL}}/js/location-widget.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}/js/survey_status.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
