{% extends "layout.html" %}
{% block title %}
    Completion Rates
{% endblock %}
{% block content %}
    <h3>Survey Completion by Region/District</h3>
  <form id="aggregates-form" action="{% url action %}" method="get">
    <div>
      {% load template_tags %}
      <label>Survey</label>
      <select name="survey" id="survey-list-select" name="survey">
        {% for survey in surveys %}
          <option value="{{ survey.id }}" >{{ survey.name }}</option>
        {% endfor %}
      </select>

      <label>Batch</label>
      <select name="batch" id="batch-list-select" name="batch">
        {% for batch in batches %}
          <option value="{{ batch.id }}" {{ batch|is_batch_selected:selected_batch }} >{{ batch.name }}</option>
        {% endfor %}
      </select>
    </div>
     <div>
        {% include "horizontal_location_widget.html" with location_data=locations default_text="All" %}
     </div>
    <button class="btn btn-primary">Get status</button>
  </form>
  {% if total_households %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Location</th>
          <th>Total Household</th>
          <th>% Completed</th>
        </tr>
      </thead>
      <tbody>
      {% for key,value in total_households.items %}
          <tr>
            <td><a href="{% url 'survey_completion_rates' %}?location={{ key.id }}&batch={{ selected_batch.id }}">{{ key.name }}</a></td>
            <td>{{ value }}</td>
            <td>{% if completed_households_percent.key %}
                {{ completed_households_percent.key }}
                {% else %}
                    --
                {% endif %}
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endif %}
{% endblock %}
{% block javascripts %}
  <script src="{{STATIC_URL}}/js/location-widget.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}/js/survey_status.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}