{% extends "layout.html" %}
{% block title %}
  Download reports
{% endblock %}
{% block content %}
  <h4>
    Choose which reports you would like to export to excel
  </h4>
  <form id="download-csv-form" action="{% url 'excel_report' %}" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    <select name="batch">
      {% for batch in batches %}
        <option value="{{ batch.id }}">{{ batch.name }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-primary">Export to spreadsheet</button>
  </form>
{% endblock %}