{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
  Download reports
{% endblock %}
{% block page_title %}Choose survey to export data {% endblock %}
{% block search %}
{% include "horizontal_filter_form.html" with a_form=locations_filter no_button=True filter_id='location_filter' %}
<br />
{% endblock %}
{% block extra_head %}

<style type="text/css">
	.form {
		margin-top: -10px;
	  }

.forleft {
    position: relative;
    top: -28px;
	left:10;
}
</style>
{% endblock %}
{% block content %}

<div class="forleft">
  {% include "aggregates/_download_filter.html" with action="excel_report"|get_url_without_ids filter_id="download-csv-form" a_form=survey_batch_filter_form  %}
</div>
<script type="text/javascript">
$(function(){
    {% for location_type in location_filter_types %}
	$('#id_{{ location_type }}').on('change', function () {
	    	params = { 'parent_loc' : $('#id_{{ location_type }}').val(), 'type' : '{{ location_type.pk }}'};
	    	url = "{% url 'location_sub_types' %}";
	        $.getJSON(url, params, function (data) {
	        	$('#id_' + data.sub_type).find('option').remove().end()
	        	.append('<option value="">-------</option>').val('');
        		$.each(data.locations, function () {
        			$('#id_' + data.sub_type).append('<option value='+this.id+'>'+this.name+'</option>');
	            });
        		$(' .chzn-select').trigger("liszt:updated");
	        });

	    });
  	{% endfor %}
  	i = 0;
        setInterval(function() {
          i = ++i % 4;
          $("#validate .checking").text("Downloading11" + Array(i+1).join("."));
        }, 1000);
        return true;
  	});
</script>
  {% endblock %}
