{% extends "layout.html" %}
{% block title %}
  Completion Rates
{% endblock %}
{% block content %}
    <h3>Survey Completion by household in {{ selected_location.type.name }} {{ selected_location.name }}</h3>
    {% if completion_rates %}
    <p>Investigator: {{ investigator.name }}({{ investigator.mobile_number }})</p>
    <p>Percent Completion: {{ completion_rates.percent_completed_households }}</p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>HH Code</th>
          <th>Household Head</th>
          <th>Number of members</th>
          <th>Total Interviewed</th>
          <th>Date Completed</th>
        </tr>
      </thead>
        <tbody>
        {% for interviewed in completion_rates.interviewed_households %}
            <tr>
                <td>{{ interviewed.household.uid }}</td>
                <td>{{ interviewed.household.get_head.surname.capitalize }}</td>
                <td>{{ interviewed.household.household_members.all.count }}</td>
                <td>{{ interviewed.number_of_member_interviewed }}</td>
                <td>{{ interviewed.date_interviewed|default_if_none:'--' }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
{% endblock %}
