{% extends "layout.html" %}
{% block title %}
  Completion Rates
{% endblock %}
{% block content %}
    <h3>Survey Completion by household in EA {{ selected_ea.name }}</h3>
    {% if interviewer %}
    <p>Interviewer: {{ interviewer.name }}({{ interviewer.mobile_number }})</p>
    {% endif %}
    {% if completion_rates %}
        <p>Percent Completion: {{ completion_rates.percent_completed_households }}</p>
    {% endif %}

    <table class="table table-striped table-bordered table-sort">
      <thead>
        <tr>
          <th>HH Code</th>
          <th>Household Head</th>
          <th>Total number of members in Household</th>
          <th>Total Interviewed</th>
          <th>Date Completed</th>
        </tr>
      </thead>
        <tbody>
        {% for interviewed in completion_rates.interviewed_households %}
            <tr>
                <td>{{ interviewed.household.uid }}</td>
                <td>{{ interviewed.household.get_head.surname.capitalize }}</td>
                <td>{{ interviewed.household.household_member.all.count }}</td>
                <td>{{ interviewed.number_of_member_interviewed }}</td>
                <td>{{ interviewed.date_interviewed|default_if_none:'--' }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
