{% extends "layout.html" %}
{% block title %}
  Completion Rates
{% endblock %}
{% block content %}
    <h3>Survey Completion by household in {{ selected_location.type.name }} {{ selected_location.name }}</h3>
    {% if households %}
    <p>Investigator: {{ investigator.name }}({{ investigator.mobile_number }})</p>
    <p>Percent Completion: {{ percent_completed }}</p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>HH Code</th>
          <th>Household Head</th>
          <th>Number of members</th>
          <th>Total Interviewed</th>
          <th>Date Completed</th>
        </tr>
      </thead>
        <tbody>
        {% for household, member_interviewed in households.items %}
            <tr>
                <td>{{ household.uid }}</td>
                <td>{{ household.get_head.first_name|capfirst }} {{ household.get_head.surname|capfirst }}</td>
                <td>{% if household.household_members.all %}
                    {{ household.household_members.all.count }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                <td>{{ member_interviewed }}</td>
                <td>{{ date_completed.household }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
{% endblock %}
