{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
  Interviewers List
{% endblock %}
{% block search %}
 
{% include "horizontal_filter_form.html" with a_form=locations_filter no_button=True filter_id='locations_filter' %}
<br />
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% include "search_form.html" %}
{% autopaginate interviewers max_display_per_page %}

</div>

    <table class="table dataTable table-striped table-bordered table-hover table-sort">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Enumeration Area
          </th>
          <!-- th>
            Total Households in E.A.
          </th -->

          <th>
            Total Registered
          </th>
        </tr>
      </thead>
      <tbody>
        {% for interviewer in interviewers %}
          <tr>
            <td>
              <a href="{% url 'interviewer_completion_summary' interviewer.pk %}">{{ interviewer.name }}</a>
            </td>
            <td>
              {{ interviewer.ea.name }}
            </td>
            <!-- td>
              {{ interviewer.ea.total_households }}
            </td -->

            <td>
              {{ interviewer.present_households.count }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% paginate %}
<div class="paginate_msg">Total {{ page_obj.paginator.count }} entries. Showing {{ page_obj}}</div>
{% endblock %}

{% block javascripts %}
  <script src="{{STATIC_URL}}/js/interviewer.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}/js/location-widget.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" type="text/css">
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

<script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>
{% include 'max_display_per_page_form.html' %}
{% endblock %}
