{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
  Interviewers List
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate interviewers 50 %}
 <div class="filters">
      {% include "horizontal_filter_form.html" with a_form=locations_filter no_button=True filter_id='locations_filter' %}
  <br/>
  </div>
 {% include "search_form.html" %}
</div>

    <table class="table table-striped table-bordered table-hover table-sort">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Enumeration Area
          </th>
          <!-- th>
            Total Households in E.A.
          </th -->

          <th>
            Total Registered
          </th>
        </tr>
      </thead>
      <tbody>
        {% for interviewer in interviewers %}
          <tr>
            <td>
              <a href="{% url 'interviewer_completion_summary' interviewer.pk %}">{{ interviewer.name }}</a>
            </td>
            <td>
              {{ interviewer.ea.name }}
            </td>
            <!-- td>
              {{ interviewer.ea.total_households }}
            </td -->

            <td>
              {{ interviewer.present_households.count }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% paginate %}
{% endblock %}

{% block javascripts %}
  <script src="{{STATIC_URL}}/js/interviewer.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}/js/location-widget.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
