{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
  Investigators List
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate investigators 50 %}
  <h3>
    Investigators Summary
  </h3>
  
 {% include "search_form.html" %}
</div>
  <br />

    <table class="table table-striped table-bordered table-hover table-sort">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Mobile Number
          </th>
        </tr>
      </thead>
      <tbody>
        {% for investigator in investigators %}
          <tr>
            <td>
              <a href="{% url 'investigator_completion_summary' investigator.pk %}">{{ investigator.name }}</a>
            </td>
            <td>
              {{ investigator.mobile_number }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% paginate %}
{% endblock %}

{% block javascripts %}
  <script src="{{STATIC_URL}}/js/investigator.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}/js/location-widget.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
