{% extends "layout.html" %}
{% block title %}
  View Aggregates
{% endblock %}
{% block content %}
  <form id="aggregates-form" action="{% url 'aggregates_status' %}" method="get">
    <div>
      {% include "location_widget.html" with location_data=locations default_text="All" %}
    </div>
    <div class="batch-list-container">
      {% load template_tags %}
      <label>Batch</label>
      <select name="batch" id="batch-list-select">
        {% for batch in batches %}
          <option value="{{ batch.id }}" {{ batch|is_batch_selected:selected_batch }} >{{ batch.name }}</option>
        {% endfor %}
      </select>
      <button class="btn btn-primary">Get status</button>
    </div>
  </form>

  {% if households %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Completed</th>
          <th>Pending</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Households</td>
          <td id='completed-households-count'>{{ households.completed }}</td>
          <td id='pending-households-count'>{{ households.pending }}</td>
        </tr>
        <tr>
          <td>Number of Clusters</td>
          <td id='completed-clusters-count'>{{ clusters.completed }}</td>
          <td id='pending-clusters-count'>{{ clusters.pending }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Pending Households</th>
        </tr>
      </thead>
      <tbody>
        {% for investigator in investigators %}
          <tr>
            <td>{{ investigator.name }}</td>
            <td>{{ investigator.mobile_number }}</td>
            <td>{{ investigator|pending_households:selected_batch }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}


{% endblock %}