{% extends "layout.html" %}
{% block title %}
  Bulk Notifications
{% endblock %}
{% block content %}
<style type="text/css">
  .form-inline .control-label {
    margin-top: 15px;
    margin-bottom: 10px !important;
    vertical-align: middle;
}
.control-group {
    margin-bottom: 30px;
}
  .dataTables_wrapper .row {
    margin: 0!important;
    display: none !important;
  }
</style>
  <form action="{% url 'send_bulk_sms' %}" method="POST" accept-charset="utf-8" id="bulk-sms-form" class="form-vertical">
    {% csrf_token %}
    <div class="control-group">
      <label class="control-label left" for="text">Compose</label>
      <label class="control-label col-md-offset-4" id="sms-chars-left">0/480</label>
      <div class="controls">
            <textarea rows="4" cols=75 name="text" maxlength="480"></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="bulk-sms-locations">Locations</label>
      <div class="controls">
        <select name="locations" id="bulk-sms-locations" class="multi-select" multiple="multiple">
          {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Send</button>
        <a href="{% url 'home_page' %}" class="btn btn-primary" name="cancel_button"> Cancel </a>
      </div>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
<script src="{{STATIC_URL}}/js/bulk-sms.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
<script type="text/javascript">
   $(document).ready(function(){
     $('.controls textarea').after($('<span id="text-counter"></span>'));
     });
</script>
