{% extends 'layout.html' %}
{% block title %}
    Upload Enumeration Areas
{% endblock %}
{% block content %}
{% load template_tags %}
    <form action="{{ action }}" enctype="multipart/form-data" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
        {% csrf_token %}
        {% include "naked_form.html" with a_form=upload_form %}
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_table">Input File Layout</a></div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="save_button"
                    data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
            <a href="#" class="btn btn-primary" name="cancel_button">Cancel</a>
            </ul>

        </div>
    </form>
    <div id="collapse_table"  class="accordion-body collapse">
        <div class="accordion-inner">
            <table class="table-bordered table">
                <tr>
                {% for header in csv_layout.headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
                {% for row in csv_layout.table_layout_example %}
                    <tr>
                        {% for name in row %}
                            <td>
                                {{ name }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <span class="red">Please note:</span>
            <ul>
                <li> Column headers have to be exactly as shown above.</li>
                <li> All rows must have exactly one EA.</li>
            </ul>
        </div>
    </div>

{% endblock %}
