<style type="text/css">
	.button {
		margin-top: -15px;
	height:10px;
	  }
.forright
		{
		position: relative;
		margin-top: -51px;
		left:478;
		}
</style>
{% extends 'layout.html' %}
{% block title %}
    Location Weights
{% endblock %}

{% block content %}
{% load template_tags %}
{% load pagination_tags %}
{% autopaginate location_weights 50 %}
   <form id="aggregates-form" action="{% url action %}" method="get">
    <div>
      {% load template_tags %}
      <label>Survey</label>
      <select name="survey" id="survey-list-select" name="survey">
        {% for survey in surveys %}
          <option value="{{ survey.id }}" {{ survey|is_selected:selected_survey }} >{{ survey.name }}</option>
        {% endfor %}
      </select>
    </div>
     <div>
        {% include "horizontal_location_widget.html" with location_data=location_data default_text="All" %}
     </div>
    <div class="forright"><button class="btnforall" id="get_list">Get List</button></div>
  </form>

    <div class="btn-group pull-right">
        <a class="btn" href="{% url 'upload_weights' %}" id="upload_weights"><i class="icon icon-upload"></i> Upload weights</a>
        <a class="btn btn-danger" href="{% url 'weights_error_logs_page' %}" id="view_error_log">Error logs</a>
    </div>
    <br class="clear"/> <br/>

<table class="table-bordered table">
    <tr>
    {% for type in location_types %}
        <th>
            {{ type.name.capitalize }}
        </th>
    {% endfor %}
        <th>
            Selection Probability
        </th>
        <th>
            Total listed (L)
        </th>
        <th>
            Actual Interviewed (A)
        </th>
        <th>
            Weight 1/(A/L)
        </th>
        <th>
            Actions
        </th>
    </tr>
    {% for weight in location_weights %}
        <tr>
        {% for location in weight.location.get_ancestors %}
            {% if not forloop.first %}
                <td>{{ location.name }}</td>
            {% endif %}
        {% endfor %}

            <td>
                {{ weight.location.name }}
            </td>
            <td>
                {{ weight.selection_probability }}
            </td>
            <td>
                {{ weight.survey.sample_size }}
            </td>
            <td>
                {{ weight.survey.get_total_respondents }}
            </td>
            <td>

            </td>
            <td>
                <div class="btn-group">
                    <a href="" class="btn"><i class="icon-pencil"></i> Edit</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
{% paginate %}

{% endblock %}