<style type="text/css">
	.button {
		margin-top: -15px;
	height:10px;
	  }
.forright
		{
		position: relative;
		margin-top: -51px;
		left:478;
		}
</style>
{% extends 'layout.html' %}
{% block title %}
    Location Weights
{% endblock %}

{% block content %}
{% load template_tags %}
{% load pagination_tags %}
{% autopaginate location_weights 50 %}
    {% include "locations/weights/weights_filter_form.html" with a_form=locations_filter no_button=True filter_id='location_filter' survey=survey id="aggregates-form" method='post'%}
<style type="text/css">
    .dataTables_wrapper .row:last-child {
     border-bottom: 0px !important; 
     padding-top: 0px !important; 
     padding-bottom: 0px !important;     
}
.dataTables_wrapper .row:last-child {
     border-bottom: 0px !important; 
     padding-top: 0px !important; 
     padding-bottom: 0px !important;
     background-color: #FFF !important;     
}
</style>
    <div class="btn-group pull-right">
        <a style="background-color: #307ecc;" class="btn" href="{% url 'upload_weights' %}" id="upload_weights"><i class="icon icon-upload"></i> Upload weights</a>
        <a class="btn btn-danger" href="{% url 'weights_error_logs_page' %}" id="view_error_log">Error logs</a>
    </div>
    <br class="clear"/> <br/>
    <div class="row">
    <div class="col-md-12">
<div class="table-responsive">
<table class="table-bordered table">
    <tr>
    {% for type in location_types %}
        <th>
            {{ type.name.capitalize }}
        </th>
    {% endfor %}
        <th>
            Selection Probability
        </th>
        <th>
            Total listed (L)
        </th>
        <th>
            Actual Interviewed (A)
        </th>
        <th>
            Weight 1/(A/L)
        </th>
        <th>
            Actions
        </th>
    </tr>
    {% for weight in location_weights %}
        <tr>
        {% for location in weight.location.get_ancestors %}
            {% if not forloop.first %}
                <td>{{ location.name }}</td>
            {% endif %}
        {% endfor %}

            <td>
                {{ weight.location.name }}
            </td>
            <td>
                {{ weight.selection_probability }}
            </td>
            <td>
                {{ weight.survey.sample_size }}
            </td>
            <td>
                {{ weight.survey.get_total_respondents }}
            </td>
            <td>

            </td>
            <td>
                <div class="btn-group">
                    <a href="" class="btn"><i class="icon-pencil"></i> Edit</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
    </div>
    </div>
    </div>
{% paginate %}

{% endblock %}