{% load template_tags %}
<style type="text/css">
	.offset3{
		text-align: center;
    margin-top: 10px;
    padding : 2px;
	}
</style>
<div class="btn-group">
    <a href="{% url 'users_edit'  the_user.id %}" class="btn btn-white btn-warning btn-bold" style="margin-right: 10px; border-radius:5px">Edit</a>
    {% if the_user.is_active %}
        <a href="#deactivate_user_{{ the_user.pk }}" data-toggle="modal" class="btn btn-white btn-warning btn-bold" style="border-radius:5px">Deactivate</a>
    {% else %}
        <a href="#re-activate_user_{{ the_user.pk }}" data-toggle="modal" class="btn btn-white btn-warning btn-bold" style=" border-radius:5px"> Activate</a>
    {% endif %}

</div>
{% include "base/delete_modal.html" with object_name=the_user.username id=the_user.pk name="User" url=the_user.pk|get_url_with_ids:"deactivate_user" action_str="deactivate"%}
{% include "base/delete_modal.html" with object_name=the_user.username id=the_user.pk name="User" url=the_user.pk|get_url_with_ids:"activate_user" action_str="re-activate"%}