{% extends "layout.html" %}
{% block title %}
  Users List
{% endblock %}
{% block search %}
{% include "horizontal_filter_form.html" with a_form=users_filter_form no_button=True filter_id='users_filter_form' %}
{% endblock %}
{% block page_actions %}
<ul id="horizontal-filter">
		        <li>
					<a style="padding: 3px 5px" href="{% url 'new_user_page' %}" class="btn btn-white btn-warning btn-bold pull-right" id="add-user"><i class="ace-icon fa fa-plus bigger-120"></i> Add User</a>
		        </li>
		    </ul>
{% endblock %}
{% block content_search %}
{% include "search_form.html" %}
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate users 30 %}
{% load template_tags %}
        <!-- <table class="table table-striped table-bordered table-hover table-sort"> -->
        <table id="" class="table table-striped table-bordered table-hover dataTable no-footer table-sort" role="grid" aria-describedby="dynamic-table_info">
            <thead>
            <tr>
                <th  class="sorting" title="click to sort by name">Full name</th>
                <th  class="sorting" title="click to sort by role">Role</th>
                <th  class="sorting" title="click to sort by mobile number">Mobile number</th>
                <th  class="sorting" title="click to sort by status">Current Status</th>
                <th style="background-image: None;">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.get_full_name }}
                    </td>
                    <td>
                      {% if user.groups.all %}
                        {{ user.groups.all|display_list }}
                      {% else %}
                        {{  "Unknown role" }}
                      {% endif %}
                    </td>
                    <td>
                        {{ user.userprofile.mobile_number }}
                    </td>
                    <td>
                        {% if user.is_active %}
                                Active
                        {% else %}
                                Deactivated
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'users_edit' user.pk %}" class="btn btn-small edit"><i class="icon-pencil"></i> Edit</a>
                            <a href="{% url 'users_show_details' user.pk %}" class="btn btn-small"><i class="icon-list"></i> Details</a>
                            {% if user.is_active %}
                                <a href="#deactivate_user_{{ user.pk }}" data-toggle="modal" class="btn btn-small"><i class="icon-lock"></i> Deactivate</a>
                            {% else %}
                                <a href="#re-activate_user_{{ user.pk }}" data-toggle="modal" class="btn btn-small"><i class="icon-lock"></i> Activate</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% include "base/delete_modal.html" with object_name=user.username id=user.pk name="User" url=user.pk|get_url_with_ids:"deactivate_user" action_str="deactivate"%}
                {% include "base/delete_modal.html" with object_name=user.username id=user.pk name="User" url=user.pk|get_url_with_ids:"activate_user" action_str="re-activate"%}
            {% endfor %}
            </tbody>
        </table>
    {% paginate %}
{% endblock %}

