{% extends "layout.html" %}
{% block title %}
  {{ the_user.get_full_name }}'s details
{% endblock %}
{% block content %}
<h3 class="offset3">
    {{ the_user.get_full_name|capfirst }}'s Details
</h3>
<dl class="details offset1">
  <dt>
    Username
  </dt>
  <dd>
    {{ the_user.username }}
  </dd>
  <dt>
    First name
  </dt>
  <dd>
    {{ the_user.first_name}}
  </dd>
  <dt>
    Last name
  </dt>
  <dd>
    {{ the_user.last_name }}
  </dd>
  <dt>
    Mobile number
  </dt>
  <dd>
      {{ the_user.userprofile.mobile_number }}
  </dd>
  <dt>
    Email
  </dt>
  <dd>
    {{ the_user.email }}
  </dd>
  <dt>
    Groups
  </dt>
  <dd>
   {% for group in the_user.groups.all %}
    {{ group }}{% if not forloop.last %}, {% endif %}
   {% endfor %}
  </dd>
</dl>
<div class="offset3">
    {% if cancel_url %}
        <a href="{{cancel_url}}" class="btn btn-inverse"><i class="icon-chevron-left icon-white"></i> Back</a>
    {% else %}
        <a href="javascript:window.history.back()" class="btn btn-inverse"><i class="icon-chevron-left icon-white"></i> Back</a>
    {% endif %}
    {% include 'users/_action_button.html' with button_size="" the_user=the_user %}
</div>
{% endblock %}