{% extends "layout.html" %}
{% load chart_template_tags %}
{% block title %}
  {{ formula.indicator.name }}
{% endblock %}
{% block content %}
<h3>
    {{ formula.indicator.name }}
</h3>
<form id="results-location-widget" action="{% url 'formula_show_page' batch_id formula.pk %}" method="get" accept-charset="utf-8">
    {% include "horizontal_location_widget.html" with location_data=locations default_text="All" %}
    <button class="btn btn-primary"> Show results</button>
</form>
<br>
{% if locations.selected_location %}
  {% if computed_value|is_float %}
      {% include "formula/numerical_results.html" with locations=locations computed_value=computed_value hierarchial_data=hierarchial_data household_data=household_data weights=weights formula=formula %}
  {% else %}
      {% include "formula/multichoice_results.html" with locations=locations computed_value=computed_value hierarchial_data=hierarchial_data household_data=household_data weights=weights formula=formula %}
  {% endif %}
{% endif %}
{% endblock %}