<h3>
  {% block title %} {{ title }} {% endblock %}
</h3>
<form action="{{ action }}" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
  {% csrf_token %}
  {% include "naked_form.html" with a_form=condition_form %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="save_condition_button"  data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
    <a href="javascript:back()" class="btn btn-primary" name="cancel_button">Cancel</a>
  </div>
</form>
<script type="text/template" id="gender_value_select_template">
  <select name="value" id="id_value">
    <option value="Male">Male</option>
      <option value="Female" selected="selected">Female</option>
  </select>
</script>
<script type="text/template" id="age_value_select_template">
  <input id="id_value" type="number" name="value" max="100">
</script>
<script type="text/template" id="general_value_select_template">
  <input id="id_value" type="text" name="value" value="HEAD" readonly="readonly">
</script>
