{% extends "form.html"%}
{% block title %}
  {{ heading }}
{% endblock %}

{% block display_form_fields %}

<div class="control-group">
  <label class="control-label" for="interviewer">Interviewer</label>
  <div class="controls">
   <select name="interviewer" id="household-interviewer"  data-placeholder="Select or Type Interviewer "  single class="chzn-select" required>
      <option value={{interviewer_form.value}} selected>{{interviewer_form.text}}</option>
      {% for interviewer in interviewer_form.options %}
        <option value="{{interviewer.id}}">{{interviewer.name}}</option>
      {% endfor %}
    </select><label class="error">{{ interviewer_form.error }}</label>
  </div>
</div>
{% if not is_edit %}
<h4>Head of Household's Information</h4>
    {% include "naked_form.html" with a_form=headform %}
{% endif %}

<h4>Household Information</h4>
{% include "naked_form.html" with a_form=householdform.household %}
  {% if is_edit %}
      <input type="hidden" name="uid" value="{{ uid }}"/>
  {% endif %}

{% endblock %}

{% block javascripts %}
  <script src="{{STATIC_URL}}/js/household.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}js/location-widget.js" type="text/javascript" charset="utf-8"></script>
    {% if not is_edit %}
         <script src="{{STATIC_URL}}/js/new_household.js" type="text/javascript" charset="utf-8"></script>
         <script type="text/javascript">
    		$("#household-resident_since").addClass("datepicker");
		</script>
    {% endif %}
{% endblock %}
