{% extends "form.html"%}

{% block title %}
  New Household
{% endblock %}

{% block display_form_fields %}
{% include "location_filter.html" %}
<div class="control-group">
  <label class="control-label" for="investigator">Investigator</label>
  <div class="controls">
   <select name="investigator" id="household-investigator"  data-placeholder="Select or Type Investigator "  single class="chzn-select" required>
      <option value={{investigator_form.value}} selected>{{investigator_form.text}}</option>
      {% for investigator in investigator_form.options %}
        <option value="{{investigator.id}}">{{investigator.name}}</option>
      {% endfor %}
    </select><label class="error">{{ investigator_form.error }}</label>
  </div>
</div>
<h4>Head of Household's Information</h4>
{% include "naked_form.html" with a_form=headform %}
<div class="control-group">
  <label class="control-label" for="resident_since">Since when have you lived here</label>
  <div class="controls">
   <select name="extra_resident_since_month" id="household-extra_resident_since_month"  data-placeholder="Month"  single class="chzn-select" required style="width:120px">
      <option value="{{months_choices.selected_value}}">{{months_choices.selected_text}}</option>
      {% for month in months_choices.choices %}
        <option value="{{month.value}}">{{month.text}}</option>
      {% endfor %}
    </select><label class="error">{{ headform.resident_since_month.error }}</label>

    <select name="extra_resident_since_year" id="household-extra_resident_since_year"  data-placeholder="Year"  single class="chzn-select" required style="width:90px">
      <option value="{{years_choices.selected_value}}">{{years_choices.selected_text}}</option>
       {% for year in years_choices.choices %}
         <option value="{{year}}">{{year}}</option>
       {% endfor %}
     </select><label class="error">{{ headform.resident_since_year.error }}</label>

  </div>
</div>
<h4>Household Information</h4>
{% include "naked_form.html" with a_form=householdform.household %}
{% include "naked_form.html" with a_form=householdform.women %}

<div class="control-group">
  <label class="control-label" for="household-size">Total number of persons in this household</label>
  <div class="controls">
   <input id="household-size" name="size" readonly="readonly" type="number" value="0" class="valid">
  </div>
</div>

{% include "naked_form.html" with a_form=householdform.children %}
{% endblock %}
