{% extends "layout.html" %}
{% block title %}
    Household Details
{% endblock %}
{% block content %}
{% load template_tags %}
    {% with household.get_head as head %}
        <h3 class="offset3">
            {{ head.surname|capfirst }} Household Details (House {{household.house_number}})
        </h3>
        <div class="details offset1">
            {% if head %}
            <dl class="details offset1">
                <dt>
                    Family Name
                </dt>
                <dd>
                    {{ head.surname }}
                </dd>
                <dt>
                    Other Names
                </dt>
                <dd>
                    {{ head.first_name }}
                </dd>
                <dt>
                    Age
                </dt>
                <dd>
                    {{ head.date_of_birth|get_age }}
                </dd>
                <dt>
                    Gender
                </dt>
                <dd>
                    {% if head.gender == 1 %}
                        Male
                    {% else %}
                        Female
                    {% endif %}
                </dd>
                {% comment %}
                <dt>
                    Highest level of education completed
                </dt>
                <dd>
                    {{ head.level_of_education }}
                </dd>
                <dt>
                    Occupation / Main Livelihood
                </dt>
                <dd>
                    {{ head.occupation }}
                </dd>
                <dt>
                    Since when have you lived here
                </dt>
                <dd>
                    {{ head.resident_since.month }} {{ head.resident_since.year }}
                </dd>
                {% endcomment %}
            </dl>
            {% else %}
                {% if household.head_desc %}
                    <dl class="details">
                        <dt>
                            Household Head
                        </dt>
                        <dd>
                            {{ household.head_desc }}
                        </dd>
                        <dt>
                            Sex
                        </dt>
                        <dd>
                            {% if household.head_sex %}
                                Male
                            {% else %}
                                Female
                            {% endif %}
                        </dd>
                    </dl>
                {% else %}
                    <div class="alert alert-error" style="clear:both;">
                    <p> There is no head member registered for this household.</p>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endwith %}

    <div class="container offset1">
      <div class="span7">
        <div>
          <h4 class="pull-left">Household Members:</h4>
          <a href="{% url 'new_household_member_page' household.id %}" class="btn btn_primary pull-right" id="add_member">Add Member</a>
         </div>
        {% if household.members.all %}
          <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                  <th>
                      Name
                  </th>
                  <th>
                      Age
                  </th>
                  <th>
                      Sex
                  </th>
                  <th>
                      Actions
                  </th>
              </tr>
              </thead>
              <tbody>
              {% for household_member in household.members.all %}
                  <tr>
                      <td>
                         {{ household_member.surname }} {% if household_member.first_name  %}, {{ household_member.first_name }} {% endif %}
                      </td>
                      <td>
                          {{ household_member.date_of_birth|get_age }}
                      </td>
                      <td>
                         {% if household_member.gender == 1 %}Male{% else %}Female{% endif %}
                      </td>
                      <td>
                         <a href="{% url 'edit_household_member_page' household.id household_member.id %}">Edit</a> <a data-toggle="modal" href="#delete_member_{{household_member.id}}">Delete</a>
                          {% include "household_member/delete.html" with household_member=household_member %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        {% else %}
          <div class="alert alert-error" style="clear:both;">
            <ul> There are no members registered for this household. </ul>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="offset4">
        <a href="javascript:window.history.back()" class="btn btn-inverse"><i class="icon-chevron-left icon-white"></i> Back</a>
        <a href="{% url 'edit_household_page' household.id %}" class="btn" id="edit_household" name="edit_household"> Edit Household</a>
    </div>
{% endblock %}