{% load template_tags %}
<div class="btn-group">
  <a href="{% url 'edit_investigator_page'  investigator.id %}" class="btn btn-small" ><i class="icon-pencil"></i> Edit</a>
  {% if investigator.is_blocked %}
    <a href="#unblock_investigator_{{investigator.id}}" class="btn btn-small" data-toggle="modal" id="unblock_investigator"><i class="icon-lock"></i> Unblock</a>
  {% else %}
    <a href="#block_investigator_{{investigator.id}}" class="btn btn-small" data-toggle="modal" id="block_investigator"><i class="icon-lock"></i> Block</a>
  {% endif %}
</div>

    {% include "base/block_modal.html" with object_name=investigator.name id=investigator.id name="Investigator" url=investigator.id|get_url_with_ids:"block_investigator_page" %}
    {% include "base/unblock_modal.html" with object_name=investigator.name id=investigator.id name="Investigator" url=investigator.id|get_url_with_ids:"unblock_investigator_page" %}
