<form action="{{ action }}" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal investigator-form">
  <input type="hidden" name="next-page" value="{{ next_page }}" id="next-page">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label" for="investigator-name">Name</label>
    <div class="controls">
      <input type="text" id="investigator-name" placeholder="Name" name="name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="investigator-mobile-number">Mobile Number</label>
    <div class="controls">
      <input type="number" id="investigator-mobile-number" placeholder="Mobile Number" name="mobile_number">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Sex</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" name="male" value="t" checked>
        Male
      </label>
      <label class="radio inline">
        <input type="radio" name="male" value="">
        Female
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="investigator-age">Age</label>
    <div class="controls">
      <input type="number" id="investigator-age" placeholder="Age" name="age">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="investigator-level-of-education">Level of education</label>
    <div class="controls">
      <select name="level_of_education" id="investigator-level-of-education">
        {% for education in list_of_eductional_levels %}
          <option value="{{ education }}">{{ education }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="investigator-language">Written language</label>
    <div class="controls">
      <select name="language" id="investigator-language">
        {% for language in list_of_languages %}
          <option value="{{ language }}">{{ language }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="investigator-location">Location</label>
    <div class="controls">
      <input type="text" name="location-name" value="" placeholder="Type location" id="investigator-location" data-dependent="#location-value" autocomplete="off">
      <input type="hidden" name="location" id="location-value" value="">
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
  </div>
</form>