{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
  Investigators List
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate investigators 50 %}
  <h3>
    Investigators List
  </h3>
  <form id="aggregates-form" action="{% url 'investigators_page' %}" method="get" class="padded-bottom">
    {% include "horizontal_location_widget.html" with location_data=location_data default_text="All" %}
    <button class="btn btn-primary" id="a-investigator-list" href="{% url 'investigators_page' %}"> Refresh List</button>
  </form>
  <br/>
<div class="form-actions">
	<form accept-charset="utf-8" action="{% url 'download_investigators' %}" method="get" id="download_investigators" class="pull-right">
                {% csrf_token %}
                <button class="btn btn_primary" id="export_question">Export Investigators</button>
            </form>
    <a href="{% url 'new_investigator_page' %}" class="btn btn_primary pull-right" id="add-investigator"><i class="icon-plus"></i> Add Investigator</a>
  
 {% include "search_form.html" %}
</div>
  <br />

    <table class="table table-striped table-bordered table-hover table-sort">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Mobile Number
          </th>
	 <th>
          Open surveys in current location
	</th>
     <th style="background-image: None;">
            Actions
      </th>
        </tr>
      </thead>
      <tbody>
        {% for investigator in investigators %}
          <tr>
            <td>
              <a href="{% url 'show_investigator_page' investigator.pk %}">{{ investigator.name }}</a>
            </td>
            <td>
              {{ investigator.mobile_number }}
            </td>
	   <td>
		{{ investigator|open_survey_in_current_loc}}
	  </td>
            <td>
                {% include 'investigators/_action_button.html' with button_size="btn-mini" %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% paginate %}
{% endblock %}

{% block javascripts %}
  <script src="{{STATIC_URL}}/js/investigator.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}/js/location-widget.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
