{% extends "layout.html" %}
{% block title %}
  {{ investigator.name }}'s details
{% endblock %}
{% block content %}
<dl id="investigators-details" class="offset1">
  <dt>
    Name
  </dt>
  <dd>
    {{ investigator.name }}
  </dd>
  <dt>
    Mobile Number
  </dt>
  <dd>
    {{ investigator.mobile_number }}
  </dd>
  <dt>
    Age
  </dt>
  <dd>
    {{ investigator.age }}
  </dd>
  <dt>
    Sex
  </dt>
  <dd>
    {% if investigator.male %}
        Male
    {% else %}
        Female
    {% endif %}
  </dd>
  <dt>
    Highest Level of Education
  </dt>
  <dd>
    {{ investigator.level_of_education }}
  </dd>
  <dt>
    Preferred Language of Communication
  </dt>
  <dd>
    {{ investigator.language }}
  </dd>
  {% for location_type, location in investigator.location_hierarchy.items %}
    <dt>
      {{ location_type.capitalize }}
    </dt>
    <dd>
      {{ location.name }}
    </dd>
  {% endfor %}
</dl>
<div class="offset3">
    <a href="{% url 'investigators_page' %}" class="btn btn-inverse"><i class="icon-chevron-left icon-white"></i> Back</a>
    <div class="btn-group">
        <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> Actions</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
        </ul>
    </div>
</div>
{% endblock %}