<!DOCTYPE html>
<html class=" js csstransitions" lang="en-US">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
      <title>{{ PROJECT_TITLE }} :: Discover</title>
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/contentsty.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}toassets/conshortcodes.css">
    <link id="theme_css" rel="stylesheet" href="{{ STATIC_URL }}toassets/light.css">
    <link id="skin_css" rel="stylesheet" href="{{ STATIC_URL }}toassets/contentdefault.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}toassets/assets.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}toassets/menstyle.css">
              <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}banassets/banstyle.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet"> 
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/bootstrap.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/animate.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/preset.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/style_002.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/responsive.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/fonts.css" type="text/css" media="all">
      <!-- <link rel="stylesheet" href="{{ STATIC_URL }}toassets/color8.css" type="text/css" media="all"> -->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/font-awesome.css" type="text/css" media="all">
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/jquery_005.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/jquery.js"></script>      
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/menjs.js"></script>

      <style>
         .headerArea {
         background: #0099ff; 
     border-bottom:6px solid #0073bf;
         }
     
     .container-fluid {
      padding-left:0px;
      padding-right:0px;
  
       
     }
  
      </style>
   </head>
   <body>
      <!--================= Site Preloader ==================-->
    <!--  <div class="loaderWrap" style="display: none;">
         <div class="loader-inner sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
         </div>
      </div>-->
      <!--================= Site Preloader ==================-->
      <!--================= Box Div Start ==================-->
      <div class="">
         <!--================= Box Div Start ==================-->
         <!-- Header Area -->
         <header class="headerFix">
            <div class="logo pull-left">
               <div class="logoImg">               
                  <a href="/"><img src="{{ STATIC_URL }}toassets/Logo_Main.png" alt="uSurvey"></a>
               </div>
            </div>
            <!-- <nav class="mainMenu pull-left">
               <div class="menuButton">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <ul id="menu-main-menu" class="">
                  <li id="menu-item-120" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-120"><a href="#">Home</a>
                  </li>
                  <li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-182"><a href="#">Discover</a>
                  </li>
                  <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251"><a href="#">Contact</a>
                  </li>
                  <ul class="sub-menu">
                     <li id="menu-item-289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-289"><a href="#">Member</a></li>
                     <li id="menu-item-290" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-290"><a href="#">404</a></li>
                     <li id="menu-item-291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-291"><a href="#">Event</a>
                     </li>
                  </ul>
                  </li>
                  <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="{% url 'about_page' %}" style="border-right: none !important;">About</a></li> 

                   {% if user.is_authenticated %}
                   <li id="menu-item-181" class="ulogin menu-item menu-item-type-post_type menu-item-object-page menu-item-181 pull-right"><a href="{% url 'home_page' %}">SURVEY</a></li>         
{% else %}
                   <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181 pull-right" ><a href="{% url 'login_page' %}">login</a></li>
                   {% endif%}
               </ul>
            </nav> -->
            <nav id='cssmenu'>
<div id="head-mobile"></div>
<div class="button"></div>
<ul>
<!-- <li class='active'><a href='#'>HOME</a></li> -->
<li><a href="/" class="home">HOME</a></li>
<li><a href="{% url 'discover' %}" class="discover">DISCOVER</a></li>
<li><a href="{% url 'home_success_story_list' %}" class="success-story">SUCCESS STORY</a></li>                  
<li><a href="{% url 'about_page' %}" class="about">ABOUT</a></li>
{% if user.is_authenticated %}
                   <li id="menu-item-181" class="ulogin menu-item menu-item-type-post_type menu-item-object-page menu-item-181 pull-right"><a href="{% url 'home_page' %}">SURVEY</a></li>         
{% else %}
                   <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181 pull-right" ><a href="{% url 'login_page' %}">LOGIN</a></li>
                   {% endif%}
</ul>
</nav>
           
            <div class="clearfix"></div>
         </header>
         <div class="fw-page-builder-content">

   <div class="container-fluid">
                     <div>

      <div class="sp-slideshow">
      
        <input id="button-1" name="radio-set" class="sp-selector-1" checked="checked" type="radio">
        <label for="button-1" class="button-label-1"></label>
        
        <input id="button-2" name="radio-set" class="sp-selector-2" type="radio">
        <label for="button-2" class="button-label-2"></label>
        
        <input id="button-3" name="radio-set" class="sp-selector-3" type="radio">
        <label for="button-3" class="button-label-3"></label>
        
        <input id="button-4" name="radio-set" class="sp-selector-4" type="radio">
        <label for="button-4" class="button-label-4"></label>
        
        <input id="button-5" name="radio-set" class="sp-selector-5" type="radio">
        <label for="button-5" class="button-label-5"></label>
        
        <label for="button-1" class="sp-arrow sp-a1"></label>
        <label for="button-2" class="sp-arrow sp-a2"></label>
        <label for="button-3" class="sp-arrow sp-a3"></label>
        <label for="button-4" class="sp-arrow sp-a4"></label>
        <label for="button-5" class="sp-arrow sp-a5"></label>
        
        <div class="sp-content">
          <div class="sp-parallax-bg"></div>
          <ul class="sp-slider clearfix">
            <li><img src="{{ STATIC_URL }}banassets/image1.png" alt="image01"></li>
            <li><img src="{{ STATIC_URL }}banassets/image2.png" alt="image02"></li>
            <li><img src="{{ STATIC_URL }}banassets/image3.png" alt="image03"></li>
            <li><img src="{{ STATIC_URL }}banassets/image4.png" alt="image04"></li>
            <li><img src="{{ STATIC_URL }}banassets/image5.png" alt="image05"></li>
          </ul>
        </div><!-- sp-content -->
        
      </div><!-- sp-slideshow -->
      
      
    </div>
      
       
               <div class="fw-row">
           
                  <div class="fw-col-xs-12 fw-col-xs-12 col-sm-12  col-md-12  wow none animated" style="text-align: left ! important; padding-left: 0px; padding-right: 0px; visibility: visible;">
                  </div>
                  
                  <div class="tp-fullwidth-forcer" style="width: 100%;"></div>
               </div>
               <!-- END REVOLUTION SLIDER --> 
               
                           </div>
     
         </div>
      </div>
 <!-- <div class="secTriangle" style="background-image:url({{ STATIC_URL }}images/slider3.png);background-repeat: no-repeat; background-position: center; height:40px; z-index: 999;"></div> -->
 <!-- <div class="secTriangle">
 <img src="{{STATIC_URL}}images/slider3.png" / style="background-repeat: no-repeat; background-position: center; height:40px; z-index: 9999;position: relative;">
 </div> -->
   </section>
  
      <section class="commonSection " style="background-color: #ffffff; background-repeat: no-repeat; ">
       
         <div class="container">
            <div class="fw-row">
               <div class="col-md-12"><br/>
                <h3>SUCCESS STORY</h3><br/>
                  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                  <h4 class="text-center">Coming Soon</h4>
                  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                  
               </div>
            </div>
         </div>
      </section>
      <footer class="footerArea">
         <section class="copyRight">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
                     <span><img src="{{ STATIC_URL }}toassets/bottomfooter_logo.jpg"></span>
                     <p style="padding-bottom:10px;font-size:10px;">Copyright © 2016 <a href="#">UNICEF</a><span> and UBOS</span> </p>
                  </div>
                  <div class="topSocial pull-right">
                     <ul>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            </div>
         </section>
      </footer>
      <!--================= Box Div Start ==================-->
      </div>
      <!--================= Box Div Start ==================--> 
       <script type="text/javascript" src="{{ STATIC_URL }}toassets/theme.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/bootstrap.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/jquery_002.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/modernizr.js"></script>
     <style type="text/css">
       .commonSection {    
     padding: 0px 0 0px !important; 
    
}
 #cssmenu > ul > li .success-story {
    color: yellow;
     </style>
   </body>
</html>