<!DOCTYPE html>
<html class=" js csstransitions" lang="en-US">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
      <title>{{ PROJECT_TITLE }} :: Home</title>
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/contentsty.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}toassets/conshortcodes.css">
    <link id="theme_css" rel="stylesheet" href="{{ STATIC_URL }}toassets/light.css">
    <link id="skin_css" rel="stylesheet" href="{{ STATIC_URL }}toassets/contentdefault.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}toassets/assets.css">
              <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}banassets/banstyle.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet"> 
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/bootstrap.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/animate.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/preset.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/style_002.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/responsive.css" type="text/css" media="all">
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/fonts.css" type="text/css" media="all">
      <!-- <link rel="stylesheet" href="{{ STATIC_URL }}toassets/color8.css" type="text/css" media="all"> -->
      <link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}toassets/font-awesome.css" type="text/css" media="all">
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/jquery_005.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/jquery.js"></script>

      <style>
         .headerArea {
         background: #0099ff; 
     border-bottom:13px solid #0073bf;
         }
     
     .container-fluid {
      padding-left:0px;
      padding-right:0px;
  
       
     }
  
      </style>
   </head>
   <body>
      <!--================= Site Preloader ==================-->
    <!--  <div class="loaderWrap" style="display: none;">
         <div class="loader-inner sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
         </div>
      </div>-->
      <!--================= Site Preloader ==================-->
      <!--================= Box Div Start ==================-->
      <div class="">
         <!--================= Box Div Start ==================-->
         <!-- Header Area -->
         <header class="headerArea">
            <div class="logo pull-left">
               <div class="logoImg">               
                  <a href="#"><img src="{{ STATIC_URL }}toassets/Logo_Main.png" alt="uSurvey"></a>
               </div>
            </div>
            <nav class="mainMenu pull-left">
               <div class="menuButton hidden-lg hidden-md">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <ul id="menu-main-menu" class="">
                  <li id="menu-item-120" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-120"><a href="#">Home</a>
                  </li>
                  <li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-182"><a href="#">Features</a>
                  </li>
                  <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251"><a href="#">success stories</a>
                  </li>
                  <ul class="sub-menu">
                     <li id="menu-item-289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-289"><a href="#">Member</a></li>
                     <li id="menu-item-290" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-290"><a href="#">404</a></li>
                     <li id="menu-item-291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-291"><a href="#">Event</a>
                     </li>
                  </ul>
                  </li>
                  <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="#">About</a></li> 

                   {% if user.is_authenticated %}
                   <li id="menu-item-181" class="ulogin menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="{% url 'home_page' %}">SURVEY</a></li>         
{% else %}
                   <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="{% url 'login_page' %}">login</a></li>
                   {% endif%}
               </ul>
            </nav>
            <!-- This is the menu with submenu item lists(For Inner Page menu items)<ul id="menu-main-menu" class="iz_main_menu"><li id="menu-item-120" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-120"><a href="#">Home</a>
               <ul class="sub-menu">
                <li id="menu-item-402" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-402"><a href="#">Link One</a></li>
                <li id="menu-item-403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a href="#">Link Two</a></li>
                <li id="menu-item-404" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-404"><a href="#">Link Three</a></li>
                <li id="menu-item-405" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-405"><a href="#">Link Four</a></li>
                <li id="menu-item-407" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-407"><a href="#">Link Six</a></li>
                <li id="menu-item-406" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-406"><a href="#">Link Seven</a></li>
               </ul>
               </li>
               <li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-182"><a href="#">Features</a>
               <ul class="sub-menu">
                <li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a href="#">Fea 01</a></li>
                <li id="menu-item-217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217"><a href="#">Fea 02</a></li>
                <li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a href="#">Fea 03</a></li>
                <li id="menu-item-219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-219"><a href="#">Fea 04</a></li>
               </ul>
               </li>
               <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251"><a href="#">success stories</a>
               <ul class="sub-menu">
                <li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250"><a href="#">Success 1</a></li>
                <li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="#">Success 2</a></li>
                <li id="menu-item-252" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-252"><a href="#">Success 3</a></li>
               </ul>
               </li>
               <!--<li id="menu-item-288" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-288"><a href="#">Pages</a>
               <ul class="sub-menu">
                <li id="menu-item-289" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-289"><a href="#">Member</a></li>
                <li id="menu-item-290" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-290"><a href="#">404</a></li>
                <li id="menu-item-291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-291"><a href="#">Event</a>
                <ul class="sub-menu">
                  <li id="menu-item-317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-317"><a href="#">Event Listing</a></li>
                  <li id="menu-item-318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-318"><a href="#">Single Event</a></li>
                </ul>
               </li>
               </ul>
               </li>
               <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="#">About</a></li>
               </ul>-->        
         <!--   <div>
               <!--<ul>
                  <li><a href="#" style="color:#fff;font-size:13px;margin-bottom:8px; padding-top:5px; padding-left:5px;"><span><i class="fa fa-sign-in" aria-hidden="true"></i>
                     </span> &nbsp;Login</a>
                  </li>
               </ul>
            </div>-->
            <div class="clearfix"></div>
         </header>
         <div class="fw-page-builder-content">

   <div class="container-fluid">
                     <div>

      <div class="sp-slideshow">
      
        <input id="button-1" name="radio-set" class="sp-selector-1" checked="checked" type="radio">
        <label for="button-1" class="button-label-1"></label>
        
        <input id="button-2" name="radio-set" class="sp-selector-2" type="radio">
        <label for="button-2" class="button-label-2"></label>
        
        <input id="button-3" name="radio-set" class="sp-selector-3" type="radio">
        <label for="button-3" class="button-label-3"></label>
        
        <input id="button-4" name="radio-set" class="sp-selector-4" type="radio">
        <label for="button-4" class="button-label-4"></label>
        
        <input id="button-5" name="radio-set" class="sp-selector-5" type="radio">
        <label for="button-5" class="button-label-5"></label>
        
        <label for="button-1" class="sp-arrow sp-a1"></label>
        <label for="button-2" class="sp-arrow sp-a2"></label>
        <label for="button-3" class="sp-arrow sp-a3"></label>
        <label for="button-4" class="sp-arrow sp-a4"></label>
        <label for="button-5" class="sp-arrow sp-a5"></label>
        
        <div class="sp-content">
          <div class="sp-parallax-bg"></div>
          <ul class="sp-slider clearfix">
            <li><img src="{{ STATIC_URL }}banassets/image1.png" alt="image01"></li>
            <li><img src="{{ STATIC_URL }}banassets/image2.png" alt="image02"></li>
            <li><img src="{{ STATIC_URL }}banassets/image3.png" alt="image03"></li>
            <li><img src="{{ STATIC_URL }}banassets/image4.png" alt="image04"></li>
            <li><img src="{{ STATIC_URL }}banassets/image5.png" alt="image05"></li>
          </ul>
        </div><!-- sp-content -->
        
      </div><!-- sp-slideshow -->
      
      
    </div>
      
       
               <div class="fw-row">
           
                  <div class="fw-col-xs-12 fw-col-xs-12 col-sm-12  col-md-12  wow none animated" style="text-align: left ! important; padding-left: 0px; padding-right: 0px; visibility: visible;">
                  </div>
                  
                  <div class="tp-fullwidth-forcer" style="width: 100%;"></div>
               </div>
               <!-- END REVOLUTION SLIDER --> 
               
                           </div>
     
         </div>
      </div>
 <div class="secTriangle" style="background-image:url({{ STATIC_URL }}images/slider3.png);background-repeat: no-repeat; background-position: center center; height:40px;"></div>
   </section>
  
      <section class="commonSection " style="background-color: #ffffff; background-repeat: no-repeat; ">
       
         <div class="container">
            <div class="fw-row">
               <div class="fw-col-xs-12 fw-col-xs-12" style=" text-align: left!important;  ">
               
                  <div class="col-lg-10 col-lg-offset-1 col-sm-offset-1 col-sm-10 col-xs-12 text-center">
                     <div class="singleTesti">
                        <h2 style="color:#002956; font-family:'Baloo Bhaina',cursive;">uSurvey</h2>
                     </div>
                     <div data-ride="carousel" class="carousel slide" id="testiCarousel">
                        <!-- Indicators -->
                        <!-- Wrapper for slides -->
                        <div role="listbox" class="carousel-inner">
                           <div class="item active">
                              <div class="quote noPaddingBottom">
                                 <p class="quotation" style="color:#0099ff; font-style:italic; font-weight:600; font-family: 'Dosis', sans-serif; letter-spacing:1px; font-size:24px;">
                                    It is completly data matters It is completly data matters It is completly data 
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
         
      </section>
      <div class="pageWrapper">
      <div class="pageContent blog-home" style="">
            <div class="md-padding">
          <div class="container">
            <div class="container">
            
            <div class="heading main centered">
              <h2 class="lg-title" style="color:#002956; font-family:'Baloo Bhaina',cursive;">Features</h2><b class="head-sep"><u></u></b><b class="head-sep"><u></u></b><b class="head-sep"><u></u></b>
              <p>Let's Create Unlimited Websites With this Fancy Huge HTML 
Template, With Endless possibilities and very easy Customization, What 
else do you need to create all your websites, it is completely complete 
one.</p>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="icon-box lg-icon t-center light-gry-border rect-angles">
                  <span><span><span><span><span><span><span><span><span><i ><img src="{{ STATIC_URL }}images/ussd.png" width="115" height="86"></i>
                  <h4 class="uppercase" style="color:#0059d0;">USSD & ODK CHANNELS</h4><p class="m-b-3">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p><a class="btn main-bg uppercase" href="#">READ More</a></span></span></span></span></span></span></span></span></span>
                  
                  
                  
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box lg-icon t-center light-gry-border rect-angles">
                  <span><span><span><span><span><span><span><span><span><i><img src="{{ STATIC_URL }}images/real.png" width="167" height="86"></i>
                  <h4 class="uppercase" style="color:#0059d0;">REAL TIME MONITORING</h4><p class="m-b-3">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p><a class="btn main-bg uppercase" href="#">READ More</a></span></span></span></span></span></span></span></span></span>
                  
                  
                  
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box lg-icon t-center light-gry-border rect-angles">
                  <span><span><span><span><span><span><span><span><span><i ><img src="{{ STATIC_URL }}images/oupput.png" width="169" height="86"></i>
                  <h4 class="uppercase" style="color:#0059d0;">SAMPLE & CENSUS SURVEY</h4><p class="m-b-3">Proin gravida nibh vel velit auctor enean sollicitud lorem quis bibendum auctor, nisi elit consequipsum.</p><a class="btn main-bg uppercase" href="#">READ More</a></span></span></span></span></span></span></span></span></span>
                </div>
              </div>
              
            </div>
          </div> </div>
        </div>
          
      </div>        
    

    </div>
      </div>
      <footer class="footerArea">
         <section class="copyRight">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
                     <span><img src="{{ STATIC_URL }}images/bottomfooterlogo.jpg" width="219" height="80"></span>
                     <p style="padding-bottom:10px;">Copyright © 2016 <a href="#">UNICEF</a><span> and UBOS</span> </p>
                  </div>
                  <div class="topSocial pull-right">
                     <ul>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="google" href="#"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            </div>
         </section>
      </footer>
      <!--================= Box Div Start ==================-->
      </div>
      <!--================= Box Div Start ==================--> 
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/bootstrap.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/jquery_002.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/modernizr.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}toassets/theme.js"></script>
   </body>
</html>
