<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>{{ PROJECT_TITLE }} :: Home</title>
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}css/jquery.flexslider-min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/Bread.css" type="text/css" media="screen"
          charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" media="screen"
          charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen"
          charset="utf-8">
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/flexslider.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}multi-select/multi-select.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-switch/bootstrap-switch.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" />

<script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(window).load(function() {
            $j('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                slideshowSpeed: 10000,
                pauseOnHover: true,
                animationSpeed: 1000,
                controlNav: true
            });
        });
    </script>

<script>
$(document).ready( function(){	
	// Click snowman to expand
	$('.snowman').click(function() {
		$(this).toggleClass('expanded');
	});
});
</script>
<script>$( document ).ready( function() {
      var now = new Date();
      var currentMonth = now.getMonth();//returns 0-11
      //based on month hide or show your div
      if( currentMonth > 0 && currentMonth < 10 ) {
      $( "#winter-panel").show();
	  $( "#winter-panel-xmas" ).hide();
      } 
      else {
      $( "#winter-panel-xmas" ).show();
	   $( "#winter-panel").hide();
      }
    });</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbanner">
      <tr>
        <td align="center" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="2" align="left" valign="top"></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="34%" align="left" valign="top"><img src="{{ STATIC_URL }}img/uSurvey.png" /></td>
                <td width="66%" align="left" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="83%" align="left" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="0">
                      <tr>
                        <td width="4%"><img src="{{ STATIC_URL }}img/home.png" width="19" height="18" /></td>
                        <td width="96%" align="left" valign="top"> <span class="utopnav"><a href="{% url 'main_page' %}">HOME</a></span> <span class="utopnav">DISCOVER</span> <span class="utopnav"><a href="{% url 'about_page' %}">ABOUT</a></span> <span class="utopnav">CONTACT</span> </td>
                      </tr>
                    </table></td>

{% if user.is_authenticated %}
<td width="17%" align="center" valign="top" class="ulogin"><a href="{% url 'home_page' %}">SURVEY</a></td>
{% else %}
<td width="17%" align="center" valign="top" class="ulogin"><a href="{% url 'login_page' %}" class="ulogin">LOGIN</a></td>
{% endif%}
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
<tr><td><div class="breadnavbar2"></div></td></tr>
  <tr>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-559606700145ffd2" async="async"></script>
    <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top">
<div class="container-fluid slides">
    <section class="row-fluid">
        <div class="slider">
            <div class="flexslider custom-flexslider">
                <ul class="slides">
                    
                    <li>
                        <img src="{{ STATIC_URL }}img/u1.jpg" class="img-responsive" alt="" />
<div class="forleft">
                            <h1>Welcome To Usurvey Uganda.</h1>

                            <div class="clearfix"></div>
                            <h4><p>uSurvey tools are developed by UNICEF after consultations with relevant experts from various UN organizations as well as with interagency monitoring groups.</p></h4>
                            <a href="#">Get Started</a>
                        </div>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/u2.jpg" class="img-responsive" alt="" />
<div class="forleft">
                            <h1>Welcome To Usurvey Uganda.</h1>

                            <div class="clearfix"></div>
                            <h4><p>uSurvey tools are developed by UNICEF after consultations with relevant experts from various UN organizations as well as with interagency monitoring groups.</p></h4>
                            <a href="#">Get Started</a>
                        </div>

                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/u3.jpg" class="img-responsive" alt="" />
<div class="forleft">
                            <h1>Welcome To Usurvey Uganda.</h1>

                            <div class="clearfix"></div>
                            <h4><p>uSurvey tools are developed by UNICEF after consultations with relevant experts from various UN organizations as well as with interagency monitoring groups.</p></h4>
                            <a href="#">Get Started</a>
                        </div>

                    </li>
                  </ul>
            </div>
        </div>
    </section>
</div>
</td>
 </tr>
</table>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
<tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
                    <tr>
            <td align="center" valign="top" class="udiscover">DISCOVER</td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top"><table width="90%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="middle"><img src="{{ STATIC_URL }}img/imgussd.png" width="203" height="203" /></td>
                    <td align="center" valign="middle"><img src="{{ STATIC_URL }}img/imgmor.png" width="203" height="203" /></td>
                    <td align="center" valign="middle"><img src="{{ STATIC_URL }}img/imgsam.png" width="203" height="203" /></td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle" class="uhimgs">&nbsp;</td>
                    <td align="center" valign="middle" class="uhimgs">&nbsp;</td>
                    <td align="center" valign="middle" class="uhimgs">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle" class="uhimgs">USSD AND ODK CHANNELS</td>
                    <td align="center" valign="middle" class="uhimgs">REAL TIME MONITORING</td>
                    <td align="center" valign="middle" class="uhimgs">SAMPLE AND NON SAMPLE SURVEY</td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle" class="uhtxt">UNICEF Uganda has developed <br />
                      a mobile-based tool to work <br />
                      over the USSD technology to <br />
                      collect household-level.</td>
                    <td align="center" valign="middle" class="uhtxt">Real time reports are being<br />
                      generated on the go keeping<br />
                      previlaged users updated.</td>
                    <td align="center" valign="middle" class="uhtxt">Data collected from conducted <br />
                      surveys can be exported into <br />
                      external systems (eg. Google <br />
                      Maps, etc) for statistical <br />
                      analysis.</td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">&nbsp;</td>
                    <td align="center" valign="middle">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle"><a href="#"><img src="{{ STATIC_URL }}img/learnmore.png" width="101" height="27" border="0" /></a></td>
                    <td align="center" valign="middle"><a href="#"><img src="{{ STATIC_URL }}img/learnmore.png" width="101" height="27" border="0" /></a></td>
                    <td align="center" valign="middle"><a href="#"><img src="{{ STATIC_URL }}img/learnmore.png" width="101" height="27" border="0" /></a></td>
                  </tr>
                  
                </table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="whitebg">
      <tr>
        <td align="center" valign="top"><table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="top" class="udiscover">uSurvey Tools </td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="top"><table width="90%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top" class="uhtxt">The  uSurvey tools are developed by UNICEF after consultations with relevant experts from various UN organizations as well as with interagency monitoring groups. UNICEF works closely with other household survey programmes, in particular the Demographic and Health Surveys (DHS) programme, to harmonize survey questions and modules and to ensure a coordinated approach to survey implementation, with the objective to provide comparability across surveys and to avoid duplication of efforts. The survey questionnaires are modular tools that can be adapted to the needs of the country.</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="usocilbg">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="usocilbg">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top" class="usocilbg"><table width="1000" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" class="umedia">Media &amp; Social</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top"><table width="450" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="middle"><table width="90%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10%" align="left" valign="top">&nbsp;</td>
                      <td width="90%" align="left" valign="middle" class="upad"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                             <td align="left" valign="top">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="top" class="uhtxt">
<div class="fb-page" data-href="https://www.facebook.com/unicefuganda"
data-width="370" data-height="430" data-small-header="true"
data-adapt-container-width="false" style="background-color:#000000"
data-hide-cover="true" data-show-facepile="false"
data-show-posts="true" colorscheme="dark"><div
class="fb-xfbml-parse-ignore"><blockquote
cite="https://www.facebook.com/unicefuganda"><a
href="https://www.facebook.com/unicefuganda">UNICEF
Uganda</a></blockquote></div></div>

                             </td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
            </table></td>
            <td align="right" valign="top"><table width="450" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" valign="middle"><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="10%" align="left" valign="top">&nbsp;</td>
                      <td width="90%" align="left" valign="middle" class="upad"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="left" valign="top">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="top" class="uhtxt">

<a class="twitter-timeline" data-border-color="#E6E6E6" data-tweet-limit="4" width="450px" height="430px" data-theme="dark" data-chrome="noheader nofooter noscrollbar transparent"
			href="https://twitter.com/StatisticsUg" data-widget-id="638385587934887936">Load...</a></span>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>         
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top" class="usocilbg">&nbsp;</td>
            <td align="right" valign="top" class="usocilbg">&nbsp;</td>
          </tr>
          <tr>
                    </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" class="usocilbg">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="usocilbg">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="usocilbg">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" height="40" border="0" cellpadding="0" cellspacing="0" class="footer">
      <tr>
        <td align="center" valign="middle"><table width="90%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="54%" align="left" valign="bottom">About | Support | Terms  Privacy </td>
              <td width="46%" align="right" valign="bottom">&copy; UNICEF &amp; UBOS 2013 - <script language="JavaScript" type="text/javascript">

var now = new Date();

var dayNames = new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");

var monNames = new Array("January","February","March","April","May","June","July","August","September","October","November","December");

document.write(" "+ now.getFullYear());

      </script> </td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>
