{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-error">
            <label class="error">Please correct the error(s) below</label>
        </div>
    {% endif %}

    <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
        {% csrf_token %}

        {% if not form.errors %}
            <div class="control-group">
                <div class="controls">
                    <p>Please enter your old password, for security's sake, and then enter your new password twice so we
                        can verify you typed it in correctly</p>
                </div>
            </div>
        {% endif %}


        <div class="control-group">

            <label class="control-label" for="username">{{ form.old_password.label }}</label>

            <div class="controls">
                {{ form.old_password }}
                <label class="pull-right text-error"> {{ form.old_password.errors }}</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">{{ form.new_password1.label }}</label>

            <div class="controls">
                {{ form.new_password1 }}
                <label class="pull-right text-error"> {{ form.new_password1.errors }}</label>
            </div>
        </div>
        <div class="control-group">

            <label class="control-label" for="inputPassword">{{ form.new_password2.label }}</label>
            <label class="pull-right text-error"> {{ form.new_password2.errors }}</label>

            <div class="controls">
                {{ form.new_password2 }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" name="save_changes" class="btn btn-primary">Change my password</button>
            </div>
        </div>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
        {% else %}
            <input type="hidden" name="next" value="{% url 'home_page' %}"/>
        {% endif %}

    </form>
{% endblock %}