{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}
<style type="text/css">
    .form-horizontal .control-label {
    padding-top: 4px !important;    
}
</style>
{% block content %}
    {% if form.errors %}
        <div class="alert alert-error">
            <label class="error">Please correct the error(s) below</label>
        </div>
    {% endif %}
    <br>
    {% if not form.errors %}
    <div class="alert" style="background: #def0d8 none repeat scroll 0 0;
    border: 1px solid #cfdaca;
    margin-top: 7px;
    padding: 8px;
    text-align: center;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p> 
        Please enter your old password and enter the new password twice.
      </p>
    </div>
       <hr/> 
    <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
        {% csrf_token %}
        {% endif %}
        <div class="control-group">
            <label class="control-label col-md-4" for="username">{{ form.old_password.label }}</label>
            <div class="controls">
                {{ form.old_password }}
                <label class="error">
                   {% if form.old_password.errors %}
                       {% for error in form.old_password.errors %}
                           {{ error}}
                       {% endfor %}
                   {% endif %}
                 </label>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label col-md-4" for="inputPassword">{{ form.new_password1.label }}</label>
            <div class="controls">
                {{ form.new_password1 }}
                 <label class="error">
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                            {{ error}}
                        {% endfor %}
                    {% endif %}
                  </label>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label col-md-4" for="inputPassword">{{ form.new_password2.label }}</label>
            <div class="controls">
                {{ form.new_password2 }}
                <label class="error">
                   {% if form.new_password2.errors %}
                       {% for error in form.new_password2.errors %}
                           {{ error}}
                       {% endfor %}
                   {% endif %}
                 </label>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <button type="submit" name="save_changes" class="btn btn-primary" style="margin-left: 100px;">Change my password</button>
            </div>
        </div>
        
        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>
{% endblock %}