{% extends "form.html" %}
{% load template_tags %}
{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui/jquery-ui.css">
 	<style type="text/css">
  
body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#questions_container {
  height: 70%;
  width: 100%;
}

#question-filter-form {
	
}

#question-filter-form select {
  background: transparent;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}


#batch_questions {
  height: 100%;
  width: 100%; 
 /* width: 1280px; 
  overflow: scroll;*/
  position: absolute;
  left: 0;
  top: 25%;
  background-image:url({{ STATIC_URL }}img/symphony.png);

}

#batch_questions:before, #batch_questions:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    background-image:url({{ STATIC_URL }}img/symphony.png);
}

#side_bar {

	width: 100%;
	float: left;
	display: block;
}

#filz {

	display: block;
}

#question_form {
	display: none;
}

#question_flow_form {
	display: none;
}

#node_actions, #edge_actions {
	display: block;
}

#lib_questions .answer_type {
	display: none;
}

#submit_action {
	display: block;
    float: right;
}

#question_flow_form .validation_arg {
	display: none;
}

#hideall {
	display: none;
}
 		
 	</style>
{% endblock %}


{% block pre_form_content %}
<br><br><br>
	<div class="filters" id='filz'>
	{% include "questions/_question_filter_form.html" with action=batch.id|get_url_with_ids:"batch_questions_page" filter_id="question-filter-form" a_form=question_filter_form filter_button_name="Reload" %}
    </div>
     <div id="submit_action">
       		<form id="question_subm_form" action="{% url 'batch_questions_submission' batch.pk %}" method="post">
       			{% csrf_token %}
       			<input type="hidden" id="questions_data" name="questions_data" value="" />
       			<input type="submit" class="btn" name="" value="Save Batch Question" /> 
       		</form>
       </div>
       <br class="clear" />

    <div class="canvas_actions" id="canvas_actions">
<table style="width:38%">
  <tr>
<td align="left">
       <div id="node_actions">
	    	<a  class="btn edit" href="#">Edit</a>
	    	<a  class="btn remove" href="#">Remove</a>
    	</div></td>
<td align="left">
    	<div id="edge_actions">
    		<a id="edit_edge" class="btn edit" href="#">Edit Flow</a>
    		<a id="remove_edge" class="btn remove" href="#">Remove Flow</a>
    	</div></td>
  </tr>
</table>
    </div>
    <div id="side_bar">
    	{% include "search_form.html" with id="library_search_form"%}
    	<table id="lib_questions" class="table table-striped table-bordered table-hover">
    		<thead><th class="question_identifier">ID</th><th class="question_text">TEXT</th><th class="answer_type">ANSWER TYPE</th><th class="access_channels">CHANNELS</th></thead><tbody>
	    {% for question in question_library %}
	    	<tr id="{{question.id}}-selectable" class="ms-selectable "><td class="question_identifier">{{question.identifier}}</td><td class="question_text">{{question.text}}</td><td  class="answer_type">{{question.answer_type}}</td><td  class="access_channels">{{question.answer_type | access_channels}}</td></tr>
	    {% endfor %}
	    </tbody></table>
    </div>
    <br class="clear"/>
    
{% endblock %}
{% block display_form_fields %}
  <div id="quest_flow_form_cont" visibility="hidden">
		     {% include "naked_form.html" with a_form=question_flow_form %}
  </div>
  <div id="quest_form_cont" visibility="hidden">
    {% include "naked_form.html" with a_form=question_form %}
   </div>
{% endblock %}
{% block non_form_content %}

<br><br>
<div id="batch_questions">
</div>
{% endblock %}

{% block javascripts %}
    {% if batch %}

       
       <script src="{{ STATIC_URL }}js/cytoscapejs/lib/jquery.js"></script>
       <script src="{{STATIC_URL}}/js/cytoscapejs/build/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.js"></script>
		<script src="{{ STATIC_URL }}js/cytoscapejs/build/dagre.min.js"></script>
		<script src="{{ STATIC_URL }}js/cytoscapejs/build/cytoscape.min.js"></script>
        <script type="text/javascript">
        {% include 'js/batch_questions//batch_questions.js' with batch_question_tree=batch_question_tree batch=batch %}
        </script>
        
        <script src="{{STATIC_URL}}/js/questions.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">

        </script>
        <script src="{{STATIC_URL}}/js/batch.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
{% endblock %}
