{% extends "layout.html" %}
{% block title %}
    Questions List
{% endblock %}
{% block content %}
    {% load pagination_tags %}
    {% autopaginate questions 50 %}
    {% load template_tags %}
    {% if batch %}
        <h3>
            {{ batch.name.capitalize }} Questions
        </h3>
        <a href="{% url 'assign_questions_page' batch.id %}" class="btn btn_primary pull-right" id="add_question">Select Question</a>
    {% else %}
        <h3>
            Questions List
        </h3>
        <a href="{% url 'new_question_page' %}" class="btn btn_primary pull-right" id="add_question">Create New Question</a>
        <br class="clear"/>
        <br/>
    {% endif %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="span8">
                Question
            </th>
            <th>
                Type
            </th>
            <th>
                Group
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
              <td class="span8">
                {% if question.get_subquestions %}
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_question_{{question.id}}">{{question.text}}</a>
                  <div id="collapse_question_{{question.id}}" class="accordion-body collapse">
                    <div class="accordion-inner">
                    <span class="muted">Subquestion:</span>
                    <ul>
                    {% for subquestion in question.get_subquestions %}
                          <li>{{subquestion.text}}</li>
                    {% endfor %}
                    </ul>
                    </div>
                  </div>
                {% else %}
                  {{question.text}}
                {% endif %}
              </td>
              <td>
                {{question.answer_type.upper}}
              </td>
              <td>
                {{question.group.name}}
              </td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-small" href="{% url 'add_subquestion_page' question.pk %}" id="add_sub_question"><i class="icon-plus"></i>Add Subquestion</a>
                  <a class="btn btn-small" href="{% url 'edit_question_page' question.pk %}" id="edit_question"><i class="icon-pencil"></i> Edit</a>
                  <a class="btn btn-small" href="#delete_question_{{ question.pk }}" data-toggle="modal" id="delete_question"><i class="icon-trash"></i> Delete</a>
                  {% if batch %}
                    <a href="{% url 'add_question_logic_page' question.pk %}" class="btn btn-small"><i class="icon-plus"></i> Add Logic</a>
                  {% endif %}
                  {% if question.options.all %}
                    <a class="btn btn-small" href="#view_options_{{question.id}}" data-toggle="modal"><i class="icon-list"></i>View options</a>
                  {% endif %}
                    
                </div>

                {% if question.options.all %}
                  <div class="modal fade hide" id="view_options_{{question.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">{{question.text}}</h4>
                            </div>
                            <div class="modal-body">
                            {% include 'questions/_view_question_options.html' %}
                              <a href="#" class="btn btn-primary pull-right" id="close_view_options_{{question.id}}" data-dismiss="modal">Close</a>
                            </div>
                          </div>
                      </div>
                  </div>
                {% endif %}
              </td>
            </tr>
          {% include "base/delete_modal.html" with object_name=question.text id=question.id name="Question" url=question.id|get_url_with_ids:"delete_question_page" %}
        {% endfor %}
        </tbody>
    </table>
    {% paginate %}
{% endblock %}