{% extends "form.html"%}
{% load template_tags %}

{% block title %}
    Add Logic
{% endblock %}

{% block display_form_fields %}
    {% for field in logic_form.visible_fields %}
        {% if field.label != '' %}
            {% if forloop.counter > 1 %}
                </div>
                </div>
            {% endif %}
            <div class="control-group">
            <label class="control-label" for="{{field.auto_id}}">{{field.label}}</label>
            <div class="controls {{ field|is_radio }}">
        {% endif %}
        {% include 'shared/_standard_field.html' with field=field %}
    {% endfor %}
        </div>
    </div>
    <input type="hidden" value='{{ question.id }}' id='id_question' >
    {% for hidden in a_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
{% endblock %}


{% block javascripts %}
    <script src="{{STATIC_URL}}/js/logic.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
