{% extends "form.html" %}
{% block title %}
    New Question
{% endblock %}
{% block pre_form_content %}
    <p>Please note that the following special characters will be removed [* ! # ' ; &]</p>
    <div class="control-group" style="width: 40%">
        <label class="control-label"><span id="text-counter" style="float: right;"></span></label>
    </div>
{% endblock%}
{% block display_form_fields %}
{% include "naked_form.html" with a_form=questionform%}

{% endblock %}

{% block javascripts %}
    <script src="{{STATIC_URL}}/js/questions.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
