<div class="canvas" id="mainCanvas"
      style="width: 350px; height: 250px; border: 1px solid black;">
   <h1 class="block" id="h1_block"
     style="left: 10px; top:10px;">
       h1 block
   </h1>
   {% if batch_question_tree %}              
	{% for q_node in batch_question_tree %}
		<h2 class="block" id="{{q_node.pk}}"
				     style="left: 200px; top: 100px;">
				     {{q_node.text}}
				   </h2>
     	{id: '{{ q_node.pk }}' , label: '{{ q_node.text }}' ,  title: '{{q_node.text}}' , level: {{ q_node.get_level }}  },
    {% endfor %}
{% else %}
        <h2 class="block" id="{{q_node.pk}}"
				     style="left: 200px; top: 100px;">
				     {{q_node.text}}
				   </h2>
{% endif %}
   
</div>