{% extends "layout.html" %}
{% block title %}
  Batches List
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate batches 50 %}
{% load template_tags %}
  <h3>
    {{ survey.name.capitalize }}
  </h3>
  <a href="#new_batch" data-toggle="modal" class="btn btn_primary pull-right" id="add_batch"><i class="icon-plus"></i> Add Batch</a>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>
          Batch Name
        </th>
        <th>
          Description
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for batch in batches %}
        <tr>
          <td>
            <a href="{% url 'batch_questions_page' batch.id %}">{{ batch.name }}</a>
          </td>
          <td>
            {{ batch.description }}
          </td>
          <td>
            <div class="btn-group">
              <a class="btn btn-small" href="{% url 'batch_edit_page' survey.id batch.pk %}"><i class="icon-pencil"></i> Edit</a>
              <a class="btn btn-small" data-toggle="modal" href="#delete_batch_{{batch.id}}"><i class="icon-trash"></i> Delete</a>
              <a class="btn btn-small" href="{% url 'assign_questions_page' batch.id %}"><i class="icon-plus"></i> Select Questions</a>
              <a class="btn btn-small" href="{% url 'batch_show_page' survey.id batch.pk %}"><i class="icon-lock"></i> Open/Close</a>
            </div>
              {% include "base/delete_modal.html" with object_name=batch.name id=batch.id name="Batch" url=survey.id|add_string:batch.id|get_url_with_ids:"delete_batch" %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="modal fade hide" id="new_batch" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">New Batch</h4>
          </div>
          <div class="modal-body">
            {% include "batches/new_batch.html" with title="" button_label="Save" id="add-batch-form" %}
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% paginate %}
{% endblock %}