<h3>
  {% block title %} {{ title }} {% endblock %}
</h3>
<form action="{{ action }}" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
  {% csrf_token %}
  {% include "naked_form.html" with a_form=batchform %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="save_condition_button"  data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
    <a href="javascript:back()" class="btn btn-primary" name="cancel_button">Cancel</a>
  </div>
</form>
