{% extends "layout.html" %}
{% block title %}
  {{ batch.name }}
{% endblock %}
{% block content %}
	<div class='filter-options'>
			<h5>Filter By Status</h5>
		    <ul id="horizontal-filter">
		        <li>
			    <a href="{% url 'batch_show_page' batch.survey.pk batch.pk %}" class="btn btn_primary">All</a>
		        </li>
		        <li>
		            <a href="{% url 'batch_show_page' batch.survey.pk batch.pk %}?status=open" class="btn btn_primary">Open</a>
		        </li>
		        <li>
		            <a href="{% url 'batch_show_page' batch.survey.pk batch.pk %}?status=closed" class="btn btn_primary">Closed</a>
		        </li>
		    </ul>
	</div>
	<div class="bulk-actions">
		
		<form action="{% url 'batch_all_locs' batch.pk %}" method="POST" accept-charset="utf-8" id="open-for-location-form">
			
              {% csrf_token %}
              {% if open_locations.count > 0 %}
              	<input type="submit" name="action" value="Close All" class="btn right">
              {% endif %}
              {% if all_locations.count > open_locations.count %}
              	<input type="submit" name="action" value="Open All" class="btn right">
              {% endif %}
        </form>
	</div>
  <table class="table table-striped table-bordered table-hover table-sort">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Status
        </th>
        <th>
          Non response reporting
        </th>
      </tr>
    </thead>
    <tbody>
      {% load template_tags %}
      {% for location in locations %}
        <tr>
          <td>
            {{ location.name }}
          </td>
          <td>
            <form action="{% url 'batch_open_page' batch.pk %}" method="POST" accept-charset="utf-8" class="hide" id="open-for-location-form">
              {% csrf_token %}
              <input type="text" name="location_id" value="{{ location.pk }}">
            </form>
            <form action="{% url 'batch_close_page' batch.pk %}" method="POST" accept-charset="utf-8" class="hide" id="close-for-location-form">
              {% csrf_token %}
              <input type="text" name="location_id" value="{{ location.pk }}">
            </form>
            <div class="switch switch-open-close" data-on="success" data-off="danger" data-on-label="Open" data-off-label="Close">
              <input type="checkbox" id="open_close_switch_{{ location.id }}" {{ open_locations|is_batch_open_for_location:location }} />
            </div>
          </td>
        <td>
        <form action="{% url 'activate_non_response_page' batch.pk %}" method="POST" accept-charset="utf-8" class="hide" id="activate-non_response-for-location-form">
          {% csrf_token %}
          <input type="text" name="non_response_location_id" value="{{ location.pk }}">
        </form>
        <form action="{% url 'deactivate_non_response_page' batch.pk %}" method="POST" accept-charset="utf-8" class="hide" id="deactivate-non_response-for-location-form">
          {% csrf_token %}
          <input type="text" name="non_response_location_id" value="{{ location.pk }}">
        </form>
        <div class="switch switch-activate-non-response" data-on="success" data-off="danger" data-on-label="On" data-off-label="Off">
          <input type="checkbox" id="activate_non_response_switch_{{ location.id }}" class="activate" {{ non_response_active_locations|non_response_is_activefor:location }}/>
        </div>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
