<script type="text/template" id="{{ id }}">
    <div class="control-group options question-option">
        <label class="control-label">{{ option_label }} <span class="number"></span></label>
        <div class="controls">
            <input type="text" maxlength="100" name={{ name }}>
            <a href="javascript:;" class="btn btn-white btn-warning btn-bold add-option"><i class="ace-icon fa fa-plus bigger-120 orange"></i></i></a>
            <a href="javascript:;" class="btn btn-white btn-warning btn-bold remove-option"><i class="ace-icon fa fa-minus bigger-120 orange"></i></i></a>
            {% if extra_fields %}
                <label class="control-label" for="id_required">required</label>
                <div class="controls ">
                 <input id="id_required" name="required" type="checkbox" /> <label class="error"> </label>
                </div>
                <label class="control-label" for="id_has_code">has_code</label>
                <div class="controls ">
                 <input id="id_has_code" name="has_code" type="checkbox" /> <label class="error"> </label>
                </div>
                <label class="control-label" for="id_code">Code</label>
                <div class="controls ">
                    <input id="id_code" maxlength="30" name="code" type="text" /> <label class="error"></label>
                </div>
            {% endif %}
        </div>
    </div>
</script>