{% extends "layout.html" %}

{% block content %}
<h3>
  {% block title %} {% endblock %}
</h3>

{% block pre_form_content %}
{% endblock %}

<form action="{{ action }}" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
  {% csrf_token %}

  {% block display_form_fields %}{% endblock %}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" name="save_button" data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
    {% if cancel_url %}
      <a href="{{ cancel_url }}" class="btn btn-primary" name="cancel_button">Cancel</a>
    {% else %}
      <a href="#" class="btn btn-primary" name="cancel_button">Cancel</a>
    {% endif %}
  </div>
</form>

{% block non_form_content %}{% endblock %}

{% endblock %}
