{% load template_tags %}

<fieldset>
                <legend>{{ legend }}</legend>
                {{ formset.management_form }}
                {{ formset.non_form_errors }}
                {% for form in formset %}
					{% if form_template %}
						{% include form_template with a_form=form class="inline {{ class }} {{ formset.prefix }}" %}
					{% else %}
					<div class="inline {{ class }} {{ formset.prefix }}">
                        {% for field in form.visible_fields %}
							  <div class="control-group">
							    <label class="control-label" for="{{field.auto_id}}">{{field.label}}</label>
							    <div class="controls {{ field|is_radio }}">
							      {% if field.label_tag|is_mobile_number %}
							       <div class="input-prepend">
							           <span class="add-on">{{ country_phone_code }}</span>
							      {% endif %}
							      {{field}} <label class="error">
							        {% if field.errors %}
							            {% for error in field.errors %}
							                {{ error}}
							            {% endfor %}
							        {% endif %}
							         </label>
							      {% if field.label_tag|is_mobile_number %}
							        </div>
							      {% endif %}
							    </div>
							  </div>
					{% endfor %}

                    </div>
					{% endif %}

                    {% for hidden in form.hidden_fields %}
					  {{ hidden }}
					{% endfor %}
                {% endfor %}
</fieldset>

