{% load template_tags %}
<table class="{{ class }}">
<tr id="control-group">
{% for field in a_form.visible_fields %}
<td valign="top">
  <label for="{{field.auto_id}}" class="horititle">{{ field.label }}</label>
 {% if field.label_tag|is_mobile_number %}
   <div class="input-prepend">
       <span class="add-on">{{ country_phone_code }}</span>
  {% endif %}
   <span class="horiselect">{{field}}</span> 
   <label class="error">
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error}}
            {% endfor %}
        {% endif %}
</td>
{% endfor %}
</tr>
</table>
{% for hidden in a_form.hidden_fields %}
  {{ hidden }}
{% endfor %}
