{% load template_tags %}
<form id="{{ filter_id }}" action="{{ action }}" method="get" class="pull-left padded-bottom" accept-charset="utf-8">

    <table class="{{ class }} horizontal-filter">
        <tr id="control-group">
            {% for field in a_form.visible_fields %}
                <td valign="top">
                  <label for="{{field.auto_id}}" class="horititle">{{ field.label }}</label>
                 {% if field.label_tag|is_mobile_number %}
                   <div class="input-prepend">
                       <span class="add-on">{{ country_phone_code }}</span>
                  {% endif %}
                   <span class="horiselect">{{field}}</span>
                   <label class="error">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                {{ error}}
                            {% endfor %}
                        {% endif %}
                </td>
            {% endfor %}
            {% if not no_button %}
                {% block submit_button %}
                    <td>
                        <button class="btnforall" id="a-question-list"> {%if filter_button_name %}{{filter_button_name}}{% else %}Refresh List{% endif %}</button>
                    </td>
                {% endblock %}
            {% endif %}
        </tr>

</table>
</form>
{% if not no_auto_refresh %}
    {% block auto_refresh %}
        <script src="{{ STATIC_URL }}/js/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
        $(function(){
            {% for field in a_form.visible_fields %}
                $('#{{ field.auto_id }}').on('change', function () {
                    $('#{{ filter_id }}').submit();
                });
            {% endfor %}
            });
        </script>
    {% endblock %}
{% endif %}
<br class="clear" />
