<!DOCTYPE HTML>
<html>
  <head>
    <title>
      {% block title %}{% endblock %} | mMICS
    </title>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" charset="utf-8">
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}chosen/chosen.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}multi-select/multi-select.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap-switch/bootstrap-switch.css" />

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}css/application.less" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/smoothness/jquery-ui.css" />
    <script src="{{STATIC_URL}}js/less.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <header class="container">
      <!-- Navigation bar starts here -->
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="{% url 'home_page' %}">mMICS</a>
          <ul role="navigation" class="nav">
            <li>
              <a  id="about" class="dropdown-toggle" role="button" href="{% url 'about_page' %}">About</a>
            </li>

            {% if perms.auth.can_view_investigators %}
              <li class="dropdown">
                <a data-toggle="dropdown" id="drop-survey-admin-tab" class="dropdown-toggle" role="button" href="#">Survey Administration<b class="caret"></b></a>
                <ul aria-labelledby="drop-survey-admin-tab" role="menu" class="dropdown-menu">
                  <li role="presentation"><a href="{% url 'investigators_page' %}">Investigators</a></li>
                  <li role="presentation"><a href="{% url 'list_household_page' %}">Households</a></li>

                  {% if perms.auth.can_view_batches %}
                      <li role="presentation"><a href="{% url 'list_all_questions' %}">Question Bank</a></li>
                      <li role="presentation"><a href="{% url 'survey_list_page' %}">Surveys</a></li>
                      <li role="presentation"><a href="{% url 'question_module_listing_page' %}">Modules</a></li>
                      <li role="presentation"><a href="{% url 'household_member_groups_page' %}">Groups</a></li>
                      <li role="presentation"><a href="{% url 'bulk_sms' %}">Notifications</a></li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}

            {% if perms.auth.can_view_aggregates %}
              <li class="dropdown">
                <a data-toggle="dropdown" id="drop-downloads-tab" class="dropdown-toggle" role="button" href="#">Downloads<b class="caret"></b></a>
                <ul aria-labelledby="drop-downloads-tab" role="menu" class="dropdown-menu">
                  <li role="presentation"><a href="{% url 'download_excel' %}">Download Spreadsheets</a></li>
                  <li role="presentation"><a href="{% url 'investigator_report_page' %}">Mobile Money Sheet</a></li>
                </ul>
              </li>
            {% endif %}

            {% if perms.auth.can_view_investigators %}
              <li class="dropdown">
                <a data-toggle="dropdown" id="drop-analysis-tab" class="dropdown-toggle" role="button" href="#">Analysis<b class="caret"></b></a>
                <ul aria-labelledby="drop-analysis-tab" role="menu" class="dropdown-menu">
                  <li role="presentation"><a href="{% url 'simulator_page' %}">Data Entry</a></li>

                  {% if perms.auth.can_view_batches %}
                      <li role="presentation"><a href="{% url 'list_indicator_page' %}">Indicators</a></li>
                      <li role="presentation"><a href="{% url 'survey_completion_rates' %}">Completion Rates</a></li>
                  {% endif %}
                </ul>
              </li>
            {% endif %}

            {% if perms.auth.can_view_users %}
              <li class="dropdown">
                <a data-toggle="dropdown" id="drop-settings-tab" class="dropdown-toggle" role="button" href="#">Settings<b class="caret"></b></a>
                <ul aria-labelledby="drop-settings-tab" role="menu" class="dropdown-menu">
                    <li role="presentation"><a href="{% url 'users_index' %}">Users</a></li>
                    <li role="presentation"><a href="{% url 'add_location_hierarchy' %}">Add Location Hierarchy</a></li>
                    <li role="presentation"><a href="{% url  'upload_locations' %}">Upload Locations CSV</a></li>
                </ul>
              </li>
            {% endif %}
           </ul>

        <!-- login/profile link on the right side -->

          {% if user.is_authenticated %}
            <ul role="navigation" class="nav pull-right">
              <li class="dropdown">
                <a data-toggle="dropdown" id="drop-user-settings" class="brand dropdown-toggle" role="button" href="#">{{ user.get_full_name }}<b class="caret"></b></a>
                <ul aria-labelledby="drop-user-settings" role="menu" class="dropdown-menu">
                  <li role="presentation"><a href="{% url 'users_edit' user.id %}"><i class="icon-pencil"></i> Edit Profile</a></li>
                  <li role="presentation"><a href="{% url 'password_change'%}"><i class="icon-pencil"></i> Change Password</a></li>
                  <li role="presentation"><a href="{% url 'logout_page' %}"><i class="icon-off"></i> Logout</a></li>
                </ul>
              </li>
            </ul>
          {% else %}
            <ul role="navigation" class="nav pull-right">
              <a class="right brand" href="{% url 'login_page' %}">login</a>
            </ul>
          {% endif %}

        </div>

      </div>
      </header>
      <!-- Navigation bar end here -->

    <div id="content" class="container">
      <div class="container">
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <ul>
                  {{ message }}
                </ul>
              </div>
            {% endfor %}
        {% endif %}

      {% block content %}
      {% endblock %}
     </div>
    </div>
    <script src="{{STATIC_URL}}/js/jquery-2.0.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/highcharts.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/exporting.js" type="text/javascript" charset="utf-8"></script>


    <script src="{{STATIC_URL}}/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/question_options.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/chosen/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/multi-select/jquery.multi-select.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/bootstrap-switch/bootstrap-switch.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/location-widget.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/numerical-bar-chart.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/multichoice-bar-chart.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/multichoice-stacked-bar-chart.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/batch.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}/js/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/household_member_group.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/indicator.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.formset.js" type="text/javascript" charset="utf-8"></script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
