{% load template_tags %}
<ul id="location-widget">
  {% for type, locations  in location_data.get_widget_data.items %}
    <li>
      <label> {{ type.capitalize }} </label>
      <select name="location"  class="chzn-select">
        <option value="">{{ default_text }}</option>
        {% for location in locations %}
          <option data-location=true value="{{ location.pk }}" {{ location_data|is_location_selected:location }}>{{ location.name }}</option>
        {% endfor %}
      </select>
    </li>
  {% endfor %}
</ul>