<script type="text/javascript">
$(document).ready(function() {  
          $('.dataTable').DataTable( {
                  "scrollY":        "250px",
                  "scrollX":        '100%',
                  "scrollCollapse": true,
                  "paging":         true,
                  "searching": false,
                  "aaSorting": [],
                  "iDisplayLength": {{max_display_per_page}},
                  'aoColumnDefs': [{
                  'bSortable': false,
                  "bPaginate": false,
                  'aTargets': [-1] /* 1st one, start by the right */
              }]
              
              });
		// on change load page
        $('#ea_length').on('change', function() {
            var url = window.location.href;
            var ea_length = $('#ea_length :selected').text();
            var str = url.slice(-1);
            if (str == '/')
            {
              window.location = url+"?max_display_per_page="+ea_length;
            }else{
              window.location = url+"&max_display_per_page="+ea_length;
            }
        });
        
    	$("select[name='datatables_length']").change(function(){
            var url = window.location.href;
            var ea_length = $("select[name='datatables_length'] :selected").val();
            var str = url.slice(-1);
            if (str == '/')
            {
              window.location = url+"?max_display_per_page="+ea_length;
            }else{
              window.location = url+"&max_display_per_page="+ea_length;
            }
        });
        $("select[name='DataTables_Table_0_length']").change(function(){
            var url = window.location.href;
            var ea_length = $("select[name='DataTables_Table_0_length'] :selected").val();
            var str = url.slice(-1);
            if (str == '/')
            {
              window.location = url+"?max_display_per_page="+ea_length;
            }else{
              window.location = url+"&max_display_per_page="+ea_length;
            }
        });
        
        
        $("#ea_info").empty();

    
    });
</script>
