{% load template_tags %}
{% for field in a_form.visible_fields %}

  <!-- div class="element-input">
      <label class="title" for="{{field.auto_id}}">{{field.label}}</label>
      <div class="item-cont">
          {{field}}
          <span class="icon-place"></span>&nbsp;&nbsp;<span id="{{field.auto_id}}_tip" class="help tip">{{ field.help_text }}</span>
          {% if field.errors %}
            <label class="error" >
                {% for error in field.errors %}
                    {{ error}}
                {% endfor %}
             </label>
        {% endif %}
      </div>
  </div -->
  <style type="text/css">
    #id_gender{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: -6px;
    }
    #id_gender_0{
      margin: 0px !important;
    }
    #id_gender_1{
      margin: 0px !important;
    }
    #id_access_channels{
      display: inline-block;
      vertical-align: middle;
    }
    #text-counter{
    margin-left: 10px !important;
  }
  .ms-container{
        margin-left: auto;
        margin-right: auto;
        width: 915px;
    }
  .ms-list{
        margin-top: -14px !important;
  }
  .inline pos-rel > open {
    display: none !important;
  }
  </style>
  <div id="{{field.auto_id}}-control-group" class="control-group" style="margin-top: 15px;">
      <!-- <br /><br /> -->
    <div class="controls {{ field|is_radio }}">
    <label class="control-label" for="{{field.auto_id}}">{{field.label}}</label>
      {{field}}
        {% if field.field.icons %}
            <div class="input-prepend" style="display: inline-block; border: none;">
                {% for icon, attrs in field.field.icons.items %}
                    <span {% for key, val in attrs.items %} {{key}}="{{val}}"{% endfor %}><img src="{{ STATIC_URL }}img/{{icon}}.png" /></span>
                {% endfor %}
            </div>
        {% endif %}
        <div id="{{field.auto_id}}_tip" class="help tip" style="color: #307ecc; margin-top: 5px; margin-left: 55px;">{{ field.help_text }}</div>
        {% if field.errors %}
        <label class="error" style="color:red;" >
            {% for error in field.errors %}
                {{ error}}
            {% endfor %}
         </label>
        {% endif %}
    </div>
  </div>

{% endfor %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.controls textarea ').after($('<span id="text-counter"></span>'));
  })
</script>
{% for hidden in a_form.hidden_fields %}
  {{ hidden }}
{% endfor %}
