{% extends "layout.html" %}
{% load template_tags %}
{% load pagination_tags %}
{% block content %}
{% include "search_form.html" %}
  {% block pre_table %}

  {% endblock %}
  <table id="datatables" class="table table-striped table-bordered table-hover dataTable no-footer table-sort" role="grid" aria-describedby="dynamic-table_info">
    <thead>
    {% block table_head %}

    {% endblock %}
    </thead>
    <tbody>
    {% block table_body %}
    {% endblock %}
    </tbody>
  </table>  
  {% paginate %}
  {% block post_table %}

  {% endblock %}
{% endblock %}
