<section name="slider">
    <div class="fw-page-builder-content">
        <div class="sp-slideshow">
            <input id="button-1" name="radio-set" class="sp-selector-1" checked="checked" type="radio">
            <label for="button-1" class="button-label-1"></label>
            <input id="button-2" name="radio-set" class="sp-selector-2" type="radio">
            <label for="button-2" class="button-label-2"></label>
            <input id="button-3" name="radio-set" class="sp-selector-3" type="radio">
            <label for="button-3" class="button-label-3"></label>
            <input id="button-4" name="radio-set" class="sp-selector-4" type="radio">
            <label for="button-4" class="button-label-4"></label>
            <input id="button-5" name="radio-set" class="sp-selector-5" type="radio">
            <label for="button-5" class="button-label-5"></label>
            <label for="button-1" class="sp-arrow sp-a1"></label>
            <label for="button-2" class="sp-arrow sp-a2"></label>
            <label for="button-3" class="sp-arrow sp-a3"></label>
            <label for="button-4" class="sp-arrow sp-a4"></label>
            <label for="button-5" class="sp-arrow sp-a5"></label>
            <div class="sp-content">
                <div class="sp-parallax-bg"></div>
                <ul class="sp-slider clearfix">
                    <li><img src="{{ STATIC_URL }}banassets/image1.png" alt="image01"></li>
                    <li><img src="{{ STATIC_URL }}banassets/image2.png" alt="image02"></li>
                    <li><img src="{{ STATIC_URL }}banassets/image3.png" alt="image03"></li>
                    <li><img src="{{ STATIC_URL }}banassets/image4.png" alt="image04"></li>
                    <li><img src="{{ STATIC_URL }}banassets/image5.png" alt="image05"></li>
                </ul>
            </div>
        </div>
        <div class="fw-row">
            <div class="fw-col-xs-12 fw-col-xs-12 col-sm-12  col-md-12  wow none animated" style="text-align: left ! important; padding-left: 0px; padding-right: 0px; visibility: visible;">
            </div>
            <div class="tp-fullwidth-forcer" style="width: 100%;"></div>
        </div>
    </div>
</section>