<!DOCTYPE html>
<html>
<head>
<title>Test</title>
 <link rel="stylesheet" href="{{STATIC_URL}}/chosen/chosen/chosen.css" />
</head>
<body>
  <em>Into This</em>        
   <select data-placeholder="Choose a District"  id="district" class="chzn-select" style="width:350px;" tabindex="2">
    <option value=""></option> 
   </select>
  
   <!-- <select data-placeholder="Choose a District"  id="district"  style="width:350px;" tabindex="2">
     <option value=""></option> 
  </select> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}/chosen/chosen/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  
    $(".chzn-select").chosen();

    $.getJSON('/investigators/locations',  function(data) {
      
        $.each(data, function(key, value) {   
             $('#district')
                  .append($('<option>', { key : value })
                  .text(key)); 
        });
        
        $("#district").trigger("liszt:updated");
        
      });
    
  </script>

</body>
</html>