{% load template_tags %}
<div id="location-widget">
{% for type, locations  in location_data.get_widget_data.items %}
  <div class="control-group parent">
    <label class="control-label"> {{ type.capitalize }} </label>
    <div class="controls">
      <select id="location-{{ type.lower }}" data-placeholder="Select or Type {{type.capitalize}} " class="chzn-select" required>
        <option value="">{{ default_text }}</option>
        {% for location in locations %}
          <option data-location=true value="{{ location.pk }}" {{ location_data|is_location_selected:location }}>{{ location.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endfor %}
</div>