{% load template_tags %}
<style type="text/css">
.table-header{
  margin-bottom: 10px !important;
}
.dataTables_wrapper .row {
    margin: 0!important;
    display: none !important;
  }
  .form-horizontal .control-label {
    padding-top: 7px !important;
    margin-bottom: 0;
    text-align: right;  
}
#id_email{
   margin-left: 4px !important;
   width: 220px !important;
   height: 25px !important; 
  }
  #id_password1{
   width: 220px !important;
   height: 25px !important; 
  }
  #id_password2, #id_username, #id_first_name, #id_last_name{
   width: 220px !important;
   height: 25px !important; 
  }
  #id_mobile_number{
    width: 195px !important;
  }
</style>
{% for field in form.visible_fields %}
  <div class="control-group">
    <label class="control-label col-md-4" for="{{field.auto_id}}">{{field.label}}</label>
    <div class="controls {{ field|is_radio }} col-md-8">
      {% if field.label_tag|is_mobile_number %}
       <div class="ccode">
           <span class="add-on">{{ country_phone_code }}</span>
      {% endif %}
      {{field}} <label class="error">
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error}}
            {% endfor %}
        {% endif %}
         </label>
      {% if field.label_tag|is_mobile_number %}
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}