{% load template_tags %}
<div class="btn-group">
  <a href="{% url 'edit_interviewer_page'  interviewer.id %}" class="btn btn-small" ><i class="icon-pencil"></i> Edit</a>
  {% if interviewer.is_blocked %}
    <a href="#unblock_interviewer_{{interviewer.id}}" class="btn btn-small" data-toggle="modal" id="unblock_interviewer"><i class="icon-lock"></i> Unblock</a>
  {% else %}
    <a href="#block_interviewer_{{interviewer.id}}" class="btn btn-small" data-toggle="modal" id="block_interviewer"><i class="icon-lock"></i> Block</a>
  {% endif %}
</div>

    {% include "base/block_modal.html" with object_name=interviewer.name id=interviewer.id name="Interviewer" url=interviewer.id|get_url_with_ids:"block_interviewer_page" %}
    {% include "base/unblock_modal.html" with object_name=interviewer.name id=interviewer.id name="Interviewer" url=interviewer.id|get_url_with_ids:"unblock_interviewer_page" %}
