{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
    {{ interviewer.name }} Survey Completion Details
{% endblock %}
{% block content %}
{% load template_tags %}
    <h3 class="offset3">
        {{ interviewer.name|capfirst }} Survey Completion Details
    </h3>
   <div>
	    <dl class="details offset1">
		<dt>
		    Name
		</dt>
		<dd>
		    {{ interviewer.name }}
		</dd>
		<dt>
		    Mobile Numbers
		</dt>
		<dd>
		    {{ interviewer.ussd_access | display_list}}
		</dd>
		<dt>
		    ODK ID
		</dt>
		<dd>
		    {{ interviewer.odk_access | display_list}}
		</dd>
		<dt>
		    Total Households in EA
		</dt>
		<dd>
		    {{ interviewer.ea.total_households }}
		</dd>
		<dt>
		    Total Registered Households
		</dt>
		<dd>
		    {{ interviewer.present_households.count }}
		</dd>
		<dt>
		    Total Households Completed Survey
		</dt>
		<dd>
		    {{ interviewer.total_households_completed }}
		</dd>
		<dt>
		    Percentage Household Registered
		</dt>
		<dd>
			{% widthratio interviewer.present_households.count interviewer.ea.total_households 100 %}
		</dd>
		<dt>
		    Percentage Household Completed Survey
		</dt>
		<dd>
			{% widthratio interviewer.total_households_completed interviewer.ea.total_households 100 %}
		</dd>
		<dt>
		    Enumeration Area
		</dt>
		<dd>
		    {{ interviewer.ea.name }}
		</dd>
	    </dl>
    </div>
{% endblock %}
