{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
  Interviewers List
{% endblock %}

{% block search %}
{% include "horizontal_filter_form.html" with a_form=locations_filter no_button=True filter_id='loc_filter' %}

{% endblock %}
{% block page_actions %}
<!-- <button class="btn btn-white btn-warning btn-bold" data-toggle="modal" data-target="{% url 'new_interviewer_page' %}"  id="add-interviewer">
          <i class="ace-icon fa fa-plus bigger-120 orange"></i>
                        Add Interviewer 
                      </button> -->

     
												<!--<div class="col-lg-12" style="margin-top: -18px; margin-left: 21px;">-->
<style type="text/css">
                        .dataTables_scrollBody{
                          height: 300px !important;
                        }
                        </style>
                                                 <div >
												<a style="padding-left: 4px;padding-right: 3px;" class="btn btn-white btn-warning btn-bold" href="{% url 'new_interviewer_page' %}" id="add-interviewer">
                        <i class="ace-icon fa fa-plus bigger-120"></i>
                         Add Interviewer</a>

                         <a style="padding-left: 4px;padding-right: 3px;" id="export_question" class="btn btn-white btn-warning btn-bold" href="{% url 'download_interviewers' %}" id="download_interviewers">
                        <i class="ace-icon fa fa-external-link bigger-120 "></i>
                         Export Interviewers</a>
		</div>
   <!--  <button id="export_question" class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'download_interviewers' %}" class="" id="download_interviewers"><i class="icon-plus"></i>Export Interviewers</a>
											</button> -->


{% endblock %}
{% block content %}
{% load pagination_tags %}
{% include "search_form.html" %}
{% autopaginate interviewers max_display_per_page %}
<!-- <br> -->
<style type="text/css">
.search{
  margin-top: 10px !important;
}
</style>
<table id="datatables" class="table table-striped table-bordered table-hover table-sort dataTable">
<!-- <table id="" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
 -->
 <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending">Name</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Mobile Numbers</th>
            <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending">ODK ID</th>
            {% for loc_type in location_filter_types %}
                <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Update	: activate to sort column ascending">
                    {{ loc_type.name }}
                </th>
            {% endfor %}
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Update	: activate to sort column ascending">Enumeration Area</th>
            <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Update	: activate to sort column ascending">Allocated Surveys</th>
            <th class="hidden-466" tabindex="0" aria-controls="" rowspan="1" colspan="1" aria-label="">Actions</th>
         </tr>
    </thead>
    <tbody>
        {% for interviewer in interviewers %}
          <tr>
            <td>
              {{ interviewer.name }}
            </td>
            <td>
              {{ interviewer.ussd_access | display_list}}
            </td>
            <td>
              {{ interviewer.odk_access | display_list}}
            </td>
        {% for loc in interviewer.ea.parent_locations %}
          <td>
		    {{ loc.name }}
	      </td>
        {% endfor %}
	   <td>
        <a style="color: #369 !important;
    font-style: normal !important;
    text-decoration: none !important;" href="#ea_{{interviewer.pk}}" data-toggle="modal" class="add_batch">view ({{interviewer.unfinished_assignments.count}})</a>
                	  <div class="modal fade" id="ea_{{interviewer.pk}}" tabindex="-1" role="dialog"  aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					          <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					            <h4 class="modal-title">Assigned EAs for {{interviewer.name}}</h4>
					          </div>
					          <div class="modal-body">
					            <table id="ea_{{interviewer.pk}}" class="table centerTable ea_locations">
		                			{% for assignment in interviewer.unfinished_assignments %}
			                			<tr>
			                				<td>{{ assignment.allocation_ea.name }}<td>
			                			</tr>
			                		{% endfor %}
			                	</table>
					          </div>
					        </div><!-- /.modal-content -->
					    </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
	  </td>
         <td>
		<!-- {{ interviewer.allocated_surveys | display_list }} -->
    {{ interviewer.survey_name }}
	  </td>
            <td>
                {% include 'interviewers/_action_button.html' with button_size="btn-mini" %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% paginate %}
<div class="paginate_msg">Total {{ page_obj.paginator.count }} entries. </div>
{% endblock %}

{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" type="text/css">
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

<script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{STATIC_URL}}js/location-widget.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

    $('.ea_filter').on('change', function () {
    	{% for location_type in location_filter_types %}
    	   var {{ location_type }}_selected = $('#id_{{ location_type }}').val();
    	{% endfor %}
    	url = "{% url 'enumeration_area_filter' %}";
        params = {
        		{% for location_type in location_filter_types %}
        			{{ location_type }} : {{ location_type }}_selected,
 	    		{% endfor %}
        }
        $.getJSON(url, params, function (data) {
        	$('#id_enumeration_area option').hide();
        	$('#id_enumeration_area' +' option[value=""]').show();
            $.each(data, function () {
            	$('#id_enumeration_area' +' option[value='+this.id+']').show();
            });
        });
    });
  </script>

{% include 'max_display_per_page_form.html' %}
{% endblock %}
