{% extends "form.html"%}

{% block title %}
{{ title }}
{% endblock %}
{% block search %}
{% include "horizontal_filter_form.html" with a_form=locations_filter no_button=True filter_id='loc_filter' no_auto_refresh=True %}
<br />
{% endblock %}

{% block extra_css %}
<style type="text/css">
	.radio_field {
		margin-top: -15px;
	height:10px;
	  }
	.p {
		margin-top: -30px;
	  }
	label{
	margin-top: -7px;
	}
    
</style>
{% endblock %}
{% block display_form_fields %}
<div>
	<!-- <br />
	<br /> -->
  {% include "naked_form.html" with a_form=form %}
</div>
<!-- <br /> -->
<div>
  <legend>ODK Access</legend>
  {% include "horizontal_naked_form.html" with a_form=odk_access_form %}
<!-- <br /> -->
</div>
<div>
  {% include "horizontal-formset.html" with formset=ussd_access_form legend='USSD Access' class='ussd_form' %}
</div>
{% endblock %}

{% block javascripts %}
	 <script src="{{ STATIC_URL }}js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/investigator.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/location-widget.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".ussd_form").formset({
                prefix: "{{ ussd_access_form.prefix}}",
                deleteText: "",
                addText: '<span class="add-m-text">Add Mobile Number</span>',
                extraClasses: ['row1', 'row2', 'row3']
            });
        })
    </script>
  <script type="text/javascript">

  	{% for location_type in location_filter_types %}
	$('#id_{{ location_type }}').on('change', function () {
	    	params = { 'parent_loc' : $('#id_{{ location_type }}').val(), 'type' : '{{ location_type.pk }}'};
	    	url = "{% url 'location_sub_types' %}";
	        $.getJSON(url, params, function (data) {
	        	$('#id_' + data.sub_type).find('option').remove().end()
	        	.append('<option value="">-------</option>').val('');
        		$.each(data.locations, function () {
        			$('#id_' + data.sub_type).append('<option value='+this.id+'>'+this.name+'</option>');
	            });
        		$(' .chzn-select').trigger("liszt:updated");
	        });

	    });
  	{% endfor %}
    $('.ea_filters').on('change', function () {
    	{% for location_type in location_filter_types %}
    	   var {{ location_type }}_selected = $('#id_{{ location_type }}').val();
    	{% endfor %}
    	url = "{% url 'enumeration_area_filter' %}";
        params = {
        		{% for location_type in location_filter_types %}
        			{{ location_type }} : {{ location_type }}_selected,
 	    		{% endfor %}
        }
        $.getJSON(url, params, function (data) {
            $('#id_ea').find('option').remove().end()
	        	.append('<option value="">-------</option>');
        		$.each(data, function () {
        			$('#id_ea').append('<option value='+this.id+'>'+this.name+'</option>');
	            });
            $(' .chzn-select').trigger("liszt:updated");
        });
    });
  </script>

{% endblock %}
