{% extends "form.html"%}

{% block title %}
{{ title }}
{% endblock %}
{% block search %}
{% include "locations_filter_form.html" with a_form=locations_filter no_button=True filter_id='loc_filter' no_auto_refresh=True %}
{% endblock %}

{% block extra_css %}
<style type="text/css">  
	.radio_field {
		margin-top: -15px;
	height:10px;
	  }
	.p {
		margin-top: -30px;
	  }
	label{
	margin-top: -7px;
	}  
  ._heading_color{
  color: #034b94;
  }
    
</style>
{% endblock %}
{% block display_form_fields %}
<div id="legend">
            <legend style="color: #034b94;font-weight: bold;">Interviewer Details</legend>
          </div>
{% include "naked_form.html" with a_form=form %}
<style type="text/css">
  .col-md-3 {
    width: 50% !important;
}
</style>
<div>
  <legend style="color: #034b94;font-weight: bold;">ODK Access</legend>
  {% include "horizontal_naked_form.html" with a_form=odk_access_form %}
<!-- <br /> -->
</div>
<div>
<h5 style="color: #034b94;font-weight: bold;">USSD Access</h5>
  {% include "horizontal-formset.html" with formset=ussd_access_form class='ussd_form' %}  
</div>
{% endblock %}

{% block javascripts %}
	 <script src="{{ STATIC_URL }}js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/investigator.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/location-widget.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script type="text/javascript">
        $(function() {
            $(".ussd_form").formset({
                prefix: "{{ ussd_access_form.prefix}}",
                deleteText: "",
                addText: '<span class="add-m-text">Add Mobile Number</span>',
                extraClasses: ['row1', 'row2', 'row3']
            });
        })
    </script>
    <script type="text/javascript">
      {% if mode == 'view' %}
        $("#id_name").attr("readonly","readonly");
        $("#id_date_of_birth").attr("readonly","readonly");
        $("#id_gender_0").attr("disabled","disabled");
        $("#id_gender_1").attr("disabled","disabled");
        $("#id_level_of_education").attr("disabled","disabled");
        $("#id_language").attr("disabled","disabled");
        $("#id_survey").attr("disabled","disabled");

        $("#id_user_identifier").attr("readonly","readonly");
        $("#id_is_active").attr("disabled","disabled");
        $("#id_odk_token").attr("readonly","readonly");
        
        $("#id_District").attr("disabled","disabled");
        $("#id_County").attr("disabled","disabled");
        $("#id_Subcounty").attr("disabled","disabled");
        $("#id_Parish").attr("disabled","disabled");

        $("#button").text('Edit');
        $("#button").attr({"type":"button","onclick":"window.location.href='{% url 'edit_interviewer_page' interviewer_id %}'"});
        $(".add-row").attr("href",'');
        
      {%endif%}
    </script>

{% endblock %}
