{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
    {{ interviewer.name|capfirst }}'s Details
{% endblock %}
{% block content %}
<style type="text/css">
  .dataTables_wrapper .row {
    margin: 0!important;
    display: none !important;
  }

  .table-box {border:1px #0099ff solid;width: 450px;margin: auto;}
  .table-box .tr1{background: #fff; font-size: 13px;}
  .table-box .tr1:hover{background: #d2def2;}
  .table-box  .td1{background: #0099ff; width: 150px;text-align: right;font-weight: bold;color:#fff;}
  .table-box  .td2{width: 300px;text-align: left;}
  .table-header{width: 450px;margin:auto;background: none;color:#000;}
  .cancel-btn{width: 450px;margin: auto;padding-left: 130px;margin-top: 15px;}

  .btn-yellow{display: none !important;}


</style>
   <table border="1" class="table centerTable table-box">
  <tr class="tr1">
    <td class="td1" valign="top" >Name</td>
    <td class="td2" valign="top" class="showdetails">{{ interviewer.name|capfirst }}</td>
  </tr>
{% for access in interviewer.ussd_access %}
  <tr class="tr1">
    <td class="td1" valign="top">Mobile Number</td>
    <td class="td2" valign="top" class="showdetails">{{ access.user_identifier }}</td>
  </tr>
{% endfor %}
{% for access in interviewer.odk_access %}
  <tr class="tr1">
    <td class="td1" valign="top">ODK ID</td>
    <td class="td2" valign="top" class="showdetails">{{ access.user_identifier }}</td>
  </tr>
  <tr class="tr1">
    <td class="td1" valign="top">ODK Token</td>
    <td class="td2" valign="top" class="showdetails">{{ access.odk_token }}</td>
  </tr>
{% endfor %}
  <tr class="tr1">
    <td class="td1" valign="top">Date Of Birth</td>
    <td class="td2" valign="top" class="showdetails">{{ interviewer.date_of_birth |format_date }}</td>
  </tr>
  <tr class="tr1">
    <td class="td1" valign="top">Sex</td>
    <td class="td2" valign="top" class="showdetails">{% if interviewer.gender %}
                Male
            {% else %}
                Female
            {% endif %}</td>
  </tr>
  <tr class="tr1">
    <td class="td1" valign="top">Education</td>
    <td class="td2" valign="top" class="showdetails">{{ interviewer.level_of_education }}</td>
  </tr>
  <tr class="tr1">
    <td class="td1" valign="top">Language</td>
    <td class="td2" valign="top" class="showdetails">{{ interviewer.language }}</td>
  </tr>
{% for loc in interviewer.ea.parent_locations %}
  <tr class="tr1">
    <td class="td1" valign="top">{{ loc.type.name}}</td>
    <td class="td2" valign="top" class="showdetails">{{ loc.name}}</td>
  </tr>
{% endfor %}
  <tr class="tr1">
    <td class="td1" valign="top">Enumeration Area</td>
    <td class="td2" valign="top" class="showdetails">{{ interviewer.ea }}</td>
  </tr>
  <tr class="tr1">
    <td class="td1" valign="top">Allocated Surveys</td>
    <td class="td2" valign="top" class="showdetails">{{ interviewer.allocated_surveys | display_list }}</td>
  </tr>
  <tr class="tr1">
    <td class="td1" valign="top">Total Households</td>
    <td class="td2" valign="top" class="showdetails">{{ interviewer.ea.total_households }}</td>
  </tr>
       <tr>
    <td class="td1" valign="top">&nbsp;</td>
    <td class="td2" valign="top">&nbsp;</td>
  </tr>
  </table>
    <div class="cancel-btn">
        {% if cancel_url %}
            <a href="{{ cancel_url }}" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Back</a>
        {% else %}
            <a href="javascript:window.history.back()" class="btn btn-inverse"><i
                    class="icon-chevron-left icon-white" style="background-color: #307ecc"></i> Back</a>
        {% endif %}
        {% include 'interviewers/_action_button.html' with button_size="" interviewer=interviewer %}

</div>
<br />
<br />
{% endblock %}