{% extends "layout.html" %}
{% load template_tags %}
{% block title %}
    {{ interviewer.name|capfirst }}'s Details
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<style type="text/css">
  .control-label{
    font-weight: bold;
  }
  .btn-yellow{display: none !important;}
  </style>

<div class="container">
  <div class="row-fluid">
      <form class="form-horizontal">
        <fieldset>
        {% if interviewer.odk_access %}
          <div id="legend">
            <legend class="">Credentials</legend>
          </div>
     {% for access in interviewer.odk_access %}          
          <div class="control-group">
            <label class="control-label"  for="username">ODK ID</label>
            <div class="controls">
              {{ access.user_identifier }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"  for="username">ODK Token</label>
            <div class="controls">
              {{ access.odk_token }}
            </div>
          </div>
     {% endfor %}
     {% endif %}
      <div id="legend">
            <legend class="">Profile</legend>
          </div>


          <div class="control-group">
            <label class="control-label"  for="username">Name</label>
            <div class="controls">
              {{ interviewer.name|capfirst }}
            </div>
          </div>

{% for access in interviewer.ussd_access %}
          <div class="control-group">
            <label class="control-label"  for="username">Mobile Number</label>
            <div class="controls">
              {{ access.user_identifier }}
            </div>
          </div>
{% endfor %}          
          <div class="control-group">
            <label class="control-label"  for="username">Date Of Birth</label>
            <div class="controls">
              {{ interviewer.date_of_birth |format_date }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"  for="username">Sex</label>
            <div class="controls">
              {% if interviewer.gender %}
                Male
            {% else %}
                Female
            {% endif %}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"  for="username">Education</label>
            <div class="controls">
              {{ interviewer.level_of_education }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"  for="username">Language</label>
            <div class="controls">
              {{ interviewer.language }}
            </div>
          </div>

          <div id="legend">
            <legend class="">Survey Details</legend>
          </div>
{% for loc in interviewer.ea.parent_locations %}
          <div class="control-group">
            <label class="control-label"  for="username">{{ loc.type.name }}</label>
            <div class="controls">
              {{ loc.name}}
            </div>
          </div>
{% endfor %}          
          <div class="control-group">
            <label class="control-label"  for="username">Enumeration Area</label>
            <div class="controls">
              {{ interviewer.ea }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="username">Allocated Surveys</label>
            <div class="controls">
              {{ interviewer.survey_name }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"  for="username">Total Households</label>
            <div class="controls">
              {{ interviewer.ea.total_households }}
            </div>
          </div>
        </fieldset>
      </form>
      <form class="form-horizontal">
        <fieldset>          
          <div class="cancel-btn" style="text-align: center;">
        {% if cancel_url %}
            <a href="{{ cancel_url }}" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Back</a>
        {% else %}
            <a href="javascript:window.history.back()" class="btn btn-inverse"><i
                    class="icon-chevron-left icon-white" style="background-color: #307ecc"></i> Back</a>
        {% endif %}
        {% include 'interviewers/_action_button.html' with button_size="" interviewer=interviewer %}

</div>    
        </fieldset>
      </form>
      </div>
    </div>









<!--     <div class="cancel-btn">
        {% if cancel_url %}
            <a href="{{ cancel_url }}" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i> Back</a>
        {% else %}
            <a href="javascript:window.history.back()" class="btn btn-inverse"><i
                    class="icon-chevron-left icon-white" style="background-color: #307ecc"></i> Back</a>
        {% endif %}
        {% include 'interviewers/_action_button.html' with button_size="" interviewer=interviewer %}

</div>
<br />
<br /> -->
{% endblock %}