<h3>
  {% block title %} {{ title }} {% endblock %}
</h3>
<form action="{{ action }}" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
  {% csrf_token %}
  {% include "naked_form.html" with a_form=question_set_form %}
  <div class="form-actions">
    <button type="submit" class="btnforall" name="save_button"  data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
        {% if cancel_url %}
            <a href="{{cancel_url}}" class="btn btn-primary" name="cancel_button">Cancel</a>
        {% else %}
            <button class="btnforall" data-dismiss="modal">Cancel</button>
        {% endif %}
  </div>
</form>
