{% extends "layout.html" %}
{% block title %}
  {{question_set.name}} Data Lists
{% endblock %}
{% block search %}

{% endblock %}

{% block content %}
{% load pagination_tags %}
{% include "search_form.html" %}
{% load template_tags %}

</div>
 <br />
  <table id="datatables" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
    <thead>
      <tr>
        <th class="sorting">
          Survey
        </th>
        <th class="sorting">
          Total Responses
        </th>
        <th class="sorting">
          EAs Covered
        </th>
      </tr>
    </thead>
    <tbody>
       {% autopaginate surveys max_display_per_page %}
      {% for survey in surveys %}
        <tr>
          <td>
             <a href="{% url 'view_data_home' question_set.pk survey.pk %}">{{ survey.name }}</a>
          </td>
          <td>
            {{ survey.interviews.count }}
          </td>
          <td>
            {{ survey.eas_covered }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% paginate %}
{% endblock %}


{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>

    <script src="{{STATIC_URL}}js/questions.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">            
            $(document).ready(function() {
    $('#datatables').DataTable(
{
   'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': [-1] /* 1st one, start by the right */
    }]
});
} );
        </script>
  {% include 'max_display_per_page_form.html' %}
{% endblock %}