*{margin:0;padding:0;text-decoration:none}
body{background:#555;}
header{position:relative;width:100%;background:#0099ff;}
.logo{position:relative;z-index:123;font:18px verdana;color:#6DDB07;float:left;width:12%;}
.logo a{color:#6DDB07;}
nav{position:relative;width:1220px;-moz-width:1100px;}
/*#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*/
/*#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{
    border: 0 none;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: outside none none;
    padding-top: 5px;
    position: relative;
    z-index: 9;
}*/
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0 none;
    box-sizing: border-box;
    display: block;
    list-style: outside none none;
    position: relative;
    background: #0099ff none repeat scroll 0 0 !important;
    z-index: 11;
}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:Open Sans,sans-serif;background:#0099ff}
/*#cssmenu > ul > li{float:left;padding-top: 10px;}*/
#cssmenu > ul > li{float:left;}
#cssmenu > ul > li > a{margin-top: 6px;padding-top:20px;padding-left:30px;padding-bottom:10px;font-size:13px;letter-spacing:1px;text-decoration:none;color:#fff;font-weight:700;font-family: "Open Sans";}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:yellow;}
#cssmenu > ul > li > .last{margin-top: 0px;padding-top:0px;padding-left:0px;padding-bottom:0px;}
/*Removed Hover color*/
/*#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{background:#0073bf!important;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}*/
/*#cssmenu > ul > li.has-sub > a{padding-right:24px}*/
/*Removed Plush and minus functionality*/ 
/*#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#fff;content:''}*/
/*#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;margin-top: 6px;padding-top:20px;padding-left:30px;padding-bottom:10px;font-size:13px;letter-spacing:1px;text-decoration:none;color:#fff;font-weight:700;font-family: "Open Sans";right:14px;display:block;width:2px;height:8px;background:#fff;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}*/
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px;margin-top: 0px;}
/*#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#0073bf;border-bottom: 1px solid #EDC;transition:all .25s ease}*/
#cssmenu ul ul li {
    background: #0073bf none repeat scroll 0 0;
    border-bottom: 1px solid #75aee6;
    height: 0;
    transition: all 0.25s ease 0s;
}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
/*#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#fff;font-weight:400;}*/
/*#cssmenu ul ul li a {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
    text-decoration: none;
    text-transform: uppercase;
    width: 166px;
}*/
#cssmenu ul ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:yellow;}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#fff;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#0073bf;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

@media screen and (max-width:1024px){
.logo{top:0;left: 0;width:100%;height:25px;padding:0px 0 0 0 ;float:none}
.logo2{display:none}
nav{width:100%;}
#cssmenu{width:100%}
#cssmenu ul{width:100%;display:none;}
#cssmenu ul li{width:100%;border-top:1px solid #7dbbfa;}
#cssmenu ul li:hover{background:#363636;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0;}
#cssmenu > ul > li{float:none}
#cssmenu ul ul li a{padding-left:50px;}
#cssmenu ul ul li{background:#0073bf!important;}
#cssmenu ul ul li:hover{background:#0073bf!important}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#fff;background:none}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li:hover > a{color:#yellow}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:31px;color:#ddd;font-size:12px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0px;cursor:pointer;z-index: 12399994;}
/*.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}*/
.button:after {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 3px;
    border-top: 2px solid #dddddd;
    content: "";
    display: block;
     position: absolute;
    right: 20px;
    top: 22px;
    width: 20px;

}
.button::before {
    background: #ddd none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 20px;
    top: 18px;

    transition: all 0.3s ease 0s;
    width: 20px;
    z-index: 99999;
}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #0381d5;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#0381d5}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
/*#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#ddd;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}*/
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}
/*header ul, footer ul, .top-bar ul, .lft-tools ul, .post-info ul, .recent-posts-widget ul, .center-v-menu ul, .pricing-tbl ul, .sidebar ul, ul.details, ul.comment-list, ul.list, .w-recent-posts ul {    list-style: outside none none;    margin: 0;    padding: 29px 0 0;}*/

@media only screen and (max-width:767px) {
#cssmenu ul ul li {
    border-bottom: none !important;
    }
    #cssmenu .fa-plus,#cssmenu .fa-minus{padding: 15px;}
}


