/*
this is for uSurvey
/* Normalization */
body, html{
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 13px;
    margin: 0;
    padding: 0;
}  
body{
    background: #fff url("../images/diagonal.png") repeat scroll center center;
}
body.single-post{
    background: #fff url("../images/diagonal2.png") repeat scroll center center;
} 
.boxWrapper{
    position: relative;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    /*line-height: .8;*/
    font-weight: 700;
    color: #404040;
}
.top_heading{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 700;
    color: #404040;
}
.top_heading span{
    font-weight: 300;
}
p{
    /*color: #fff;*/
    font-size: 16px;
    font-weight: 300;    
    line-height: 1.625;
    font-weight: 300;
    margin: 0;
}
ul,ol{
    margin: 0;
    padding: 1px;
    list-style: none;
}
a, a:hover,a:focus{
    display: inline-block;
    outline: none;
    text-decoration: none;
}
/*a:focus{
    color: #de3c2f;
}*/
a{
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.top_btn {
    background: #de3c2f;
    border: 2px solid #de3c2f;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 22px;
    text-align: center;
    min-width: 170px;
    text-transform: uppercase;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
    -o-transition: all ease 500ms;
}
.top_btn:hover{
    background: #404040 none repeat scroll 0 0;
    border-color: #404040;
    color: #fff;
}
/************** Commmon Content Style ********************/
.commonSection{
  /*  padding: 116px 0 118px;*/
  padding:20px 0 20px;
    position: relative;
    background: rgba(0, 0, 0, 0);
}
/*img{
    width: 100%;
    height: auto;
}*/
.sectionTitles{
    position: relative;
    width: 100%;
    margin-bottom: 55px;
}
.commonTittle{
    font-size: 50px;
    text-transform: capitalize;
    padding-bottom: 13px;
}
.commonTittle span{
    font-weight: 300;
    text-transform: capitalize;
    display: inline-block;
    padding-left: 8px;
}
.commonTittle.white{
    color: #fff;
}
.subTittle{
    font-size: 20px;
    line-height: 0.9;
}

/**************** Margin and Padding Set ***********************/
.noMarginLeft{
    margin-left: 0px !important;
}
.noPadding{
    padding: 0 !important;
}
.noMarginRight{
    margin-right: 0 !important;
}
.noPaddingLeft{
    padding-left: 0 !important;
}
