{% load template_tags %}
<div class="modal fade" id="{{ action_str|default:'delete' }}_{{name.lower}}_{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ action_str.capitalize|default:'Delete' }} {{ name|space_replace:'_' }}</h4>
      </div>
      <div class="modal-body">
        <span class="alert_confirm">Confirm:</span> Are you sure you want to {{ action_str|default:'delete' }} <strong><em>{{ object_name }}</em></strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="{{ url }}" id="{{ action_str|default:'delete' }}-{{name.lower}}-{{id}}">Yes</a>
      </div>
    </div>
  </div>
</div>
