Country,State,District,Mandal,Village,EANAME
INDIA,ANDHRAPRADESH,PRAKASAM,MARKAPURAM,MARKAPURAM,MARKAPURAM A
INDIA,ANDHRAPRADESH,PRAKASAM,MARKAPURAM,MARKAPURAM,MARKAPURAM B
INDIA,ANDHRAPRADESH,PRAKASAM,YERRRAGONDAPALEM,YERRAGONDAPALEM,YERRAGONDAPALEM
INDIA,ANDHRAPRADESH,GUNTUR,GUNTUR,MACHERLA,MACHERLA PLACES
INDIA,ANDHRAPRADESH,PRAKASAM,MARKAPURAM,DEVARAJUGATTU,DEVARAJUGATTU
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,KUKATPALLY,KUKATPALLY
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,NIJAMPET,NIJAMPET A
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,NIJAMPET,NIJAMPET B
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,NIJAMPET,NIJAMPET C
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,BACHEPALLY,BACHEPALLY
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,LINGAMPALLY,LINGAMPALLY
INDIA,TELANGANA,HYDERABAD,RANGAREDDY,MADHEENAGOODA,MADHEENAGOODA
