{% load template_tags %}
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>
            Eligibility Criteria
        </th>
        <th>
            Question/Value/Option
        </th>
         <th>
            Delete
        </th>
    </tr>
    </thead>
    <tbody>
    {% for criterion in survey.randomization_criteria.all %}
        <tr>
            <td >
                {{ criterion.validation_test }}
            </td>
            <td>
                {{ criterion.test_arguments|join_list:"and" }}

            </td>
            <td>
                <a class="btn btn-small" data-toggle="modal" href="#delete_criterion_{{criterion.id}}"><i class="icon-trash" id="delete-icon-{{criterion.id}}"></i></a>
            </td>
            {% include "base/delete_modal.html" with object_name="" id=criterion.id name="criterion" url=criterion.id|get_url_with_ids:"delete_listing_criterion" %}
        </tr>
    {% endfor %}

    </tbody>
</table>