{% extends "page_with_table.html" %}
{% load template_tags %}
{% load pagination_tags %}
{% autopaginate surveys 50 %}
{% block title %}
  Survey List
{% endblock %}
{% block search %}
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/awesomplete.css" />
<script src="{{ STATIC_URL }}js/awesomplete.min.js" async></script>
<style type="text/css">
    .status {
        width: 15px !important;
        background-image: None !important;
    }
    th.status::after {
        background-image: None !important;
        content: None !important;
    }
#red_circle  {
    background: #d12a09 none repeat scroll 0 0;
    border-radius: 70px;
    height: 10px;
    margin-top: 5px;
    width: 10px;
}
#green_circle {
    background: #009948 none repeat scroll 0 0;
    border-radius: 70px;
    height: 10px;
    margin-top: 5px;
    text-align: center;
    width: 10px;
}
#amber_circle {
    background: #ffcc00 none repeat scroll 0 0;
    border-radius: 70px;
    height: 10px;
    margin-top: 5px;
    width: 10px;
}

</style>
{% endblock %}

{% block page_actions %}

<div class="col-lg-12" style="margin-top: -18px;margin-left: 21px;">
        <button class="btn btn-white btn-warning btn-bold" data-toggle="modal" data-target="#new_survey"  id="add_survey">
          <i class="ace-icon fa fa-plus bigger-120"></i>
												Create New Survey 
											</button>
                      </div>

{% endblock %}
    {% block table_head %}
    <br>
      <tr>
        <th class="status">
        </th>
        <th class="sorting">
          Name
        </th>
        <th class="sorting">
          Description
        </th>
        <th class="sorting">
          Type
        </th>
        <th class="sorting">
          Sample Size
        </th>
        <th class="sorting">
            Total Interviews
        </th>
        <th class="sorting">
            EAs Covered
        </th>
        <th  style="background-image: None;">
          Actions
        </th>
      </tr>
    {% endblock %}
    {% block table_body %}
    {% has_super_powers request as has_powers %}
    {% for survey in surveys %}
        <tr>
         <td>
              {% if survey.is_open %}<div id="green_circle" title="Started"></div>{% elif survey.interviews.count %}<div id="red_circle" title="Closed"></div>{% else %}<div id="amber_circle" title="Not Started"></div>{% endif %}
          </td>
          <td>
            <a href="{% url 'batch_index_page' survey.id %}">{{ survey.name }}</a>
          </td>
          <td>
            {{ survey.description }}
          </td>
          <td>
              {% if survey.has_sampling %}Sampled{% else %}Census{% endif %}
          </td>
          <td>
              {% if survey.has_sampling %}{{ survey.sample_size }}{% else %}N/A{% endif %}
          </td>
          <td>
              {{ survey.interviews.count}}
          </td>
          <td>
              {{ survey.eas_covered }}
          </td>
          <td>
            <div class="">
                <div class="inline pos-rel">
                       <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                           <i class="usur-icon fa fa-caret-down icon-only bigger-120"></i>
                       </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                            <li>
                                <a href="{% url 'edit_survey_page' survey.id %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Edit</span></a>
                            </li>
                            {% if not survey.interviews.exists %}
                            <li>
                                <a href="{% url 'delete_survey' survey.id%}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Delete"><span class="red"><i class="usur-icon fa fa-trash bigger-120"></i>Delete</span></a>
                            </li>
                            {% endif %}
                            {% if survey.interviews.exists and has_powers %}
                                <li>
                                    <a href="{% url 'wipe_survey_data' survey.id %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Delete"><span class="red"><i class="usur-icon fa fa-trash bigger-120"></i>Wipe Collected Data</span></a>
                                </li>
                            {% endif %}
                            {% if survey.has_sampling and not survey.listing_samples.exists %}
                            <li><a href="{% url 'listing_criteria_page' survey.pk %}" class="tooltip-success" data-rel="tooltip" title=""><span class="green"><i class="usur-icon fa fa-eye bigger-120"></i>Samping Criteria</span></a></li>
                            {% endif %}
                            <li><a href="{% url 'batch_index_page' survey.pk %}" class="tooltip-error" data-rel="tooltip" title=""><span class="green"><i class="usur-icon fa fa-eye bigger-120"></i>View Batches</span></a></li>
                            <li>
                                <a href="{% url 'clone_survey_page' survey.id %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Clone"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Clone</span></a>
                            </li>
                        </ul>
                </div>
            </div>
          {% include "base/delete_modal.html" with object_name=survey.name id=survey.id name="Survey" url=survey.id|get_url_with_ids:"delete_survey" %}
          </td>
        </tr>
      {% endfor %}
    {% endblock %}
    {% block post_table %}
    <div class="modal fade" id="new_survey" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #3498DB;border-top: 1px solid #70B6E5;border-bottom: 5px solid #2372A7;" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="color: #fff">New Survey</h4>
              </div>
              <div class="modal-body">
                {% include "surveys/new_survey.html" with title="" action="/surveys/new/" button_label="Save"%}
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endblock %}


{% block javascripts %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dataTables.bootstrap.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
<script src="{{ STATIC_URL }}/js/dataTables.bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="{{STATIC_URL}}js/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/survey.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">            
            $(document).ready(function() {
    $('#datatables').DataTable(
{
   'aoColumnDefs': [{
        'bSortable': false,
        'aTargets': [-1] /* 1st one, start by the right */
    }]
});    
} );
        </script>
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}assets/formoid-solid-blue.css"> -->
          <script src="{{STATIC_URL}}js/type-auto-suggest.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
                $(function(){
                    init_fields();
                    $('#id_random_sample_label').on('keyup', function(){
                       make_suggestions('#id_random_sample_label', "{% url 'qset_identifiers' %}?id=" + $('#id_listing_form').val());
                       this.focus();
                    });
                });
            </script>
{% endblock %}
