{% extends "layout.html" %}
{% block title %}
  Survey List
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate surveys 50 %}
{% load template_tags %}
  <h3>
    Survey List
  </h3>
  <a href="#new_survey" data-toggle="modal" class="btn btn_primary pull-right padded-bottom" id="add_survey">Create New Survey</a>
  <br class="clear"/>
  <br/>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          Type
        </th>
        <th>
          Number of Households per Investigator
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for survey in surveys %}
        <tr>
          <td>
            <a href="{% url 'batch_index_page' survey.id %}">{{ survey.name }}</a>
          </td>
          <td>
            {{ survey.description }}
          </td>
          <td>
              {% if survey.type %}Aggregate{% else %}Roster{% endif %}
          </td>
          <td>
              {{ survey.sample_size }}
          </td>
          <td>
            <div class="btn-group">
                <a class="btn btn-small" href='{% url "edit_survey_page" survey.id %}'><i class="icon-pencil"></i> Edit</a>
                <a class="btn btn-small " data-toggle="modal" href="#delete_survey_{{survey.id}}"><i class="icon-trash"></i> Delete</a>
                <a class="add_batch btn btn-small" href='{% url 'new_batch_page' survey.pk %}'><i class="icon-plus"></i> Add Batch</a>
            </div>
          {% include "base/delete_modal.html" with object_name=survey.name id=survey.id name="Survey" url=survey.id|get_url_with_ids:"delete_survey" %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <div class="modal fade hide" id="new_survey" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Survey</h4>
              </div>
              <div class="modal-body">
                {% include "surveys/new_survey.html" with title="" action="/surveys/new/" button_label="Save" %}
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  {% paginate %}
{% endblock %}