{% extends "form.html"%}

{% block title %}
  New Survey
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/awesomplete.css" />
<script src="{{ STATIC_URL }}js/awesomplete.min.js" async></script>
{% endblock %}

{% block display_form_fields %}
	{% include "naked_form.html" with a_form=survey_form %}
<style type="text/css">
  #id_sample_size{
    margin-left: 5px!important;
    width: 60px !important;
  }
#id_listing_form{
 margin-left: 5px!important;
 width: 308px !important; 
  }
  #id_random_sample_label{ 
 width: 308px !important; 
  }
  #id_preferred_listing{
    margin-left: 5px!important; 
    width: 308px !important;
  }
  #id_email_group{
    width: 308px !important;
  }
  .dataTables_wrapper input[type="text"], .dataTables_wrapper textarea {
    width: 308px !important;
}
.dataTables_wrapper #id_sample_size{height: 25px;}
#id_email_group_chosen {
    border-left: 3px solid #0577e0;
    display: inline-block;
    margin-bottom: 0;
    border-radius: 5px;
    vertical-align: middle;
    /*width: 261px!important;*/
    margin-left: 4px!important;
}
</style>
{% endblock %}

{% block javascripts %}
    <script src="{{STATIC_URL}}js/survey.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/type-auto-suggest.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
            $(function(){
                init_fields();
                $('#id_random_sample_label').on('keyup', function(){
                   make_suggestions('#id_random_sample_label', "{% url 'qset_identifiers' %}?id=" + $('#id_listing_form').val());
                   this.focus();
                });
            });
            $('.modal').on('hidden.bs.modal', function(){
                $(this).find('form')[0].reset();
            });
          

          $(document).ready(function(){
        $("label[for='id_listing_form']").text("New Listing");
          //var listing_selected_option = $("#id_listing_form :selected").val();
        $("#id_listing_form").change(function() {
          if($(this).val())
            $("#id_preferred_listing-control-group").hide();
          else
            $("#id_preferred_listing-control-group").show();
        });

        $("#id_listing_form option[value='']").text("--Select New Listing Form--");
        $("select#id_listing_form").val("");
        $("#id_preferred_listing option[value='']").text("--Select Preferred Listing Form--");

        });
        </script>

{% endblock %}