{% extends "form.html"%}

{% block title %}
  New Survey
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/awesomplete.css" />
<script src="{{ STATIC_URL }}js/awesomplete.min.js" async></script>
{% endblock %}

{% block display_form_fields %}
	{% include "naked_form.html" with a_form=survey_form %}
<style type="text/css">
  #id_sample_size{
    margin-left: 5px!important;
    width: 308px !important;
  }
#id_listing_form{
 margin-left: 5px!important;
 width: 308px !important; 
  }
  #id_random_sample_label{ 
 width: 308px !important; 
  }
  #id_preferred_listing_chosen{
    margin-left: 5px!important; 
    width: 308px !important;
  }
  .dataTables_wrapper input[type="text"] {
    width: 308px !important;
}
</style>
{% endblock %}

{% block javascripts %}
    <script src="{{STATIC_URL}}js/survey.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/type-auto-suggest.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
            $(function(){
                init_fields();
                $('#id_random_sample_label').on('keyup', function(){
                   make_suggestions('#id_random_sample_label', "{% url 'qset_identifiers' %}?id=" + $('#id_listing_form').val());
                   this.focus();
                });
            });
        </script>
{% endblock %}