 {% load i18n %}
 {% load url from future %}
 {% autoescape off %}
{% load template_tags %}
 
You're receiving this e-mail because you requested a password reset for your user account at {% get_home_url %}.

Please go to the following page and choose a new password:
{% block reset_link %}
 {% get_absolute_url 'password_reset_url' uid token  as pwd_reset_url %}
  {{ pwd_reset_url }}
{% endblock %}

Your username, in case you've forgotten: {{ user.username }}


Thanks for using our site!

The {{ site_name }} team.
{% endautoescape %}