{% extends "base.html" %}
{% load repeatedblocks %}
{% load template_tags %}

{% block title %}Password reset complete{% endblock %}

{% block extra_content %}
<section id="login-content" class="login-content" style="min-height: 600px;">
    <div class="awe-parallax bg-login-content">
    </div>
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="row" style="margin-top: 165px;">
<div class="help_us_text">Your password has been set.  You may go ahead and log in now.</p>
<p class="help_us_text">Click here to <a class="" href="{{ login_url }}">Log in</a></p>
</div>
</div>
</section>


{% endblock %}