{% extends "base.html" %}
{% load repeatedblocks %}
{% load template_tags %}
{% block title %}Setting New password{% endblock %}

{% block extra_content %}
<section class="commonSection " style="background-color: #ffffff; background-repeat: no-repeat; " > 
    <div class="container">
        <div class="fw-row usurvey-static-content" style="min-height: 600px;">
            <div class="col-md-12"><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            <h5>Reset Password</h5><p>&nbsp;</p>
    {% if validlink %}
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>
                        <label for="id_new_password1">New password:</label></td>
                            <td width="2%">&nbsp;</td>
                    <td>{{ form.new_password1 }}
                        {{ form.new_password1.errors }}

                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_new_password2">Confirm password:</label></td>
                        <td width="2%">&nbsp;</td>
                    <td>{{ form.new_password2 }}
                            {{ form.new_password1.errors }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="2%">&nbsp;</td>
                    <td><br/><input class="btn btn-primary submit" type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p class="help_us_text">The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
    </div>
    </div>
    </div>
    </section>

{% endblock %}


{% block extra_css %}
<style type="text/css">
    
     #id_new_password1, #id_new_password2{width: 220px !important;
   height: 25px !important;
margin-left: 0px !important;
margin-top: 15px;
 }
</style>
{% endblock %}