{% extends "base.html" %}
{% load repeatedblocks %}
{% load template_tags %}
{% block page_title %} Forgot Password {%endblock%}
{% block extra_content %}


<section id="login-content" class="login-content">
    <div class="awe-parallax bg-login-content">
    </div>
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="row" style="margin-top: 145px;">
            <!-- FORM -->
            <div class="col-xs-12 col-lg-4 pull-right">
                <div class="form-login">
                    <form method="post" action="">
                        <h2 style="font-family: Open-Sans">uSurvey</h2>
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"> 
                        <div>
                            <div class="form-email">
                                <!-- <label for="username" style="color: #fff">{{ form.username.label_tag }}</label> -->
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="form-submit-1">
                            <input value="Send Password" class="mc-btn btn-style-1" type="submit">
                        </div>
                        <div class="form-check">
                            <label for="check"><a href="{% url 'login_page' %}">Known Your Password ?   Click here to Sign In</a></label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END / FORM -->
            <div class="image">
                <img src="{{ STATIC_URL }}loginassest/img-thumb.png" alt="">
            </div>
        </div>
    </div>
    <div style="min-height: 150px;">&nbsp;</div>
</section>




{%endblock%}

{% block extra_js %}
<script type="text/javascript">
$('#id_email').attr("placeholder","Enter your email address");
</script>
{%endblock%}

{% block extra_css %}
<link href="{{ STATIC_URL }}loginassest/css.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}loginassest/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}loginassest/style.css">
<style type="text/css">
    #cssmenu > ul > li .login {
    color: yellow;}
    .form-email input, .form-password input {    
    /*padding: 0 65px !important;*/
    width: 100%;
}
#id_username, #id_password{
    text-align: center;
}
@media screen and (min-device-width: 360px) and (max-device-width: 768px) {
.login-content .form-login {
    position: relative;
     z-index: 99; 
    max-width: 400px;
    margin-left: auto;
    margin-top: -35px;
    margin-bottom: 190px;
    margin-right: auto;
}
}
    
</style>
{%endblock%}
</body></html>