{% load template_tags %}
<!DOCTYPE html>
<html lang="en"><head>
<style type="text/css">
    .form-email input, .form-password input {    
    padding: 0 50px !important;
}
#id_username, #id_password{
    text-align: center;
}
</style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
     <!-- Google font -->
    <link href="{{ STATIC_URL }}loginassest/css.css" rel="stylesheet" type="text/css">
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}loginassest/bootstrap.css">
       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}loginassest/style.css">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      
    <![endif]-->
    <title>Forgot Password - uSurvey </title>

</head>
<body id="page-top" class="home">

<!-- PAGE WRAP -->
<div id="page-wrap">


    <!-- HEADER -->
    <header id="header" class="header">
        <div class="container">

            <!-- LOGO -->
            <div class="logoImg"><a href="/"><img style="padding-top: 16px;" src="{{ STATIC_URL }}loginassest/Logo_Main.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- NAVIGATION -->
            <nav class="navigation">

                <div class="open-menu">
                   
                </div>

                <!-- MENU -->
          
                <!-- END / MENU -->

                

            </nav>
            <!-- END / NAVIGATION -->

        </div>
    </header>
    <!-- END / HEADER -->

    <!-- LOGIN -->

             
    <section id="login-content" class="login-content">

        <div class="awe-parallax bg-login-content">
        </div>
      <div class="awe-overlay"></div>
        <div class="container">
            <div class="row" style="padding-bottom: 60px">

                <!-- FORM -->
                <div class="col-xs-12 col-lg-4 pull-right">
                
                   <div class="form-login">

                                     
                        <form method="post" action="">
                            <h2 style="font-family: Open-Sans">uSurvey</h2>
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken"> <div>
                            <div class="form-email">
                                 <!-- <label for="username" style="color: #fff">{{ form.username.label_tag }}</label> -->
                                {{ form.email }}
                                {{ form.email.errors }}
                                 </div>
                            </div>
                           
                            
                            <div class="form-submit-1">
                                <input value="Send Password" class="mc-btn btn-style-1" type="submit">
                                
                            </div>
                            <div class="form-check">
                                
                                <label for="check"><a href="{% url 'login_page' %}">Known Your Password ?   Click here to Sign In</a></label>
                                
                            </div>
                         
                        </form>
                    </div>
                </div>
                <!-- END / FORM -->
    
                <div class="image">
                    <img src="{{ STATIC_URL }}loginassest/img-thumb.png" alt="">
                </div>
    
            </div>
        </div>
    </section>
    <!-- END / LOGIN -->
    <!-- FOOTER -->
    <footer id="footer" class="footer">
        
        <div class="second-footer">
            <div class="container">
                <div class="contact">
                   
                    
                    <div class="address">
                 
                    </div>
                </div>
                <p class="copyright">Copyright © 2017 uSurvey. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
<div class="overlayForm"></div></div>
<!-- END / PAGE WRAP -->

<!-- Load jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    
$('#id_email').attr("placeholder","Enter your email address");

</script>
<style type="text/css">
    .form-check label a{}
</style>
</body></html>