    <div  id="indicator-table">
        {% for indicator in display_indicators %}
            <div class="indicators indicator-{{indicator.survey.id}} panel panel-primary">
                <div class="indicator-header panel-heading row"><div class="indicator-name col-sm-6">{{ indicator.name }}</div><div class="indicator-value col-sm-6">{{ indicator.country_wide_value }}</div></div>
                <div class="indicator-breakdown panel-body">
                    {% for key, value in indicator.country_wide_report.items %}
                        {% if key != indicator_reports_field %}
                            <div class="indicator-desc row"><div class="variable-name col-sm-6">{{key}}</div><div class="variable-val col-sm-6">{{value}}</div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
