    <div  id="indicator-table" class="container-fluid" style="padding: 0;margin: 0; width: 100%; ">
    <style>
   .hero-description {
        color: #000;
        font-family: Open Sans;
        font-size: 13px;
        line-height: 140%;
        margin-left: -9px;

    }
    .poll-hero .poll-hero-questions {
        border-left: 2px solid #896de8);
        font-family: "Open Sans";
        font-size: 8px;
        margin-left: 5px;
        margin-top: 10px;
        min-height: 50px;
        padding-left: 15px;
        position: relative;

    }
</style>

</div>