{% extends "layout.html" %}
{% block extra_head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
{% endblock %}
{% block title %}
  Survey Map
{% endblock %}
{% block content %}

<style>

     .map-show {
            width: 80%
            display: inline-block;
        }

     
        .leaflet-container {
            margin-bottom: 10px;
            margin-left: 384px;
            background-color:rgba(255,0,0,0.0);
        }

       
        .rop {
         text-align:center;
         }
         .leaflet-container {
            margin-left: 384px;
            /*margin-top: 77px;*/
            overflow: hidden;

        }
        .leaflet-container {
            margin-bottom: 10px;
            margin-left: 384px;
             overflow: hidden;
        }

        /*
        1px solid #c5c5c6;
        5px 5px 5px #dbddde;
        */
        #survey_map {
            border: None;
            box-shadow: None;
            min-height: 500px;
            margin-bottom: 130px;
            width: 750px;
            margin-left: auto;
            margin-right: auto;
            
            z-index: 2;    
        }
@media only screen and (max-width:767px) {
    #survey_map {
       width: 100%
    }
}


  .rathna_table>tbody>tr>td, .rathna_table>tbody>tr>th, .rathna_table>tfoot>tr>td, .rathna_table>tfoot>tr>th, .rathna_table>thead>tr>td, .rathna_table>thead>tr>th {
    padding:1px 8px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none !important;
}
#info-update{min-height: 230px;}
#info-update .rathna_table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none !important;
}
.info-count {
    font-size: 2em !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    line-height: 100% !important;
    font-family: MontserratBold, Arial, Helvetica, sans-serif !important;
}
.rathna-nav> li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.rathna-nav, .rathna-nav {
    text-align:center;
}
.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
#map-legend {
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;

}
.map-legend {
    width: 16px;
    height: 16px;
    display: inline-block;
}
.rathna-nav{
border-bottom:none !important;

}
.rathna-nav li a{
 background:#ccc;
}
.rathna-nav>li>a {
    margin-right: 0px !important; 
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color:#fff !important;
}
.rathna-nav>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff !important;
    cursor: default;
    background:#0099ff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.rathna-nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
}
.r_heading th{

    font-size: 18px;
    width: 50%;
    position: relative;
    top: 4px;
}
.r_heading td{
font-size: .9em;
    padding-right: 10px;
}
.r_tab-content{
    border: none !important;
}
.r-row{
    background: none !important;
    border: none !important
}
.rat_h3{color:#FF8200; font-weight:600;margin-bottom: 10px;}
#id_survey{border-left: 3px solid #0577e0;}
#id_survey{
    margin-bottom: 0 !important;
    margin-left: 0px !important;
    padding: 6px !important;
    margin-right: 4px !important;
    width: 220px !important;
}

#displays {
   position: relative;
}

#indicators-tab, #loc-stats-tab {
   position: absolute;
   display: block;
   width: 100%;
}

  </style>
<div id="home_display">
    <ul class="nav nav-tabs center-block rathna-nav">
    <li class="active"><a data-toggle="tab" href="#loc-stats-tab">LOCATIONS</a></li>
        <li ><a data-toggle="tab" href="#indicators-tab">INDICATORS</a></li>
        
    </ul>

    <div class="tab-content r_tab-content">
        <div id="locations-tab">
            <div class="row r-row">
                <div id="displays" class="col-md-3">
                    <div id="map-controls" style="padding: 10px; ">{{map_filter}}</div>
                    <div id="indicators-tab" class="tab-pane fade">
                        <table style="width:100%; margin-top:20px;" id="indicator-table">
                        {% for indicator in display_indicators %}
                            <tr>
                                <td style="width:90%">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="{{ indicator.country_wide_value }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ indicator.country_wide_value }}%">
                                            <span>{{ indicator.name }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:10%">
                                    <p style="margin-top:-13px; margin-left:5px;font-weight:bold" class="text-success">{{ indicator.country_wide_value }}</p>
                                </td>
                            </tr>
                        {% endfor %}

                        </table>
                    </div>
                    <div id="loc-stats-tab" class="tab-pane fade  in active">
                        <div id="info-update"></div>
                        <br/>
                        <h3 class="rat_h3" style="margin-left: 8px;">INTERVIEW PER EA</h3>
                        <div id="map-legend">
                            <i class="map-legend" style="background:#8daedb"></i> Survey not opened<br>
                            <i class="map-legend" style="background:#FD8D3C;"></i> 0 — 5<br>
                            <i class="map-legend" style="background:#FC4E2A;"></i> 5 — 10<br>
                            <i class="map-legend" style="background:#E31A1C;"></i> 10 — 15<br>
                            <i class="map-legend" style="background:#BD0026;"></i> 15 — 20<br>
                            <i class="map-legend" style="background:#800026"></i> 20 and Above
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="map-show">
                        <div id="survey_map" class="center-block"></div>
                    </div>
                    <p>&nbsp;</p><p>&nbsp;</p>
                </div>
            </div>
        </div>
       
    </div>
</div>



{% endblock%}

{% block javascripts %}
    <script type="text/javascript">
       var map = L.map('survey_map', {zoomControl: true, doubleClickZoom: false, scrollWheelZoom:false, attributionControl: false}).setView([{{map_center}}], {{ zoom_level|default:6}}),

    info = L.control(),
    //legend = L.control({position: 'bottomright'}),
    indicatorData = {},
    indicatorTable = document.getElementById('indicator-table'),
    countryIndicator = indicatorTable.innerHTML,
    geojson;
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();

  //osmAttrib=;
    L.control.attribution({prefix: '© uSurvey'}).addTo(map);
  var mapData = null;

$(function(){
    $("#id_survey").on('change', function(){
        getCompletionFor();
        load_indicators();
    });
    loadInitialMap();
    load_indicators();
});



var legend = null;
var grades = [20, 40, 60, 80, 100];
var step = null;

function updateLegend2(max) {
    var oldLegend = legend;
    legend = L.control({position: 'bottomright'});
    if(max < 25)
        max = 25;       //just to make sure it is divisible into 5 places.
    step = max/5.

    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend');
        div.innerHTML = '';
        div.innerHTML += "<strong>Interview per EA</strong><br />"
            + '<i style="background:' + getColorFor(null) + '"></i>'+ " Survey not opened<br/>";
        for (var i = 0; i < 4; i++) {
            div.innerHTML += '<i style="background:' + getColorFor(grades[i]) + '"></i> ';
            div.innerHTML += Math.floor(i*step) +" &mdash; "+ Math.floor((i + 1)*step) + "<br/>";
        }
        div.innerHTML += '<i style="background:' + getColorFor(grades[4]) + '"></i> ';
        div.innerHTML += Math.floor(4*step) +" and Above";
        return div;
    };
    try {
        if(oldLegend)
            map.removeControl(oldLegend);
    }catch(err){}
    legend.addTo(map);
}

function updateLegend(max) {
    if(max < 25)
        max = 25;       //just to make sure it is divisible into 5 places.
    step = max/5.
    var div = document.getElementById('map-legend');
    div.innerHTML = '';
    div.innerHTML += '<i class="map-legend" style="background:' + getColorFor(null) + '"></i>'+ " Survey not opened<br/>";
    for (var i = 0; i < 4; i++) {
        div.innerHTML += '<i class="map-legend" style="background:' + getColorFor(grades[i]) + ';"></i> ';
        div.innerHTML += Math.floor(i*step) +" &mdash; "+ Math.floor((i + 1)*step) + "<br/>";
    }
    div.innerHTML += '<i class="map-legend" style="background:' + getColorFor(grades[4]) + '"></i> ';
    div.innerHTML += Math.floor(4*step) +" and Above";
}

function getCompletionFor(){
    if(!$("#id_survey").val())
        return resetMap();
    var survey_url = "{% url 'survey_json_summary' %}?survey=" + $("#id_survey").val();
    max_rate = 0;
    $.getJSON(survey_url, function (rate_data) {
        mapData.features.map(function(feature){
          var property = feature.properties['{{loc_field}}'];
          if(!property)
            property = feature.properties['{{alt_loc_field}}'];
          if(property && property.toUpperCase() in rate_data) {
            property = property.toUpperCase();
            feature.properties.rate = rate_data[property];
            max_rate = Math.max(max_rate, rate_data[property].value);
          }
          else
              feature.properties.rate = {'value': 0, description: ''};
        });
       //update legend
        updateLegend(max_rate);
       geojson = L.geoJson(mapData, {style: style, onEachFeature: onEachFeature}).addTo(map);
    });

}

function load_indicators(){
    var indicator_url = "{% url 'survey_indicators' %}";
    if($("#id_survey").val())
        indicator_url = indicator_url + "?survey=" + $("#id_survey").val();
    $.getJSON(indicator_url, function (data) {
         indicatorData = data;
      });
}

function loadInitialMap(){
    $.getJSON("{{shape_file_uri}}", function (data) {
         mapData = data;
         resetMap();
      });
}



function resetMap() {
    mapData.features.map(function(feature){
            feature.properties.rate = {value: null};
        });
       geojson = L.geoJson(mapData, {style: style, onEachFeature: onEachFeature}).addTo(map);
}


function getColorFor(rate) {
    return rate > 80 && rate <= 100 ? '#800026' :
           rate > 60 && rate <= 80  ? '#BD0026' :
           rate > 40 && rate <= 60  ? '#E31A1C' :
           rate > 20 && rate <= 40  ? '#FC4E2A' :
           rate > 0  && rate <= 20  ? '#FD8D3C' :
           rate == 0 ? '#FFFFFF':
           '#29bc69';
    }

function style(feature) {
   var i = Math.floor(feature.properties.rate.value/step);
   //console.info('i: ' + i + 'grade: ' + grades[i-1] + 'rate: ' + feature.properties.rate.value + ' step: ' + step );
   try {
        return {
            fillColor: getColorFor(grades[i-1]),
            weight: 2,
            opacity: 0.55,
            color: '#fff',
            dashArray: '3',
            fillOpacity: 1
        };
    }catch(err){

    }
}

function onEachFeature(feature, layer) {
/*    var property = feature.properties['{{loc_field}}'];
 if(!property)
    property = feature.properties['{{alt_loc_field}}'];
    if(property) {
        property = property.toUpperCase();
        var label = L.marker(layer.getBounds().getCenter(), {
          icon: L.divIcon({
            className: property,
            html: '<span style="font-size: x-small;">'+property+'</span>',
            iconSize: [25, 20]
          })
            }).addTo(map);
    }*/
    layer.on({
      mouseover: highlightAdminLevel,
      click: zoomAdminLevel,
      mouseout: resetAdminLevelHighlight
  });

}

getIndicatorHtml = function(name, property) {
    var indicatorValue = indicatorData[name][property];
    var displayValue = 'N/A';
    if(indicatorValue) {
        indicatorValue = indicatorValue.toFixed(1);
        displayValue = indicatorValue;
    }
    else {
        indicatorValue = 0.0;
    }
    return '<tr>\
            <td style="width:90%">\
                <div class="progress">\
                    <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="' +  indicatorValue + '" aria-valuemin="0" aria-valuemax="100" style="width:' +  indicatorValue + '%">\
                        <span>' + name + '</span>\
                    </div>\
                </div>\
            </td>\
            <td style="width:10%">\
                <p style="margin-top:-13px; margin-left:5px;font-weight:bold" class="text-success">'  +  displayValue + '</p>\
            </td>\
        </tr>';
}


updateIndicators = function(property) {
     indicatorTable.innerHTML = '<h3 class="rat_h3" style="margin-left: 8px;">'+property+ '</h3>';
     for (var name in indicatorData){
        indicatorTable.innerHTML += getIndicatorHtml(name, property);
     }
}

info.onAdd = function (map) {

};

info.update = function (props) {
  var div = document.getElementById('info-update');
  div.innerHTML = '';
  if(typeof props != 'undefined'){
    var property = props['{{loc_field}}'];
    if(!property)
        property = props['{{alt_loc_field}}'];
    if(property) {
       property = property.toUpperCase();
       updateIndicators(property);
        if('total_eas' in props.rate){
            rate = props.rate.value >-1 ? props.rate.value: 'Survey not opened.';
             div.innerHTML = '<table class="rathna_table">\
<thead>\
    <tr>\
        <th colspan="2" class="text-left">\
            <h3 class="rat_h3">'+property+'</h3>\
        </th>\
    </tr>\
</thead>\
<tbody>\
    <tr class="r_heading" style="border-bottom:1px solid #ccc">\
        <th >'+props.rate.total_interviews+'</th>\
        <th>'+props.rate.total_eas+'</th>\
    </tr>\
    <tr>\
        <td >Interviews</td>\
        <td >Total EAs</td>\
    </tr>\
    <tr class="r_heading" style="border-bottom:1px solid #ccc">\
        <th>'+props.rate.value+'</th>\
        <th>'+props.rate.active_eas+'</th>\
    </tr>\
    <tr class="r_heading" >\
        <td >Interviews (Per EA)</td>\
        <td >Interviewed EAs</td>\
    </tr>\
    <tr class="r_heading" style="border-bottom:1px solid #ccc">\
        <th >'+props.rate.per_active_ea+'</th>\
        <th></th>\
    </tr>\
    <tr class="r_heading" >\
        <td >Per Interviewed EA (Ave)</td>\
        <td></td>\
    </tr>\
</tbody>\
</table>';

        }
        else{
             div.innerHTML = '<table class="rathna_table">\
<thead>\
    <tr>\
        <th colspan="2" class="text-left">\
            <h3 class="rat_h3">'+property+'</h3>\
        </th>\
    </tr>\
</thead></table>';
        }
    }
  }
};


<!--var survey_selector = L.control({position: 'topleft'});-->

    <!--survey_selector.onAdd = function(map){-->
        <!--var selector_div = L.DomUtil.create('div', 'survey');-->
        <!--var surveysHtml = $('#map_filter');-->
        <!--$(selector_div).html(surveysHtml.html());-->
        <!--$(surveysHtml).removeAttr('class', 'hide')-->
        <!--$(surveysHtml).remove()-->
        <!--return selector_div;-->
    <!--}-->


//survey_selector.addTo(map)

function highlightAdminLevel(event){
    var layer = event.target
    layer.setStyle({
        weight: 3,
        color:'#FF8200',
        dashArray: '',
        //fillColor: '#95bee5',
        fillOpacity: 0.3
    })
   if (!L.Browser.ie && !L.Browser.opera) {
        layer.bringToFront();
    }

    info.update(layer.feature.properties)
}

info.addTo(map);

function zoomAdminLevel(event){
    map.fitBounds(event.target.getBounds());
    var layer = event.target;
    var adminLevel = layer.feature.properties['{{loc_field}}'];
    if(!adminLevel)
         adminLevel = layer.feature.properties['{{alt_loc_field}}'];
    //alert('AdminLevel: ' + adminLevel);

}

function resetAdminLevelHighlight(event){
    geojson.resetStyle(event.target);
    indicatorTable.innerHTML = countryIndicator;
}

    </script>
{% endblock %}
