{% extends "layout.html" %}
{% block title %}
  Home
{% endblock %}
{% block content %}
<div class="row">
  <div class="span4">
    <img src="{{STATIC_URL}}/img/uganda_crane.jpg"/>
  </div>
  <div class="span6">
    <h4>eMICS</h4>
      <p style="text-align:justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida metus lacus, nec tristique neque auctor et. Nam et pellentesque orci, in adipiscing sapien. Nulla et dui leo. In tempor aliquam euismod. Duis fringilla mollis nulla in gravida. Nullam tincidunt, nisi sit amet pharetra tempor, dolor turpis tristique augue, nec suscipit nisl nisi non odio. Integer tempor turpis id mauris varius pharetra. Pellentesque varius imperdiet ipsum. Proin at aliquet arcu. Nunc ut vestibulum turpis, et condimentum purus.</p>

      <p style="text-align:justify">Curabitur feugiat pulvinar bibendum. Fusce pellentesque ligula ut mauris auctor, eu convallis arcu sollicitudin. Aliquam iaculis lectus eu leo facilisis, id tincidunt erat consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec tempus nulla quis elit euismod, eget pretium mi imperdiet. Aenean purus dolor, gravida a nisi id, iaculis pulvinar libero. Ut semper turpis ut magna vehicula, non consectetur risus ultrices. Cras risus velit, ultricies at rhoncus quis, fringilla et velit. Cras a aliquam urna. Sed elementum ipsum vel tortor sodales, in blandit ligula molestie. Fusce in faucibus nunc. Maecenas ornare ac augue id venenatis. Vivamus consequat sagittis viverra. Proin posuere feugiat tempor. Nam hendrerit felis justo, a dignissim enim consequat non. </p>

      <p style="text-align:justify">Vivamus ipsum lorem, luctus ut lobortis a, ultrices sed nulla. Proin eget dapibus ipsum. Praesent tempus ac nisi eget tristique. Proin gravida tincidunt dui. Vestibulum pulvinar sem vel ante placerat bibendum. Ut pulvinar diam in augue porttitor, non egestas nulla rhoncus. Sed sed vehicula libero.</p>
  </div>
</div>
{% endblock%}