{% extends "layout.html" %}
{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
   <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <style>
        <!--.leaflet-container {
            background-color:rgba(255,0,0,0.0);
        }-->
        .leaflet-container {
    margin-bottom: 10px;
    margin-left: 384px;
     overflow: hidden;
}

.dataTables_wrapper .row:first-child {
    display: none;
  }



        <!--#survey_map {
            height: 500px;
            width:600px;
            border:1px solid #063;
        }-->
        #survey_map {
    border: 1px solid #c5c5c6;
    box-shadow: 5px 5px 5px #dbddde;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

        .rop {
         text-align:center;
         }
         .leaflet-container {
            margin-left: 384px;
            /*margin-top: 77px;*/
            overflow: hidden;

        }
        .leaflet-container {
            margin-bottom: 10px;
            margin-left: 384px;
             overflow: hidden;
        }
        #survey_map {
            border: 1px solid #c5c5c6;
            box-shadow: 5px 5px 5px #dbddde;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
            width: 600px;
        }

	</style>
	<style>
/*.info { padding: 6px 8px; font: 12px "Trebuchet MS",Open Sans, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } */
.info {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border: 1px solid #4695fb;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Trebuchet MS;
    font-size: 14px;
    color: #307ecc;
    padding: 6px 8px;
}
.info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>

{% endblock %}
{% block title %}
  Survey Map
{% endblock %}
{% block content %}
<div id="home_display">
    <div id="survey_map" >
    </div>
        {% include "horizontal_filter_form.html" with a_form=map_filter no_button=True filter_id='map_filter' %}
</div>
{% endblock%}

{% block javascripts %}
    <script type="text/javascript">
        <!--$("#survey_map").height($(document).height() * 0.7);-->
       var map = L.map('survey_map').setView([{{map_center}}], {{ zoom_level|default:6}}, {zoomControl: true, doubleClickZoom: false, scrollWheelZoom:false}),
    info = L.control(),
    legend = L.control({position: 'bottomright'}),
    geojson;
  osmAttrib='© uSurvey';
  var mapData = null;

$(function(){
    $(".map-filter").on('change', function(){
        getCompletionFor();
    });
    $('#id_survey').on('change', function(){
        updateIndicators();
    });
    $('#id_indicator').on('change', function(){
        updateParameters();
    });
    //getCompletionFor();
    loadInitialMap();
});

function updateIndicators() {
    var url = '{% url "survey_indicators" %}?survey=' + $("#id_survey").val();
    $.get(url, function( datas ) {
       $('#id_indicator').find("option:gt(0)").remove();
       $.each(datas, function (i, data) {
            $('#id_indicator').append('<option value="' + data['id'] + '">' + data['name'] + "</option>");
        });
    });
}

function updateParameters() {
    $.get( '{% url "survey_parameters" %}?indicator=' + $("#id_indicator").val(), function( datas ) {
       $('#id_parameter').find("option:gt(0)").remove();
       $.each(datas, function (i, data) {
            $('#id_parameter').append('<option value="' + data['id'] + '">' + data['name'] + "</option>");
        });
    });
}

function getCompletionFor(){
    var survey_url = "{% url 'survey_json_summary' %}?survey=" + $("#id_survey").val()+'&indicator='+$("#id_indicator").val()+'&parameter='+$("#id_parameter").val()+'&metric='+$("#id_metric").val();
    $.getJSON(survey_url, function (rate_data) {
      $.each(mapData, function(element){
         mapData.features.map(function(feature){
          var property = feature.properties['{{loc_field}}'];
          if(property === undefined)
            property = feature.properties['{{alt_loc_field}}'];
          if(property)
            property = property.toUpperCase();
          feature.properties.rate = rate_data[property]
        })
      });
       geojson = L.geoJson(mapData, {style: style, onEachFeature: onEachFeature}).addTo(map);
    });
}

function loadInitialMap(){
    $.getJSON("{{shape_file_uri}}", function (data) {
          mapData = data;
          $.each(data, function(element){
             data.features.map(function(feature){
              var property = feature.properties['{{loc_field}}'];
              if(property === undefined)
                property = feature.properties['{{alt_loc_field}}'];
              if(property)
                property = property.toUpperCase();
              feature.properties.rate = {value: -2, description: ''};
            })
          });
       geojson = L.geoJson(data, {style: style, onEachFeature: onEachFeature}).addTo(map);
      });
}

function getColorFor(rate) {
    return rate > 80 && rate <= 100 ? '#800026' :
           rate > 60 && rate <= 80  ? '#BD0026' :
           rate > 40 && rate <= 60  ? '#E31A1C' :
           rate > 20 && rate <= 40  ? '#FC4E2A' :
           rate > 0  && rate <= 20  ? '#FD8D3C' :
           rate == 0 ? '#FFFFFF':
           '#D1D0CE';
    }

function style(feature) {
    return {
        fillColor: getColorFor(feature.properties.rate.value),
        weight: 2,
        opacity: 0.55,
        color: '#FD8D3C',
        dashArray: '3',
        fillOpacity: 1
    };
}

function onEachFeature(feature, layer) {
    layer.on({
      mouseover: highlightAdminLevel,
      click: zoomAdminLevel,
      mouseout: resetAdminLevelHighlight
  });
}

info.onAdd = function (map) {
  this._div = L.DomUtil.create('div', 'info');
  this.update();
  return this._div;
};
info.update = function (props) {
  this._div.innerHTML = '';
  if($('#id_indicator').val()) {
    this._div.innerHTML += "<h5> "+ $("#id_indicator option:selected").text() + '</h5><br />';
   }
   this._div.innerHTML += $("#id_metric option:selected").text()+ '&nbsp;';
  if($('#id_parameter').val())
     this._div.innerHTML += ':&nbsp;Respondents saying: ' + $('#id_parameter').val();
  if(typeof props != 'undefined'){
    var property = props['{{loc_field}}'];
    if(property === undefined)
        property = props['{{alt_loc_field}}'];
    if(property)
       property = property.toUpperCase();
    if(props.rate.value >-2){
        rate = props.rate.value >-1 ? props.rate.value: 'Survey not opened.';
        this._div.innerHTML += property +': '+ rate.description;
    }
    else{
        this._div.innerHTML = property;
    }

  }
};

var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {
    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0,20, 40, 60, 80, 100];
    div.innerHTML += "<h3>Key</h3>"
        + '<i style="background:' + getColorFor(-1) + '"></i>'+ " Survey not opened<br/>";
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColorFor(grades[i] + 1) + '"></i> ';
        if(typeof  grades[i] != 'undefined' && typeof  grades[i +1] != 'undefined'){
            div.innerHTML += grades[i] +" &mdash; "+ (grades[i + 1]) + "<br/>"
        }
    }
    return div;
};

var survey_selector = L.control({position: 'topleft'});

    survey_selector.onAdd = function(map){
        var selector_div = L.DomUtil.create('div', 'survey');
        var surveysHtml = $('#map_filter');
        $(selector_div).html(surveysHtml.html());
        $(surveysHtml).removeAttr('class', 'hide')
        $(surveysHtml).remove()
        return selector_div;
    }

legend.addTo(map);
info.addTo(map);
survey_selector.addTo(map)

function highlightAdminLevel(event){
    var layer = event.target
    layer.setStyle({
        weight: 3,
        color:'#666',
        dashArray: '',
        fillOpacity: 0.3
    })
   if (!L.Browser.ie && !L.Browser.opera) {
        layer.bringToFront();
    }

    info.update(layer.feature.properties)
}

function zoomAdminLevel(event){
    map.fitBounds(event.target.getBounds());
    var layer = event.target;
    var adminLevel = layer.feature.properties['{{loc_field}}'];
    if(!adminLevel)
         adminLevel = layer.feature.properties['{{alt_loc_field}}'];
    alert('AdminLevel: ' + adminLevel);

}

function resetAdminLevelHighlight(event){
    geojson.resetStyle(event.target)
}

    </script>
{% endblock %}
