{% extends "form.html"%}
{% load template_tags %}

{% block title %}
    Create geographical location hierarchy
{% endblock %}
{% block display_form_fields %}
  <div class="control-group">
    <label class="control-label" for="id_counrty">Country</label>
    <div class="controls {{ hierarchy_form.country|is_radio }}">
      {{hierarchy_form.country}} <label class="error">
         </label>
    </div>
  </div>
  <table border="0" cellpadding="10" cellspacing="30">
    <tbody>
    {{details_formset.management_form}}
    {% for form in details_formset.forms %}
      <tr>
        <td>Level <span class="number"> {{ forloop.counter }}</span></td>
        <td>{{ form.levels }}<span style="color: red">{% include "base/field_error.html" with field=form.levels %}</span></td>
        <td><a href="javascript:;" class="add-on btn btn_primary add-level"><i class="icon-plus"></i></a>
         <a href="javascript:;" class="add-on btn btn_primary remove-level"><i class="icon-remove"></i></a>
        </td>
        <td>{{ form.required }} Required</td>
        <td>{{ form.has_code }} Has Code</td>
        <td><input id="id_form-{{ forloop.counter0 }}-length_of_code" class="{% if not  form.length_of_code.errors%}hide {% endif %} code" type="number" placeholder="length of code" name="form-{{ forloop.counter0 }}-length_of_code" maxlength="2"><span style="color: red">{% include "base/field_error.html" with field=form.length_of_code %}</span></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

<script type="text/template" id="add-level-template">
  <tr>
    <td>Level <span class="number"> {{ forloop.counter }}</span></td>
    <td><input  type="text" name="levels" maxlength="50"></td>
    <td><a href="javascript:;" class="add-on btn btn_primary add-level"><i class="icon-plus"></i></a>
     <a href="javascript:;" class="add-on btn btn_primary remove-level"><i class="icon-remove"></i></a>
    </td>
    <td><input  type="checkbox" name="required"> Required</td>
    <td><input  class="has_code" type="checkbox" name="has_code"> Has Code</td>
    <td><input  class="hide code" type="text" name="lenght_of_code" maxlength="30"></td>
  </tr>
</script>

{% endblock %}

{% block javascripts %}
    <script src="{{STATIC_URL}}js/levels.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}