{% extends 'layout.html' %}
{% block title %}
    Upload Geographical Locations
{% endblock %}
{% block content %}
    <h3>Upload Geographical Locations</h3>
    <form action="{{ action }}" method="post" accept-charset="utf-8" id="{{ id }}" class="form-horizontal {{ class }}">
        {% csrf_token %}
        <div class="control-group">
        <label class="control-label" for="{id_country">Country</label>
        <div class="controls"><input id="id_country" name="country" type="text" disabled="true" value={{ country_name }}>
        </div>
        </div>
        {% include "naked_form.html" with a_form=upload_form %}
        <div><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_table">Location Input File Format</a></div>
        <div id="collapse_table"  class="accordion-body collapse">
        <div class="accordion-inner">
            <table class="table-bordered table">
                <tr>
                {% for type in location_types %}
                    <th>
                        {{ type.name.capitalize }}
                    </th>
                {% endfor %}
                </tr>
                {% for row_count in range %}
                    <tr>
                    {% for type in location_types %}
                        <td>
                            {{ type.name.lower }}{{ row_count }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}

            </table>
        </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="save_button"
                    data-disabled-text="{{ loading_text }}">{{ button_label }}</button>
            <a href="#" class="btn btn-primary" name="cancel_button">Cancel</a>
        </div>
    </form>

{% endblock %}