<div class="modal fade" id="delete_member_{{household_member.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Household Member</h4>
            </div>
            <div class="modal-body">
                <span class="alert_confirm">Confirm:</span> Are you sure you want to delete {{household_member.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'delete_household_member_page' household_member.household.id household_member.id %}">Yes</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->