{% extends 'form.html' %}
{% block title %}
    Select Questions for {{ batch.survey.name.capitalize }} - {{ batch.name.capitalize }}
{% endblock %}
{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}js/redips_drag/style.css" />
{% endblock %}
{% block pre_form_content %}
<div class="row" style="margin-right: -15px;
    margin-left: -15px;background: none">
<div class="col-md-12">
<div class="filter-form right">
		{% include "horizontal_naked_form.html" with a_form=question_filter_form %}
    </div>
    <div class="forleft">
    	{% include "search_form.html" with id="library_search_form" placeholder='search with text or code' %}
    </div>
 </div>

 <div class="col-md-12">

 	<ul>
			<li class="help tip">
				Click on code or text to move between tables
			</li>
		</ul>
<div class="row" style="margin-right: -15px;
    margin-left: -15px;background: none;border-bottom: none;">
	<div class="col-md-6">
<table class="table" style="
    margin-bottom: 0px !important;">
<thead id="lib_questions_table_head">
<tr >
	<th colspan="2" class="text-center" style="background: #f2f2f2 linear-gradient(to bottom, #f8f8f8 0px, #fff 100%) repeat-x scroll 0 0;
    /*color: #707070;*/
    font-weight: 400;
    border-left-color: #ddd;
   color: #09F;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;">LIBRARY QUESTIONS</th>

</tr>

</thead>
 </table>


<div class="batch_assignment" >

					<table id="lib_questions_table" class="table table-hover" >
						<thead id="lib_questions_table_head">
       <tr><th align="center" class="code" >CODE</th>

<th align="left" class="question" >TEXT</th></tr>
		</thead>
						 <tbody id="lib_questions_table_body" class="lib_questions_table_body1">
						{% for question in library_questions %}
							<tr id="{{question.pk}}-selectable" onclick="Move(this);" title="click to move" class="ms-selectable">
								<td class="tabletrtd code"><a href="#">
											<input type="hidden" name="identifier" value="{{question.identifier}}" />
											<input type="hidden" name="text" value="{{question.text}}" />
											<input type="hidden" name="answer_type" value="{{question.answer_type}}" />
											<input type="hidden" name="module" value="{{question.module}}" />
											<input type="hidden" name="group" value="{{question.group}}" />
										{{question.identifier}}</a>
								</td>
								<td class="tabletrtd question"><a href="#">{{question.text}}</a></td>
							</tr>
						{% endfor %}
						 </tbody>
					</table>
</div>

{% endblock %}
{% block display_form_fields %}
	</div>



	<div class="col-md-6">


	<table class="table" style="
    margin-bottom: 0px !important;">
<thead id="lib_questions_table_head">
<tr >
	<th colspan="2" class="text-center" style="background: #f2f2f2 linear-gradient(to bottom, #f8f8f8 0px, #fff 100%) repeat-x scroll 0 0;
    /*color: #707070;*/
    color: #09F;
    font-weight: 400;
    border-left-color: #ddd;
   
    font-family: "Open Sans",sans-serif;
    font-size: 13px;">BATCH QUESTIONS</th>

</tr>
<tr><th align="center" class="code">CODE</th>

<th align="left" class="question">TEXT</th></tr>
</thead>
 </table>
	



		   		<div class="batch_assignment"  >
						<table id="batch_questions" class="table table-hover"  width="100%">
							
							<thead id="batch_questions_head">
        
	</thead>
							<tbody id="batch_questions_body" class="lib_questions_table_body1"></tbody>
						</table>
					</div>

				<input type="hidden" value="{{ batch.id }}" id="batch_id">
		  


	</div>

</div>

 </div>

	<div class="col-md-12">
	{% endblock %}
{% block non_form_content %}
	</div>
{% endblock %}
</div>
	       
{% block javascripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/batch.js"></script>
{% comment %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/redips_drag/redips-drag-min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/redips_drag/script.js"></script>
{% endcomment %}

<script type="text/javascript">
<!--$(document).ready( function () {-->
	<!--libTable =  $('lib_questions_table').dataTable();-->
	<!--batchTable =  $('batch_questions').dataTable();-->
	<!--alert(libTable);-->
	<!--});-->

function Move(tr){
 while (tr.parentNode&&tr.nodeName.toUpperCase()!='TR'){
  tr=tr.parentNode
 }
 var table1=document.getElementById('lib_questions_table_body');
 if (!this.rows){
  var rows=table1.getElementsByTagName('TR');
  this.rows=[];
  for (var z0=0;z0<rows.length;z0++){
   this.rows[z0]=rows[z0];
   <!--alert(rows[z0].style.background);-->
   <!--if(z0%2 == 1) {-->
		<!--this.rows[z0].style.background = '#005580;';-->
   <!--}-->
   <!--else-->
   <!--{-->
		<!--this.rows[z0].style.background = 'white;';-->
   <!--}-->
  }
 }
 var table2=document.getElementById('batch_questions_body');
 if (tr.parentNode!=table2){
  table2.appendChild(tr);
 }
 else {
  table1.appendChild(tr);
  for (var z0=0;z0<this.rows.length;z0++){
   if (this.rows[z0].parentNode==table1){
	table1.appendChild(this.rows[z0]);
   }
  }
 }

 <!--&lt;!&ndash;$('lib_questions_table').dataTable();&ndash;&gt;-->
 <!--libTable.fnDraw();-->
 <!--&lt;!&ndash;$('batch_questions').dataTable();&ndash;&gt;-->
 <!--batchTable.fnDraw();-->
}

</script>
<script type="text/javascript">

	var $table = $('table.scroll'),
    $bodyCells = $table.find('tbody tr:first').children(),
    colWidth;

// Adjust the width of thead cells when window resizes
$(window).resize(function() {
    // Get the tbody columns width array
    colWidth = $bodyCells.map(function() {
        return $(this).width();
    }).get();

    // Set the width of thead columns
    $table.find('thead tr').children().each(function(i, v) {
        $(v).width(colWidth[i]);
    });
}).resize(); // Trigger resize handler
</script>
<link href="{{ STATIC_URL }}toassets/instyle.css" rel="stylesheet" type="text/css">
{% endblock %}

