<div id="help-text">
  <div id="ussd-max-chars" class="alert alert-danger help-text"></div>
{%  if model_name == 'Batch' %}
  <div class="text-warning help-text placeholder-help">
    <p class="text-justify">While writing a question, auto suggestion feature is available, which will prompt with the <strong>“Variable Names”</strong> of the preceding questions, that helps to include <strong>“answer of the preceding question”</strong> in composing succeeding questions.
    </p><br/>
    <p class="text-justify">i.e. just type, double curly brackets <code>( {{ ),</code> to get list of Variable Names of the preceding questions.</p><br/>
    <p><strong>Example:<br/></strong> type <code>{{</code> , to get Variable Names, then select any <strong>‘Variable Name’</strong> to insert; <code>&#123;&#123;FIRST_NAME&#125;&#125;,&#123;&#123;name_student&#125;&#125;</code></p><br/>
    <p class="text-justify">Like: What is <code>&#123;&#123;FIRST_NAME&#125;&#125;'s</code> Ethnicity?</p>
    <p>&nbsp;</p>
  </div>
  {%else%}
  <div class="text-warning help-text placeholder-help">
      <p class="text-justify">While writing a question, auto suggestion feature is available, which will prompt with the <strong>“Variable Names”</strong> of the preceding questions, that helps to include <strong>“answer of the preceding question”</strong> in composing succeeding questions.</p><br/>

    <p class="text-justify">i.e. just type, double curly brackets <code>( {{ ),</code> to get list of Variable Names of the preceding questions.</p> <br/>
    <p class="text-justify "><strong>Example:<br/></strong> type <code>{{</code> , to get Variable Names, then select any <strong>‘Variable Name’ </strong>to insert; <code>&#123;&#123;NAME&#125;&#125;, &#123;&#123;HH_head&#125;&#125;</code>
    <br/>Like: Gender of the <code>&#123;&#123;HH_head&#125;&#125;</code></p>
    <p>&nbsp;</p>

  </div>
{%endif%}
</div>