<div id="help-text">
  <div id="ussd-max-chars" class="alert alert-danger help-text"></div>
  {% if prev_question %}
  <div class="text-warning help-text placeholder-help">
    <p class="text-justify">You can automatically insert the response to a previously answered question (during data collection) by specifying its question identifier in double curly brackets in the Text field.
    </p><br/>
    <p class="text-justify"><strong>Example:<br/></strong>  What is <code>&#123;&#123;first_name&#125;&#125;'s</code> Ethnicity?</p>
    <p>&nbsp;</p>
  </div>
  {% endif %}
</div>