{% extends "layout.html" %}
{% block extra_css %}
    <style type="text/css">

        div.row-fluid {
            display: none;
        }
    </style>
{% endblock %}
{% block title %}
    {{ batch.name.capitalize }} Questions
{% endblock %}
{% block search %}
 {% include "horizontal_filter_form.html" with a_form=question_filter_form no_button=True filter_id='question-filter-form' %}
<br />
{% include "search_form.html" %}
{% endblock %}
{% block page_actions %}

        <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'export_questions_in_qset' batch.id %}" class="btn btn_primary pull-right padded-bottom">Export Questions</a>
											</button>
{% if batch.interviews.count == 0 %}
    <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'new_qset_question_page' batch.id %}" data-toggle="modal"  class="btn btn_primary pull-right padded-bottom">Add Question</a>
											</button>
    <button class="btn btn-white btn-warning btn-bold">
												<i class="ace-icon fa fa-plus bigger-120 orange"></i>
												<a href="{% url 'qset_assign_questions_page' batch.id %}" data-toggle="modal"  class="btn btn_primary pull-right padded-bottom">Select Question</a>
											</button>
{% endif %}
{% endblock %}
{% block content %}
    {% load template_tags %}

    {% if batch %}
        <form method="post" accept-charset="utf-8" action="{% url 'qset_update_question_order_page' batch.id %}">
        {% csrf_token %}
    {% endif %}

<table class="table table-striped table-bordered table-hover clear" id="questions_table">
    <thead>
    <tr>
        <th>
            Code
        </th>
        <th class="span8">
            Question
        </th>
        <th>
            Type
        </th>
        <th  style="background-image: None;">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    {% for question in questions %}
        <tr>
            <td>
                {% if question.loop_started %}<i class="usur-icon fa fa-object-ungroup bigger-120"></i>{% endif %}{% if question.loop_ended %}<i class="fa fa-times-circle"></i> {% endif %}{{ question.identifier }}
            </td>
            <td class="span8">
                {% if question.conditional_flows %}
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                       href="#collapse_question_{{ question.id }}">
                        {{ question.text }}</a>
                    <div id="collapse_question_{{ question.id }}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                {% for flow in question.conditional_flows %}
                                   {% if flow.next_question %}
                                        <li>
                                            <h5 class="muted validation"><span>{{ flow.validation_test }}</span>&nbsp;&nbsp;{{ flow.params_display | display_list }}</h5>
                                            <span class="muted flow_desc">{{ flow.desc }}</span>
                                            <span class="next_quest">{{ flow.next_question.text }} </span>&nbsp;&nbsp;
                                            {% if  batch and batch.interviews.count == 0 %}
                                            <a href="#delete_logic_{{ flow.id }}" data-toggle="modal"
                                               id="delete_subquestion">Delete</a>
                                            &nbsp;&nbsp;
                                               <a href="{% url 'qset_edit_question_page' flow.next_question.id %}"
                                                  id="edit_subquestion_{{ flow.id }}">Edit</a>&nbsp;&nbsp;
                                            <!-- disabled this for now -->
                                            <!-- a href="{% url 'add_question_logic_page' batch.pk  flow.next_question.pk %}" class="add-logic">Add Logic</a -->
                                            {% include "base/delete_modal.html" with object_name=flow.desc|add:" "|add:flow.next_question.text id=flow.id name='Logic' url=flow.id|get_url_with_ids:"delete_qset_question_logic_page" %}
                                            {% endif %}

                                        </li>

                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    {{ question.text }}
                {% endif %}
                {% if batch %}
                    <input type="hidden" name="order_information" value="{{ forloop.counter }}-{{ question.id }}"/>
                {% endif %}
            </td>
            <td>
                {{ question.answer_type.upper }}
            </td>
            <td>
             <div class="">
                <div class="inline pos-rel">
                       <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                           <i class="usur-icon fa fa-caret-down icon-only bigger-120"></i>
                       </button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                             {% if  batch and batch.interviews.count == 0 %}
                            <li>
                                <a href="{% url 'qset_edit_question_page' question.pk %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Edit</span></a>
                            </li>
                            <li>
                                <a href="{% url 'insert_qset_question_page' question.pk %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Insert"><span class="blue"><i class="usur-icon fa fa-pencil-square-o bigger-120"></i>Insert Question</span></a>
                            </li>
                            <li>
                                <a href="{% url 'loop_qset_question_page' question.pk %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Insert"><span class="blue"><i class="usur-icon fa fa-plus-square bigger-120"></i>Start Loop</span></a>
                            </li>
                            <li>
                                <a href="{% url 'add_qset_question_logic_page' batch.pk question.pk %}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Insert"><span class="blue"><i class="usur-icon fa fa-code bigger-120"></i>Add Logic</span></a>
                            </li>
                            <li><a href="#remove_question_{{ question.pk }}" data-toggle="modal" class="tooltip-success" data-rel="tooltip" title=""><span class="green"><i class="usur-icon fa fa-trash bigger-120"></i>Delete</span></a></li>
                            {% include "base/delete_modal.html" with object_name=question.name id=question.id name=question.verbose_name url=question.id|get_url_with_ids:"delete_qset_question_logic_page" %}
                            {% endif %}
                            {% if question.options.all %}
                            <li>
                                <a href="#view_options_{{ question.id }}" data-toggle="modal" class="tooltip-info" data-rel="tooltip" title="" data-original-title="Edit"><span class="blue"><i class="usur-icon fa fa-question-circle bigger-120"></i>View options{% if question.conditional_flows %}/Logic{% endif %}</span></a>
                            </li>
                            {% elif question.conditional_flows %}
                            <li><a href="#view_logic_{{ question.id }}" data-toggle="modal" class="tooltip-error" data-rel="tooltip" title=""><span class="red"><i class="usur-icon a fa fa-question-circle bigger-120"></i>View Logic</span></a></li>
                            {% endif %}
                        </ul>
                </div>
            </div>


                {% if question.options.all %}
                    <div class="modal fade hide" id="view_options_{{ question.id }}" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{ question.text }}</h4>
                                </div>
                                <div class="modal-body">
                                    {% include 'questions/_view_question_options.html' %}
                                    <a href="#" class="btn btn-primary pull-right"
                                       id="close_view_options_{{ question.id }}" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="modal fade hide" id="view_logic_{{ question.id }}" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">{{ question.text }}</h4>
                                </div>
                                <div class="modal-body">
                                    {% include 'questions/_view_question_logic.html' %}
                                    <a href="#" class="btn btn-primary pull-right"
                                       id="close_view_options_{{ question.id }}" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% include "base/delete_modal.html" with object_name=question.text id=question.id name="Question" url=question.id|get_url_with_ids:"delete_question_page" %}
                {% if batch %}
                    {% include "base/remove_modal.html" with object_name=question.text id=question.id name="Question" url=batch.id|add_string:question.id|get_url_with_ids:"remove_qset_question_page" %}
                {% endif %}
            </td>

        </tr>

    {% endfor %}
    </tbody>
</table>
{% if batch %}
    <button type="submit" class="btn btn-primary pull-right" name="save_button">Update Question Order</button>
    </form>
{% endif %}

{% endblock %}

{% block javascripts %}
    {% if batch %}
        <script src="{{ STATIC_URL }}js/jquery.tablednd.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/batch_questions.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}js/questions.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

