{% extends "form.html" %}

{% block title %}
  {% if parent_question or heading %}
    {{ heading }}
  {% else %}
    New Question
  {% endif %}
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/awesomplete.css" />
<script src="{{ STATIC_URL }}js/awesomplete.min.js" async></script>
{% endblock %}

{% block pre_form_content %}
  {% if parent_question %}
     <h4> to question: {{parent_question.text}} </h4>
  {% endif %}
  {% if prev_question %}
     <h4> <span>Preceding question:</span> {{prev_question.text}} </h4>
  {% endif %}
    <p>Please note that the following special characters will be removed on USSD [* ! # ' ; &]</p>
{% endblock%}

{% block display_form_fields %}
<style type="text/css">
  #id_identifier{
    width: 262px !important;
    height: 25px !important;
    margin-left: 3px !important;
  }
  #id_text{
    margin-left: 3px;
  }
  .dataTables_wrapper select {    margin-bottom: 0 !important;    margin-left: 4px!important;    margin-right: 4px!important;    margin-top: 0px !important;    padding: 3px !important;    width: 261px!important;}
  .form-actions {
    background-color: #fff;
    border-top: 1px solid #c3a0d9;
    margin-bottom: 0px !important; 
    margin-top: 0px !important; 
    padding: 8px 20px 20px !important;
    /* text-align: center; */
}  
</style>
<!-- <div class="control-group">
        <label class="control-label" for="text_counter"></label>
        <div class="controls">
            <span id="text-counter"></span>
        </div>
  </div> -->
{% include "naked_form.html" with a_form=questionform %}
{% if options %}
  {% for option in options %}
   {% if option %}
    <div class="control-group options question-option">
        <label class="control-label">Option <span class="number"> {{ option.order }}</span></label>
        <div class="controls">
            <input type="text" maxlength="100" name="options" value="{{ option.text }}">
            <a href="javascript:;" class="btn btn-white btn-warning btn-bold add-option"><i class="ace-icon fa fa-plus bigger-120 orange"></i></i></a>
            <a href="javascript:;" class="btn btn-white btn-warning btn-bold remove-option"><i class="ace-icon fa fa-minus bigger-120 orange"></i></i></a>
        </div>
    </div>
    {% endif %}
  {% endfor %}

{% endif %}
{% include "_multiple_options.html" with option_label='Option' id="question-option-template" name='options'%}
{% if parent_question %}
<script type="text/template" id="question-group-template">
    <select id="id_group" name="group">
      <option value="{{parent_question.group.pk}}" selected="selected">{{parent_question.group.name}}</option>
    </select>
</script>
{% endif %}

{% endblock %}
    {% block buttons %}
  <div class="form-actions">
    <button id="button" type="submit" class="btn btn-primary submit" name="save_button" data-disabled-text="{{ loading_text }}">Save</button>
    <button id="button" type="submit" class="btn btn-primary submit" name="add_more_button" data-disabled-text="{{ loading_text }}">Save and Add More</button>
    <button id="button" type="submit" class="btn btn-primary submit" name="add_to_lib_button" data-disabled-text="{{ loading_text }}">Save and Update Library</button>

    {% if cancel_url %}
      <a href="{{ cancel_url }}" class="btn btn-primary" name="cancel_button" class="cancel" style=" padding-right: 5px; padding-left: 5px; padding-bottom: 1px;">Cancel</a>      
    {% else %}
      <a href="#" class="btn btn-primary" name="cancel_button" id="cancel_{{ id }}" class="cancel">Cancel</a>
    {% endif %}
  </div>
    {% endblock %}

{% block javascripts %}
    <script src="{{STATIC_URL}}js/type-auto-suggest.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{STATIC_URL}}js/questions.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            channel_map = {
                {% for answer_type, channels in questionform.answer_map.items %}
                    '{{answer_type}}' : [{% for channel in channels %}'{{channel}}',{% endfor %}],
                {% endfor %}
            };
         $(function(){
                $('#id_text').on('keyup', function(){
                   make_suggestions('#id_text', "{% url 'qset_identifiers' %}?id={{batch.pk}}{% if questionform.instance.id %}&q_id={{questionform.instance.id}}{% endif %}");
                   this.focus();
                });
            });
        </script>
{% endblock %}